<div class="container">
  <article>
    <img
      src="../../../../assets/perfis/yonkous/buggy.gif"
      alt="gif Buggy"
      class="img-gif"
    />
    <h2>Buggy - O Palhaço Estrela</h2>
    <p>
      Buggy se tornar um Yonkou em One Piece é uma reviravolta surpreendente,
      mas que faz sentido dentro do universo da série. Ele adquire influência no
      submundo e demonstra os três pilares fundamentais para ser um Imperador:
      poder, influência e recursos. Buggy, também conhecido como o Palhaço
      Estrela, é o capitão dos Piratas Buggy e co-líder da Aliança Buggy e
      Alvida. Ele já foi aprendiz dos Piratas do Roger ao lado de Shanks, outro
      personagem importante na trama. Ao longo de sua história, Buggy acumulou
      uma recompensa considerável de 15.000.000 de Berries, possuindo também um
      tesouro valioso e um grande navio chamado Big Top. Apesar de sua origem
      como pirata cômico e trapalhão, Buggy demonstra ter os atributos
      necessários para ser reconhecido como um dos Quatro Imperadores, ao lado
      de figuras poderosas como Shanks e Teach. A ascensão de Buggy ao status de
      Yonkou adiciona uma camada interessante à narrativa de One Piece,
      mostrando que até mesmo personagens aparentemente menos sérios podem ter
      um impacto significativo no mundo pirata e nas aventuras de Luffy e seus
      companheiros.
    </p>

    <h2>Bara Bara no Mi</h2>
    <img
      src="../../../../assets/frutos/Bara_Bara.jpg"
      alt="Bara Bara no mi"
      class="img-fruto"
    />
    <p>
      É uma Fruta do Diabo do tipo Paramecia. O usuário da Bara Bara no Mi pode
      separar seu corpo em múltiplas partes, como braços, pernas, torso, etc.,
      sem sofrer danos. Eles têm controle total sobre essas partes desmembradas,
      podendo movê-las à vontade, inclusive lançando-as como projéteis. Essa
      habilidade oferece uma grande vantagem tática em combate, permitindo ao
      usuário evadir ataques facilmente e realizar ataques surpresa dos ângulos
      mais inesperados. Além disso, eles podem reconfigurar seu corpo
      rapidamente para evitar ferimentos graves.
    </p>
  </article>
</div>
