<div class="container">
  <article>
    <h1>Buggy - O Palhaço Estrela</h1>
    <img
      src="../../../../assets/perfis/yonkous/buggy.gif"
      alt="gif Buggy"
      class="img-gif"
      loading="eager"
    />
    <p>
      Buggy se tornar um Yonkou em One Piece é uma reviravolta surpreendente,
      mas que faz sentido dentro do universo da série. Ele adquire influência no
      submundo e demonstra os três pilares fundamentais para ser um Imperador:
      poder, influência e recursos. Buggy, também conhecido como o Palhaço
      Estrela, é o capitão dos Piratas Buggy e co-líder da Aliança Buggy e
      Alvida. Ele já foi aprendiz dos Piratas do Roger ao lado de Shanks, outro
      personagem importante na trama. Ao longo de sua história, Buggy acumulou
      uma recompensa considerável de 15.000.000 de Berries, possuindo também um
      tesouro valioso e um grande navio chamado Big Top. Apesar de sua origem
      como pirata cômico e trapalhão, Buggy demonstra ter os atributos
      necessários para ser reconhecido como um dos Quatro Imperadores, ao lado
      de figuras poderosas como Shanks e Teach. A ascensão de Buggy ao status de
      Yonkou adiciona uma camada interessante à narrativa de One Piece,
      mostrando que até mesmo personagens aparentemente menos sérios podem ter
      um impacto significativo no mundo pirata e nas aventuras de Luffy e seus
      companheiros.
    </p>

    <h2>Bara Bara no Mi</h2>
    <img
      src="../../../../assets/dados/Frutos/Bara_Bara_no_Mi_Buggy.jpg"
      alt="Bara Bara no mi"
      class="img-fruto"
    />
    <p>
      É uma Fruta do Diabo do tipo Paramecia. O usuário da Bara Bara no Mi pode
      separar seu corpo em múltiplas partes, como braços, pernas, torso, etc.,
      sem sofrer danos. Eles têm controle total sobre essas partes desmembradas,
      podendo movê-las à vontade, inclusive lançando-as como projéteis. Essa
      habilidade oferece uma grande vantagem tática em combate, permitindo ao
      usuário evadir ataques facilmente e realizar ataques surpresa dos ângulos
      mais inesperados. Além disso, eles podem reconfigurar seu corpo
      rapidamente para evitar ferimentos graves.
    </p>

    <h2>CROSS GUILD</h2>
    <img
      src="../../../../assets/bandeiras/crossguild.jpg"
      alt="Cartaz Cross Guild"
      class="img-bandeira"
    />
    <p>
      A Cross Guild é uma aliança formada por três figuras proeminentes do mundo
      de One Piece: <strong>Buggy, Crocodile e Dracule Mihawk</strong>. A
      aliança entre esses personagens poderosos foi motivada por um desejo comum
      de aumentar seu poder e influência no mundo, especialmente após os eventos
      do Reverie e a dissolução do sistema dos Shichibukai. A criação da Cross
      Guild foi uma resposta à necessidade de proteção e fortalecimento mútuo em
      um mundo onde a Marinha e o Governo Mundial estavam se tornando ainda mais
      opressivos e agressivos.
    </p>
    <p>
      A Cross Guild inverteu o sistema de recompensas tradicional, oferecendo
      recompensas pela captura de oficiais da Marinha. Isso subverteu o sistema
      de justiça do Governo Mundial e colocou os Marines na posição de caçados.
      Ao colocar recompensas sobre os marinheiros, eles não só aumentam sua
      própria força, mas também enfraquecem a Marinha.
    </p>
  </article>
</div>
