<div class="titulos">
  <div class="titulo-bando revolucionarios">
    <img
      src="../../../assets/perfis/revolucionarios/revol.jpg"
      class="caveira"
      alt="Simbolo Marinha"
    />
    <h2 class="nome-bando">REVOLUCIONARIOS</h2>
    <img
      src="../../../assets/perfis/revolucionarios/revol.jpg"
      class="caveira"
      alt="Simbolo Marinha"
    />
  </div>
</div>
<div class="bando">
  <div class="asas">
    <img
      src="../../../assets/Cartazes/revolucionarios/dragon.jpg"
      alt="Imagem Dragon"
      class="cartaz rev"
      (click)="openDialogDragon(arrayCards)"
    />
    <img
      src="../../../assets/Cartazes/revolucionarios/sabo.jpg"
      alt="Imagem Sabo"
      class="cartaz rev"
      (click)="openDialogSabo(arrayCards)"
    />
  </div>
  <div class="tripulacao">
    <img
      src="../../../assets/Cartazes/revolucionarios/ivankov.jpg"
      alt="Imagem Ivankov"
      class="cartaz"
      (click)="openDialogIvankov(arrayCards)"
    />
    <img
      src="../../../assets/Cartazes/revolucionarios/karasu.jpg"
      alt="Imagem Karasu"
      class="cartaz"
      (click)="openDialogKarasu(arrayCards)"
    />
    <img
      src="../../../assets/Cartazes/revolucionarios/betty.jpg"
      alt="Imagem Betty"
      class="cartaz"
      (click)="openDialogBetty(arrayCards)"
    />
    <img
      src="../../../assets/Cartazes/revolucionarios/lindbergh.jpg"
      alt="Imagem Lindbergh"
      class="cartaz"
      (click)="openDialogLindbergh(arrayCards)"
    />
    <img
      src="../../../assets/Cartazes/revolucionarios/morley.jpg"
      alt="Imagem Morley"
      class="cartaz"
      (click)="openDialogMorley(arrayCards)"
    />
  </div>
</div>
