<div class="container">
  <article>
    <h1>Belo Betty</h1>
    <img
      src="../../../../assets/perfis/revolucionarios/betty.gif"
      alt="gif Betty"
      class="img-gif"
      loading="eager"
    />

    <section class="historia">
      <p>
        Belo Betty é a comandante do Exército Leste do Exército Revolucionário.
      </p>
      <p>
        Betty trata as pessoas que ela ajuda muito rudemente, insultando-as e
        referindo-se apenas a elas com termos degradantes. Apesar dessa atitude,
        sua intenção ainda é recrutá-los para o Exército Revolucionário,
        encorajando-os a fazer suas próprias escolhas. Ela acredita que cometer
        ações heróicas é uma decisão que se faz para si.
      </p>
      <p>
        Quando o povo de Reino Lulusia pegou em armas e lutou, ela quebrou sua
        atitude normal brevemente para elogiá-los em suas ações. Apesar de sua
        atitude rude e desrespeitosa, ela compartilha com seus colegas
        executivos os mesmos sentimentos de misericórdia e o desejo de ajudar
        aqueles que estão com problemas. Além disso, ela demonstra respeito e
        apreço àqueles que lutam contra seus próprios inimigos e problemas,
        enquanto ela sorri calorosamente e orgulhosamente elogia o povo do Reino
        Lulusia por se levantar e lutar contra os Piratas do Barba Rosa.
      </p>
      <p>
        Como uma executiva do Exército Revolucionário, Betty está em uma posição
        poderosa dentro da organização. Como comandante do Exército Leste, ela
        controla todos os soldados dessa região. Betty é uma oradora
        extremamente carismática. Com seus poderes de Akuma no Mi, ela inspira
        muitas pessoas a lutar. Morley chamou Betty de portadora da bandeira da
        liberdades por suas habilidades.
      </p>
    </section>
    <section class="poder">
      <h2>Kobu Kobu no Mi</h2>
      <img
        src="../../../../assets/dados/Frutos/Kobu_Kobu_no_Mi_Betty.jpg"
        alt="Kobu Kobu no mi"
        class="img-fruto"
      />
      <p>
        A Kobu Kobu no Mi é uma Akuma no Mi do tipo Paramecia, que permite ao
        usuário incentivar e reunir pessoas a despertar seu potencial latente
        para lutar.
      </p>
      <p>
        A maior força desta fruta é a capacidade de aumentar a força física de
        outras pessoas simplesmente incentivando-as. O usuário pode encorajar e
        fortalecer várias pessoas de uma só vez, permitindo que elas transformem
        grupos inteiros de pessoas comuns em poderosos combatentes,
        possivelmente mudando a maré da batalha. No Reino Lulusia, Betty
        conseguiu transformar um grupo de cidadãos indefesos em fortes
        combatentes capazes de esmagar uma tripulação pirata da Grand Line com
        apenas bastões.
      </p>
      <p>
        No entanto, sua eficácia na batalha depende em grande parte das metas
        fortalecidas que estão dispostas a ajudar o usuário, já que o incentivo
        é o máximo que o usuário pode fazer para influenciar as ações de seus
        alvos, e os alvos devem tomar a decisão de lutar por conta própria. Não
        se sabe se o usuário é capaz de ser fortalecido por suas próprias
        palavras. Caso contrário, o usuário é afetado pelas fraquezas padrão das
        Akuma no Mi.
      </p>
    </section>
    <section class="curiosidade">
      <h2>Ahiru</h2>
      <img
        src="../../../../assets/dados/revolucionarios/ahiru.jpg"
        alt="Ahiru"
        class="img-info"
      />
      <p>
        Ahiru é a vice-comandante do Exército Leste no Exército Revolucionário e
        a assistente de Belo Betty.
      </p>
      <p>
        Como membro do Exército Revolucionário, Ahiru não tem escrúpulos em
        desafiar o Governo Mundial, especialmente com seu ranking de oficial.
        Como tal, ela é uma mulher corajosa, pois fez inimigos com uma das
        forças mais poderosas do mundo.
      </p>
      <p>
        Como uma vice-comandante do Exército Revolucionário, Ahiru tem algum
        grau de comando sobre revolucionários de baixo escalão, especialmente
        aqueles dentro do Exército Leste, onde sua autoridade perde apenas para
        sua superior direta, Belo Betty. Segundo ela, seu braço cibernético tem
        capacidade de tiro.
      </p>
    </section>
  </article>
</div>
