<div class="container">
  <article>
    <h1>Ulti</h1>
    <img
      src="../../../../assets/perfis/yonkous/feras/ulti.gif"
      alt="gif Ulti"
      class="img-gif"
      loading="eager"
    />

    <p>
      Ulti é um personagem do anime e mangá "One Piece" que faz parte do
      Tobiroppo. Ela é conhecida por sua personalidade forte e determinada,
      sendo leal a Kaido, o Yonkou. Ulti é uma guerreira feroz e habilidosa,
      destacando-se por sua coragem e determinação em batalha. Além disso, ela
      demonstra grande lealdade ao seu grupo e é uma oponente formidável para os
      inimigos que cruzam seu caminho.
    </p>
    <p>
      Ulti é uma membro do Tobiroppo em "One Piece" que possui a habilidade de
      se transformar em um Pachycephalosaurus utilizando o
      <strong>Ryu Ryu no Mi, Modelo: Pachycephalosaurus</strong>, uma fruta do
      diabo do tipo Zoan. Nessa forma, ela pode aumentar sua força física e
      resistência, tornando-se uma oponente formidável em combate. Ulti é capaz
      de chocar seu crânio reforçado contra seus inimigos, causando danos
      significativos.
    </p>
  </article>
</div>
