<div class="container">
  <article>
    <h1>Gekko Moria</h1>
    <img
      src="../../../../assets/perfis/shishibukais/moria.gif"
      alt="gif Moria"
      class="img-gif"
      loading="eager"
    />
    <p>
      Gekko Moriah é um dos personagens principais no universo de One Piece. Ele
      é um ex-Shichibukai, um dos sete piratas poderosos que se aliaram ao
      Governo Mundial em troca de imunidade. Moriah é notório por sua aparência
      macabra e sua habilidade de manipular sombras, o que ele usa para criar um
      exército de zumbis.
    </p>

    <h2>Kage Kage no Mi</h2>
    <img
      src="../../../../assets/dados/Frutos/Kage_Kage_no_Mi_Moria.jpg"
      alt="Kage Kage no Mi"
      class="img-fruto"
    />
    <p>
      A Kage Kage no Mi é uma Fruta do Diabo do tipo Paramecia que permite a
      Moriah controlar sombras. Moriah pode cortar a sombra de uma pessoa e
      usá-la para criar zumbis. A pessoa que perde sua sombra não pode se expor
      à luz solar direta, ou será incinerada. Moriah pode criar um clone de
      sombra chamado Doppelman, que pode assumir várias formas e atacar seus
      inimigos. Ele pode absorver um grande número de sombras para aumentar
      temporariamente seu tamanho e força.
    </p>

    <h2>Bando Piratas Thriller Bark</h2>
    <img
      src="../../../../assets/bandeiras/moria.jpg"
      alt="Bandeira Pirata"
      class="img-bandeira"
    />
    <p>
      Os Piratas de Thriller Bark são uma tripulação composta principalmente por
      criaturas bizarras e zumbis animados com sombras roubadas. Membros
      notáveis da tripulação incluem:
    </p>
    <p>
      <strong>Dr. Hogback </strong>: responsável por reanimar corpos mortos,
      transformando-os em zumbis através de operações cirúrgicas e a aplicação
      de sombras roubadas por Moriah. Ele se juntou a Moriah para continuar suas
      práticas antiéticas e para tentar trazer sua amada Cindry de volta à vida,
      embora ela acabe se tornando um zumbi sem vontade própria.
    </p>
    <p>
      <strong>Absalom </strong>: Um homem invisível que serve como um dos
      principais comandantes de Moriah. Durante o arco de Thriller Bark ele se
      apaixona pela Nami.
    </p>
    <p>
      <strong>Perona</strong>: Uma mulher que controla fantasmas e pode induzir
      depressão em seus inimigos. Ela é frequentemente acompanhada por seu fiel
      urso zumbi, Kumashi.
    </p>
  </article>
</div>
