<div class="container">
  <article>
    <h1>Avalo Pizarro</h1>
    <img
      src="../../../../assets/perfis/yonkous/barbaNegra/pizarro.gif"
      alt="gif Pizarro"
      class="img-gif"
      loading="eager"
    />

    <p>
      Avalo Pizarro, também conhecido como <strong>"Rei Corrupto"</strong>, foi
      um dos criminosos que foi condenado à prisão perpétua no Nível 6 de Impel
      Down, já que seus crimes foram tão horríveis que ele teve que ser
      efetivamente apagado da história. Antes de sua vida de crime, ele já foi
      um rei de um reino em North Blue que o derrubou por seus modos despóticos.
      Desde então, ele foi libertado por Marshall D. Teach e tornou-se membro
      dos Piratas do Barba Negra. Ele é atualmente um dos Dez Capitães
      Colossais, como <strong>capitão do Quarto Navio.</strong>
    </p>
    <p>
      Até agora, em todas suas aparições, ele é sempre visto sorrindo, mesmo
      quando estava atacando o Barba Branca. Ele também tem uma tendência a
      dizer "Nya" no final de suas sentenças, o equivalente japonês do "Miau".
      Ele também tem bastante desejo de se tornar o líder, mostrando sua
      ousadia, pedindo para Teach deixá-lo ser o capitão em seu lugar.
    </p>
    <p>
      Suas habilidades ainda não foram apresentadas, mas ele era poderoso o
      suficiente para ser contido no Nível 6 de Impel Down quando capturado pelo
      Governo Mundial. Outra prova de seu poder é o fato de que, quando Barba
      Negra recrutou os presos do nível 6, ele só escolheu os que puderam
      sobreviver quando confrontados com todo mundo, em uma batalha de todos
      contra todos. Assim, Pizarro é um dos mais fortes do Nível 6 da prisão.
    </p>
    <p>
      Pizarro tem durabilidade sobre-humana, como visto quando ele levou um
      golpe direto de um ataque Gura Gura no Mi do ex-imperador Edward Newgate,
      tendo levado um golpe direto das rajadas de onda de choque de Sengoku na
      forma Daibutsu e permanecendo praticamente imperturbável pelo ataque.
    </p>
  </article>
</div>
