<div class="container">
  <article>
    <h1>Vice-Almirante Smoker</h1>
    <img
      src="../../../../assets/perfis/marinha/smoker.gif"
      alt="gif Smoker"
      class="img-gif"
      loading="eager"
    />

    <section class="historia">
      <p>
        Smoker, o <strong>Caçador Branco</strong> é um oficial da Marinha
        estacionado na base G-5. Ele foi introduzido pela primeira vez como um
        capitão em Loguetown, onde ele fez de sua missão de vida capturar Luffy
        e jogá-lo numa prisão, e mais tarde foi promovido ao cargo de comodoro,
        devido aos eventos em Alabasta. Em algum ponto durante o timeskip, ele
        foi promovido ao cargo de Vice-Almirante. Ele também é, desde sua
        estreia, o superior de Tashigi, também servindo como seu mentor.
      </p>
      <p>
        Devido às suas ações contra Luffy em Loguetown, Smoker pode ser
        considerado o principal antagonista do Arco Loguetown, e atua como um
        antagonista menor durante o Arco Marineford. Apesar de sua rivalidade
        com Luffy, por razões de encontrar inimigos em comum, eles acabaram se
        ajudando durante o Arco Alabasta, e formando uma aliança temporária
        durante o Arco Punk Hazard, retornando após ambos os eventos para seu
        relacionamento como inimigos.
      </p>
      <p>
        Smoker não segue a regra de Justiça Absoluta e segue seu código de
        justiça, que mais tarde ele prega para Tashigi. A percepção de justiça
        de Smoker também permite que os Piratas do Chapéu de Palha permaneçam em
        liberdade, apesar de serem piratas durante a Incidente de Alabasta. Ele
        deixou Luffy ir depois que descobriu que Zoro foi ordenado por Luffy
        para salvá-lo de um afogamento. No entanto, ele rapidamente perdeu a
        paciência depois que Luffy fez um comentário estúpido. Ele avisou Luffy
        que como um marinheiro, ele teria que tentar prendê-lo na próxima vez
        que se encontrassem.
      </p>
      <p>
        Smoker comeu a Moku Moku no Mi, uma Akuma no Mi do tipo Logia que lhe
        permite criar, controlar e se tornar fumaça. Ele pode manipular a
        densidade da fumaça para torná-la espessa ou fina, permitindo que ele
        segure e comprima outras pessoas dentro dela. Como a maioria dos
        usuários de Logia, ele pode voar transformando a parte inferior do corpo
        em fumaça e impulsionando-se como um foguete.
      </p>
    </section>
  </article>
</div>
