<div class="titulos">
  <div class="titulo-bando">
    <img
      src="../../../assets/perfis/chapeus/caveira.png"
      class="caveira"
      alt="Caveira Chapeus de Palha"
    />
    <h2 class="nome-bando">CHAPEUS DE PALHA</h2>
    <img
      src="../../../assets/perfis/chapeus/caveira.png"
      class="caveira"
      alt="Caveira Chapeus de Palha"
    />
  </div>
</div>
<div class="bando">
  <div class="capitao">
    <img
      src="../../../assets/Cartazes/chapeus/luffy.jpg"
      alt="Cartaz de procurado"
      class="cartaz"
      (click)="openDialogLuffy(arrayCards)"
    />
  </div>
  <div class="asas">
    <img
      src="../../../assets/Cartazes/chapeus/zoro.jpg"
      alt="Cartaz de procurado"
      class="cartaz"
      (click)="openDialogZoro(arrayCards)"
    />
    <img
      src="../../../assets/Cartazes/chapeus/sanji.jpg"
      alt="Cartaz de procurado"
      class="cartaz"
      (click)="openDialogSanji(arrayCards)"
    />
  </div>
  <div class="tripulacao">
    <img
      src="../../../assets/Cartazes/chapeus/nami.jpg"
      alt="Cartaz de procurado"
      class="cartaz"
      (click)="openDialogNami(arrayCards)"
    />

    <img
      src="../../../assets/Cartazes/chapeus/usopp.jpg"
      alt="Cartaz de procurado"
      class="cartaz"
      (click)="openDialogUsopp(arrayCards)"
    />
    <img
      src="../../../assets/Cartazes/chapeus/chopper.jpg"
      alt="Cartaz de procurado"
      class="cartaz"
      (click)="openDialogChopper(arrayCards)"
    />
    <img
      src="../../../assets/Cartazes/chapeus/robin.jpg"
      alt="Cartaz de procurado"
      class="cartaz"
      (click)="openDialogRobin(arrayCards)"
    />
    <img
      src="../../../assets/Cartazes/chapeus/franky.jpg"
      alt="Cartaz de procurado"
      class="cartaz"
      (click)="openDialogFranky(arrayCards)"
    />
    <img
      src="../../../assets/Cartazes/chapeus/brook.jpg"
      alt="Cartaz de procurado"
      class="cartaz"
      (click)="openDialogBrook(arrayCards)"
    />
    <img
      src="../../../assets/Cartazes/chapeus/jinbe.jpg"
      alt="Cartaz de procurado"
      class="cartaz"
      (click)="openDialogJinbe(arrayCards)"
    />
  </div>
</div>
