<div class="container">
  <article>
    <h1>Jack - A Seca</h1>
    <img
      src="../../../../assets/perfis/yonkous/feras/jack.gif"
      alt="gif Jack"
      class="img-gif"
      loading="eager"
    />

    <p>
      Jack é um dos personagens mais imponentes e aterrorizantes em "One Piece",
      servindo diretamente sob Kaido como uma das "Três Calamidades" dos Piratas
      das Feras. Ele é notório por sua brutalidade, força colossal e a imensa
      destruição que causa, justificando seu apelido "a Seca", que reflete sua
      capacidade de devastar tudo em seu caminho.
    </p>
    <p>
      Jack é conhecido por sua extrema agressividade e impaciência. Ele é brutal
      e não hesita em usar força excessiva para alcançar seus objetivos. Sua
      personalidade agressiva é complementada por uma lealdade inabalável a
      Kaido, fazendo dele um dos membros mais temidos e respeitados dos Piratas
      das Feras.
    </p>
    <p>
      <strong>Missão em Zou:</strong> Jack liderou um ataque devastador à ilha
      de Zou, utilizando gás venenoso e suas habilidades de mamute para tentar
      extrair informações sobre a localização de Raizo, o ninja. Mesmo depois de
      sofrer uma derrota, ele retornou para tentar destruir a ilha novamente.
    </p>
    <p>
      <strong>Participação em Wano:</strong> Durante os eventos em Wano, Jack
      teve um papel significativo nas batalhas contra as forças aliadas aos
      Samurais e aos Piratas do Chapéu de Palha, demonstrando sua força brutal e
      lealdade a Kaido.
    </p>

    <h2>Zou Zou no Mi - Modelo: Mamute</h2>
    <img
      src="../../../../assets/dados/Frutos/Zou_Zou_no_Mi_Jack.jpg"
      alt="Zou Zou no mi"
      class="img-fruto"
    />
    <p>
      A Zou Zou no Mi, Modelo: Mammoth é uma Akuma no Mi do tipo Zoan Antiga,
      consumida por Jack, uma das "Três Calamidades" dos Piratas das Feras em
      "One Piece". Esta fruta do diabo permite que seu usuário se transforme em
      um mamute gigante ou em uma forma híbrida de humano e mamute,
      conferindo-lhe habilidades incríveis e características físicas únicas.
    </p>
    <p>
      O usuário pode se transformar em um mamute pré-histórico de tamanho
      colossal. Nesta forma, ele ganha uma força física imensa e uma grande
      resistência, tornando-se uma força devastadora no campo de batalha. A pele
      espessa do mamute oferece proteção adicional contra ataques.
    </p>
    <p>
      O usuário pode optar por uma forma híbrida, combinando características
      humanas e de mamute. Nesta forma, ele mantém a força e a resistência do
      mamute, enquanto conserva parte de sua agilidade humana, permitindo um
      combate mais versátil.
    </p>
    <p>
      Em ambas as formas transformadas, o usuário possui uma tromba massiva que
      pode ser usada como uma arma devastadora. A tromba pode esmagar oponentes,
      levantar objetos pesados e criar uma força destrutiva em ataques de longo
      alcance. As presas de mamute são armas naturais formidáveis. Elas podem
      ser usadas para perfurar e esmagar adversários, além de serem úteis para
      abrir caminho através de obstáculos.
    </p>
  </article>
</div>
