<div class="container">
  <article>
    <h1>Queen - A Praga</h1>
    <img
      src="../../../../assets/perfis/yonkous/feras/queen.gif"
      alt="gif Queen"
      class="img-gif"
      loading="eager"
    />

    <p>
      Queen é um dos personagens mais distintos e multifacetados em "One Piece".
      Como um dos principais comandantes sob Kaido, ele é conhecido por sua
      inteligência, habilidades científicas e força imensa. Seu papel como uma
      das "Três Calamidades" dos Piratas das Feras o torna uma figura-chave na
      tripulação.
    </p>
    <p>
      Queen é um indivíduo extravagante, jovial e arrogante. Ele gosta de se
      exibir e frequentemente dança e canta, mostrando uma confiança desmedida
      em suas habilidades. Apesar de sua atitude brincalhona, ele é extremamente
      inteligente e cruel, usando seus conhecimentos científicos para criar
      armas devastadoras e vírus letais. Sua lealdade a Kaido é forte, mas ele
      também é conhecido por sua ambição e egoísmo.
    </p>
    <p>
      Queen é um dos principais estrategistas e cientistas dos Piratas das
      Feras, desempenhando um papel crucial nas operações e na defesa da
      tripulação. Ele é responsável pela criação de várias armas biológicas e
      estratégias de combate. Queen possui várias partes do corpo mecanizadas,
      incluindo um braço cibernético que pode se transformar em uma arma de fogo
      poderosa. Suas modificações lhe dão força e resistência adicionais.
    </p>
    <p>
      <strong>Guardião de Onigashima:</strong> Durante os eventos em Wano, Queen
      desempenha um papel vital na defesa de Onigashima, combatendo as forças
      aliadas aos Samurais e aos Piratas do Chapéu de Palha. Sua presença é uma
      garantia da força defensiva da fortaleza de Kaido. Queen enfrentou
      personagens poderosos como Big Mom e os Piratas do Chapéu de Palha,
      utilizando suas habilidades cibernéticas e vírus letais para tentar
      derrotá-los.
    </p>

    <h2>Ryu Ryu no Mi - Modelo: Braquiossauro</h2>
    <img
      src="../../../../assets/dados/Frutos/Ryu_Ryu_no_Mi_Queen.jpg"
      alt="Ryu Ryu no Mi"
      class="img-fruto"
    />
    <p>
      A Ryu Ryu no Mi, Modelo: Brachiosaurus, permite que Queen se transforme em
      um braquiossauro gigante ou em uma forma híbrida entre humano e
      braquiossauro. Esta fruta concede-lhe habilidades físicas imensas e
      características únicas de combate.
    </p>
    <p>
      A transformação completa em braquiossauro proporciona uma força física
      tremenda, permitindo que Queen cause destruição em grande escala com seu
      corpo massivo. O pescoço longo e poderoso do braquiossauro pode ser usado
      para ataques de longo alcance, esmagando inimigos e estruturas com
      facilidade.
    </p>
    <p>
      Na forma híbrida, Queen mantém a força do braquiossauro e adiciona a
      agilidade humana, permitindo um combate mais versátil. Utiliza sua forma
      híbrida para realizar ataques poderosos e precisos, combinando força bruta
      e técnicas de combate.
    </p>
  </article>
</div>
