<div class="container">
  <article>
    <h1>Sakazuki Akainu</h1>
    <img
      src="../../../../assets/perfis/almirante/akainu.gif"
      alt="gif Akainu"
      class="img-gif"
      loading="eager"
    />
    <p>
      Sakazuki, mais conhecido pelo seu nome de código "Akainu", é um dos
      Almirantes da Marinha no mundo de One Piece e um dos antagonistas mais
      formidáveis da série. Ele é retratado como um homem de alta estatura e
      musculoso, com uma expressão severa e intimidante que reflete sua
      personalidade implacável e determinada.
    </p>
    <p>
      Akainu é conhecido por sua dedicação absoluta à justiça e à ordem, sendo
      um fervoroso seguidor da ideologia da Marinha e dos princípios do Governo
      Mundial. Ele é implacável em sua busca por criminosos e piratas, e
      acredita que qualquer sacrifício é justificado em nome da justiça
      absoluta. Essa mentalidade muitas vezes o coloca em conflito com outros
      personagens que têm uma visão mais flexível da justiça, incluindo seus
      próprios colegas na Marinha.
    </p>
    <p>
      Além de sua habilidade em combate, Akainu também é conhecido por sua
      liderança habilidosa e estratégica, sendo respeitado e temido por seus
      subordinados na Marinha. Sua ascensão ao cargo de Almirante da Frota após
      a Batalha de Marineford é um testemunho de sua habilidade e dedicação ao
      serviço da Marinha.
    </p>

    <h2>Magu Magu no Mi</h2>
    <img
      src="../../../../assets/dados/Frutos/Magu_Magu_no_Mi_Akainu.jpg"
      alt="Magu Magu no Mi"
      class="img-fruto"
    />
    <p>
      A Magu Magu no Mi é uma Fruta do Diabo do tipo Logia, permite transformar
      seu corpo inteiro em magma, tornando-o intangível e permitindo que ataques
      físicos passem por ele sem causar dano.
    </p>
    <p>
      <strong>Criação e Controle de Magma</strong>: Akainu pode criar magma a
      partir de seu corpo e manipulá-lo à vontade. Ele pode lançar magma em seus
      oponentes ou moldá-lo em diferentes formas para usar em combate. Seu
      controle de magma lhe permite realizar ataques de longo alcance e criar
      enormes explosões de magma que podem destruir vastas áreas.
    </p>
    <p>
      <strong>Poder Destrutivo</strong>: O magma criado pela Magu Magu no Mi é
      extremamente quente e pode derreter quase qualquer coisa com que entre em
      contato. Isso inclui até mesmo outros elementos, como fogo e gelo,
      tornando-o uma ameaça contra outros usuários de Frutas do Diabo. O uso da
      fruta por Akainu pode alterar drasticamente o ambiente, causando erupções
      vulcânicas e transformando o terreno em campos de lava.
    </p>
    <p>
      <strong>Dai Funka (Grande Erupção)</strong>: Akainu transforma seu punho
      em um gigantesco punho de magma e lança um ataque devastador que pode
      destruir grandes áreas e navios inteiros.
    </p>
    <p>
      <strong>Inugami Guren (Crimson Lotus - Dog God)</strong>: Um ataque onde
      ele forma a cabeça de um cão a partir de magma e morde o oponente,
      causando danos massivos.
    </p>
    <p>
      <strong>Ryusei Kazan (Meteor Volcano)</strong>: Akainu lança múltiplos
      punhos de magma no ar, que depois caem como meteoros, causando uma
      destruição em larga escala.
    </p>
  </article>
</div>
