<div class="container">
  <article>
    <h1>Van Augur</h1>
    <img
      src="../../../../assets/perfis/yonkous/barbaNegra/augur.gif"
      alt="gif Augur"
      class="img-gif"
      loading="eager"
    />

    <p>
      Van Augur, apelidado de <strong>"O Supersônico"</strong>, é o atirador dos
      Piratas do Barba Negra, bem como um dos Dez Capitães Colossais, como
      <strong>capitão do Terceiro Navio.</strong>
    </p>
    <p>
      Van Augur é extremamente calmo e analítico, mesmo durante a batalha. Ele
      raramente muda sua expressão facial. No entanto, em seu confronto com Ace
      na Ilha Banaro, ele mostrou um lado mais sombrio - mostrando um sorriso
      diabólico após um tiro de morte fracassado. Como seus colegas de
      tripulação, Augur acredita muito no destino. Ele demonstra uma lealdade
      muito forte a Barba Negra e ao resto da tripulação.
    </p>
    <p>
      Van Augur comeu a akuma no mi <strong>Wapu Wapu no Mi</strong>, fazendo
      ele poder Teletransportar tanto ele quanto outras pessoas para outros
      lugares, seus poderes são vistos pela primeira vez quando os Piratas do
      Barba Negra Interceptam os Piratas Heart na tentativa de roubar os Road
      Poneglyph, Van usa seu poder para teletransportar Jesus Burguess para uma
      ilha afim de atacar Law e sua tripulação.
    </p>
    <p>
      Sem o domínio da habilidade, o alcance do teletransporte é relativamente
      limitado. O usuário pode percorrer distâncias maiores com treinamento,
      embora não se saiba se ele conseguirá superar totalmente a limitação de
      alcance. A fruta não tem fraquezas conhecidas além das fraquezas padrão
      das Akuma no Mi em relação à água e Kairouseki.
    </p>
  </article>
</div>
