<div class="container">
  <article>
    <h1>Bartholomew Kuma</h1>
    <img
      src="../../../../assets/perfis/shishibukais/kuma.gif"
      alt="gif Kuma"
      class="img-gif"
      loading="eager"
    />
    <p>
      Bartholomew Kuma é uma figura enigmática e complexa no universo de One
      Piece. Ele é um ex-pirata, um dos Shichibukai, e também um Pacifista, uma
      arma humana desenvolvida pelo Dr. Vegapunk. Kuma é reconhecido por seu
      grande porte, comportamento reservado e habilidades extraordinárias.
    </p>
    <p>
      Kuma tem uma personalidade complexa. Ele era conhecido como o "Tirano"
      antes de se juntar aos Shichibukai, mas mais tarde revela-se que ele é na
      verdade um membro do Exército Revolucionário, trabalhando secretamente com
      Dragon. Sua lealdade e motivações são misteriosas, mas ele mostra uma
      forte dedicação à causa revolucionária e um profundo respeito por Monkey
      D. Luffy e seus companheiros.
    </p>
    <p>
      Kuma é membro de uma raça especial quase extinta conhecida como
      bucaneiros, que ele herdou de seu falecido pai, Clapp.
    </p>

    <h2>Nikyu Nikyu no Mi</h2>
    <img
      src="../../../../assets/dados/Frutos/Nikyu_Nikyu_no_Mi_Kuma.jpg"
      alt="Nikyu Nikyu no Mi"
      class="img-fruto"
    />
    <p>
      A Nikyu Nikyu no Mi é uma Fruta do Diabo do tipo Paramecia no universo de
      One Piece. Consumida por Bartholomew Kuma, esta fruta concede ao usuário a
      habilidade de repelir qualquer coisa que suas palmas toquem, usando
      "almofadas" em forma de patas de urso. Nas palmas das mãos do usuário,
      surgem almofadas macias que se assemelham a patas de um urso. Essas
      almofadas são a fonte do poder da fruta e possuem a capacidade de repelir
      objetos e fenômenos.
    </p>
    <p>
      <strong>Repulsão Física</strong>: O poder principal da Nikyu Nikyu no Mi é
      a capacidade de repelir qualquer objeto físico que entre em contato com as
      almofadas nas palmas do usuário. Isso inclui ataques físicos, projéteis e
      até mesmo pessoas. Kuma pode usar esta habilidade para desviar ataques
      inimigos com facilidade, refletir balas e canhões, e lançar pessoas a
      grandes distâncias com um simples toque.
    </p>
    <p>
      <strong>Repulsão de Conceitos Abstratos</strong>: Além de objetos físicos,
      Kuma pode repelir conceitos abstratos, como dor, fadiga e até mesmo
      memórias. Ele pode, por exemplo, curar uma pessoa ao remover sua dor e
      cansaço acumulado, materializando-os como uma "bolha" que pode ser jogada
      fora. Kuma remove a dor e fadiga de Luffy e as transfere para Zoro durante
      o arco de Thriller Bark, demonstrando essa habilidade.
    </p>
    <p>
      <strong>Teletransporte e Viagem a Longas Distâncias</strong>: Kuma pode
      enviar pessoas a qualquer lugar do mundo ao "repeli-las" com suas
      almofadas. Ele já usou essa habilidade para dispersar os Chapéus de Palha
      para diferentes locais, permitindo-lhes crescer e treinar durante o
      timeskip. A precisão do destino pode variar, mas geralmente é intencional
      e baseada no desejo do usuário.
    </p>
    <p>
      <strong>Impacto e Explosões</strong>: Kuma pode concentrar uma quantidade
      massiva de força em suas palmas e liberá-la em um único ponto, criando
      explosões poderosas. Este ataque é conhecido como "Ursus Shock," onde ele
      condensa o ar em uma bolha gigante e a libera como uma explosão
      devastadora. Kuma usa o Ursus Shock para causar grande destruição em
      campos de batalha, mostrando seu potencial ofensivo.
    </p>
  </article>
</div>
