<div class="container">
  <article>
    <h1>Katakuri</h1>
    <img
      src="../../../../assets/perfis/yonkous/bigMom/katakuri.gif"
      alt="gif Katakuri"
      class="img-gif"
      loading="eager"
    />

    <p>
      Katakuri, também conhecido como Charlotte Katakuri, é um dos personagens
      mais poderosos da série "One Piece". Ele é membro da Família Charlotte e o
      filho mais velho da Imperatriz Big Mom.
    </p>
    <p>
      Katakuri é usuário da <strong>Mochi Mochi no Mi</strong>, uma Akuma no Mi
      do tipo Paramecia que lhe permite criar, controlar e se transformar em
      mochi, uma substância semelhante a uma gelatina pegajosa. Essa habilidade
      o torna um adversário formidável em combate, pois ele pode moldar o mochi
      à sua vontade, seja para ataques diretos ou para defesa.
    </p>
    <p>
      Além disso, Katakuri possui habilidades excepcionais de observação do
      futuro, uma habilidade conhecida como "Kenbunshoku Haki". Isso lhe permite
      antecipar os movimentos de seus oponentes e reagir de acordo, tornando
      extremamente difícil derrotá-lo em combate corpo a corpo.
    </p>
    <p>
      Com suas habilidades únicas e seu status como um dos "Três Comandantes
      Doces" da Família Charlotte, Katakuri é temido e respeitado por aliados e
      inimigos, sendo considerado um dos oponentes mais formidáveis que Luffy já
      enfrentou. Sua presença imponente e suas habilidades excepcionais o tornam
      uma força a ser reconhecida nos mares de "One Piece".
    </p>
  </article>
</div>
