<div class="container">
  <article>
    <h1>Aramaki Ryokugyu</h1>
    <img
      src="../../../../assets/perfis/almirante/touro.gif"
      alt="gif Aramaki"
      class="img-gif"
      loading="eager"
    />
    <p>
      Aramaki, conhecido pelo seu nome de código Ryokugyu, é um Almirante da
      Marinha no mundo de One Piece. Ele é introduzido após o salto temporal de
      dois anos e foi recrutado para a Marinha durante o "Draft Mundial", um
      processo de recrutamento realizado após a Guerra de Marineford. Antes de
      se tornar um almirante, pouco se sabe sobre sua história e origem, já que
      ele é um personagem envolto em mistério.
    </p>
    <p>
      Ryokugyu é mencionado durante a Reverie, onde ele é designado para
      proteger o evento ao lado de outros almirantes. Embora ele não tenha
      participado diretamente dos debates, sua presença aliada à de Fujitora
      indica a importância do evento para a Marinha.
    </p>
    <p>
      Ryokugyu aparece em Wano após a derrota de Kaido e Big Mom. Ele invade o
      país, mostrando suas habilidades poderosas e confrontando os aliados dos
      Chapéus de Palha. Ele luta contra os samurais de Wano, incluindo
      personagens poderosos como Yamato e os Bainhas Vermelhas. Suas habilidades
      impressionantes são demonstradas durante esse confronto.
    </p>
    <p>
      Ryokugyu parece seguir uma forma de justiça focada na natureza e no meio
      ambiente, refletida tanto em seu comportamento quanto em suas habilidades.
      Ele demonstra um desprezo por excessos e luxúrias, preferindo uma
      abordagem mais austera e disciplinada.
    </p>

    <h2>Mori Mori no Mi</h2>
    <img
      src="../../../../assets/dados/Frutos/Mori_Mori_no_Mi_Touro.jpg"
      alt="Mori Mori no Mi"
      class="img-fruto"
    />
    <p>
      A Mori Mori no Mi é uma Fruta do Diabo do tipo Logia consumida por
      Ryokugyu. Esta fruta lhe concede a habilidade de criar, controlar e
      transformar-se em flora, especificamente plantas e árvores, permitindo-lhe
      realizar uma variedade de feitos impressionantes e devastadores. Ele pode
      evitar danos físicos tradicionais transformando-se em flora, o que também
      lhe dá a capacidade de regenerar partes do corpo danificadas através de
      crescimento de plantas.
    </p>
    <p>
      <strong>Vines and Roots</strong>: Ryokugyu pode criar vinhas e raízes para
      atacar seus oponentes, prendê-los e imobilizá-los. Essas plantas podem ser
      extremamente resistentes e difíceis de quebrar.
    </p>
    <p>
      <strong>Floral Blasts</strong>: Ele pode lançar ataques de plantas afiadas
      e espinhosas que podem perfurar e cortar através de quase qualquer
      material, causando danos significativos.
    </p>
    <p>
      <strong>Escudo Vegetal</strong>: Ryokugyu pode criar barreiras e escudos
      de plantas para proteger-se de ataques inimigos. Essas barreiras podem ser
      fortalecidas com Haki, tornando-se ainda mais resistentes.
    </p>
    <p>
      <strong>Controle do Terreno</strong>: Ryokugyu pode usar suas habilidades
      para alterar o ambiente ao seu redor, criando florestas densas, campos de
      espinhos e outras formações de plantas que dificultam a movimentação de
      seus inimigos.
    </p>
  </article>
</div>
