<div class="container">
  <article>
    <h1>Smoothie</h1>
    <img
      src="../../../../assets/perfis/yonkous/bigMom/smoothie.gif"
      alt="gif Smoothie"
      class="img-gif"
      loading="eager"
    />

    <p>
      Charlotte Smoothie é uma das filhas da Imperatriz Big Mom e ocupa a
      posição de um dos "Três Comandantes Doces" dos Piratas da Big Mom em "One
      Piece". Ela é uma combatente poderosa e uma figura de autoridade dentro da
      tripulação.
    </p>
    <p>
      Smoothie é usuária da <strong>Shibo Shibo no Mi</strong>, uma Akuma no Mi
      do tipo Paramecia que lhe permite extrair líquidos de objetos vivos e
      inanimados. Ela pode torcer e espremer seus alvos para drenar seus
      líquidos, fortalecendo-se e aumentando seu próprio tamanho ao absorver
      esses líquidos. Essa habilidade pode ser usada tanto para ataque quanto
      para defesa, tornando-a uma adversária versátil e perigosa.
    </p>
    <p>
      Além de suas habilidades de fruta do diabo, Smoothie é uma espadachim
      habilidosa, capaz de combinar suas técnicas de espada com os poderes da
      Shibo Shibo no Mi para criar ataques devastadores. Sua habilidade de
      manipular líquidos também lhe permite usar esses fluidos de maneiras
      criativas e letais.
    </p>
    <p>
      Com sua força, habilidades de espadachim e o poder da Shibo Shibo no Mi,
      Smoothie é uma oponente formidável e uma líder respeitada entre os Piratas
      da Big Mom, desempenhando um papel crucial nas operações da tripulação.
    </p>
  </article>
</div>
