<div class="container">
  <article>
    <h1>Sabo</h1>
    <img
      src="../../../../assets/perfis/revolucionarios/sabo.gif"
      alt="gif Sabo"
      class="img-gif"
      loading="eager"
    />

    <section class="historia">
      <p>
        Sabo, o <strong>"Imperador das Chamas"</strong> é o chefe do
        estado-maior do Exército Revolucionário, reconhecido como o número 2 de
        toda a organização, superado apenas pelo Comandante Supremo Monkey D.
        Dragon. Ele também é o irmão de juramento dos infames piratas Monkey D.
        Luffy e do falecido Portgas D. Ace.
      </p>
      <p>
        Criado como nobre por seus pais Outlook III e Didit no Reino Goa, Sabo
        fugiu aos 10 anos com a intenção de se tornar um pirata e escrever um
        livro sobre suas viagens, e conheceu Ace e Luffy enquanto vivia como
        fugitivo no Terminal Cinza. Ele tentou zarpar poucos meses depois para
        fugir de sua família, mas teve seu navio destruído pelo Nobre Mundial
        São Jalmack. Ele foi salvo por Dragon, mas perdeu a memória no processo
        e, assim, dedicou sua vida a serviço do Exército Revolucionário.
      </p>
      <p>
        No entanto, suas memórias retornaram 10 anos depois, quando ele soube da
        morte de Ace. Dois anos após recuperar suas memórias, Sabo se reuniu com
        Luffy e também carregou o legado de Ace ao consumir sua Akuma no Mi, a
        Mera Mera no Mi. Sua recompensa atual é desconhecida.
      </p>
    </section>

    <section class="poder">
      <h2>Mera Mera no Mi</h2>
      <img
        src="../../../../assets/dados/revolucionarios/sabo_chamas.jpg"
        alt="Sabo em Chamas"
        class="img-info"
      />
      <p>
        Sabo comeu a Mera Mera no Mi, uma Akuma no Mi do tipo Logia que lhe
        permite criar, controlar e transformar seu corpo em fogo. Inicialmente,
        ele demonstrou dificuldade em controlar seus poderes, o que é comum em
        novos usuários de Akuma no Mi. Ele também mencionou que ainda não estava
        totalmente acostumado com sua nova habilidade, já que ainda tinha o
        hábito de se esquivar de ataques, apesar de agora ser um usuário de
        Logia. Ele se adaptou rapidamente às suas novas habilidades e, desde
        então, passou por treinamento e prática para dominar seus poderes.
      </p>
      <p>
        Sabo é capaz de utilizar a técnica característica de seu falecido irmão
        de juramento, Ace, o "Hiken", que lhe permite transformar seu braço em
        uma grande e poderosa explosão de fogo. Esse ataque foi forte o
        suficiente para destruir o piso inferior do Coliseu Corrida, que era
        resistente o bastante para suportar o peso de um gigante, expondo as
        instalações subterrâneas. Sabo também pode usar suas chamas para
        incrementar seu estilo Ryusoken, bem como imbuir chamas em suas armas.
      </p>
      <p>
        Quando criança, o método de combate preferido de Sabo era lutar usando
        canos de metal. Após timeskip, ele continuou a usar um cano de metal
        semelhante, lutando e se defendendo efetivamente de ataques de oponentes
        tão fortes quanto Diamante e Burgess. Quando usado em conjunto com o
        Busoshoku Haki, Sabo conseguiu quebrar facilmente a arma de Diamante.
        Depois de obter a Mera Mera no Mi, Sabo foi capaz de acender as duas
        pontas de seu cano.
      </p>
    </section>
  </article>
</div>
