<div class="container">
  <article>
    <img
      src="../../../../assets/perfis/chapeus/franky.gif"
      alt="gif Franky"
      class="img-gif"
    />
    <h2>Franky</h2>
    <p>
      Franky é um engenheiro naval e o construtor do Thousand Sunny, o navio dos
      Chapéus de Palha em One Piece, conhecido por sua personalidade excêntrica
      e estilo único. Seu sonho é criar o navio mais poderoso do mundo.
      Inicialmente um inimigo dos Chapéus de Palha, Franky eventualmente se
      juntou à tripulação após reconhecer o potencial deles. Desde então, ele se
      tornou uma parte vital da equipe, utilizando suas habilidades como
      engenheiro para manter o Thousand Sunny em perfeitas condições e enfrentar
      os desafios que encontram em sua jornada.
    </p>

    <h2>Thousand Sunny</h2>
    <img
      src="../../../../assets/frutos/Thousand_Sunny.jpg"
      alt="Thousand Sunny"
      class="img-fruto"
    />
    <p>
      Após a destruição do Going Merry, o Thousand Sunny se torna o novo navio
      dos Piratas do Chapéu de Palha. Foi projetado por Franky, membro da
      tripulação, e construído com a ajuda do mestre carpinteiro Iceburg e dos
      habitantes da Water 7. É um navio muito mais avançado em comparação com o
      Going Merry. Possui um design mais aerodinâmico e funcional, com
      características especiais, como a capacidade de navegar em águas profundas
      e resistir aos rigores do Novo Mundo.
    </p>
  </article>
</div>
