<div class="container">
  <article>
    <h1>Franky</h1>
    <img
      src="../../../../assets/perfis/chapeus/franky/franky.gif"
      alt="gif Franky"
      class="img-gif"
      loading="eager"
    />

    <section class="historia">
      <p>
        Franky é o carpinteiro dos Piratas do Chapéu de Palha. Ele é um cyborg
        de 36 anos de Water 7 e foi introduzido na história como o líder da
        Família Franky, um grupo de desmantelamento de navios. Ele foi
        originalmente chamado de "Cutty Flam" até trocar seu nome original por
        seu apelido a pedidos de Iceburg para esconder sua identidade.
      </p>
      <p>
        A pedido da Família Franky, Franky foi permitido se juntar aos Chapéus
        de Palha para realizar seu sonho de criar e dirigir um navio capaz de
        dar a volta ao mundo, o Thousand Sunny. Ele é o oitavo membro da
        tripulação dos Chapéus de Palha e o sétimo a se juntar ao bando de
        Luffy. Ele também é o segundo membro a ser um ex-antagonista (o primeiro
        sendo Nico Robin). Ele tem uma recompensa de 394.000.000 de berrys.
        Franky ainda foi considerado pela marinha um dos 9 comandantes de Luffy,
        sendo o 6° Comandante, seguindo a lógica da sua recompensa.
      </p>
    </section>

    <section class="poder">
      <h2>Família Franky</h2>
      <img
        src="../../../../assets/perfis/chapeus/franky/familia.jpg"
        alt="Familia Franky"
        class="img-formas"
      />
      <p>
        A Família Franky é um grupo de pelo menos cinquenta desmanteladores de
        navios e Caçadores de Recompensas, reunidos sob a liderança de Cutty
        Flam (mais conhecido como Franky). No começo do arco de Water 7, eles
        encontraram os Chapéu de Palha e espancaram Usopp para roubar o dinheiro
        que ele carregava para Nami e Luffy.
      </p>
      <p>
        Quando Luffy descobre que a Franky Family foi quem fez isso, ele, Zoro,
        Sanji e Chopper derrotam o grupo inteiro (menos Franky e as Square
        Sisters, Kiwi e Mozu) e destroem a Franky House. Querendo vingança,
        Franky tenta atingir Luffy, mas uma batalha entre eles e a Galley-la
        acaba em empate. Mais tarde, o grupo encontra a CP9 e são forçados a
        revelar seu segundo esconderijo, onde Franky está enscondido. Quando ele
        é sequestrado, a Franky Family forma uma aliança com os Chapéu de Palha
        (que estão atrás de Nico Robin), para resgatá-la.
      </p>
      <p>
        Em Enies Lobby, a ilha judiciária, ajudam a lutar contra os vários
        marinheiros e agentes do governo que estão atrás deles. Os seus King
        Bullls, Sodoma e Gomorra, são fundamentais em fazê-los atravessar a
        entrada da ilha até à ilha principal. Então eles correm para escapar
        antes de serem aniquilados pelo Buster Call, enquanto Franky ajuda Nico
        Robin a conseguir um meio seguro de fugir junto com os Chapéu de Palha.
      </p>
    </section>

    <section class="curiosidade">
      <h2>Thousand Sunny</h2>
      <img
        src="../../../../assets/perfis/chapeus/franky/sunny.gif"
        alt="gif navio Thousand Sunny"
        class="img-gif"
      />
      <p>
        Thousand Sunny é o segundo navio dos Chapéu de Palha, e atualmente seu
        principal meio de transporte após a destruição do Going Merry. O navio
        foi criado por Franky com madeira de uma árvore rara chamada Adam.
        Segundo Franky, a alma do Going Merry reside nesse navio.
      </p>
      <p>
        O Thousand Sunny é o "brig-sloop" que possuia dois mastros para melhor
        precisão para a navegação, para dar a extrema capacidade de manobra do
        navio. A escultura da proa, é uma cabeça de um leão com sua juba em
        forma de pétalas de flores. Devido a isso, o leão foi confundido com um
        girassol durante a construção do navio.
      </p>
      <p>
        <strong>
          Thosand Sunny possui alguns equipamentos escondidos, mas sempre são
          liberados pela porta (1) do lado esquerdo. São eles:
        </strong>
      </p>
      <p>
        <strong>Channel 0 (Paddle Sunny):</strong> Contém duas grandes rodas
        movidas a cola dentro de dois compartimentos opostos que se estendem
        para impulsionar o barco, enquanto as velas são amarradas; Nesta
        configuração, o navio é chamado de "Navio Paddle Sunny.
      </p>
      <p>
        <strong>Channel 1 (Waver "Cavalo Branco"):</strong> Contém o Waver que a
        tripulação do chapéu de palha recebeu quando foi a Skypea. Quando as
        portas do Thousand Sunny estão fechadas, elas exibem o número 1,
        possivelmente em homenagem ao Dique 1 da Companhia Galley-La.
      </p>
      <p>
        <strong>Channel 2 (Mini Merry II):</strong> Contém um navio de
        abastecimento, o Mini-Merry II, um navio a vapor de quatro lugares que
        se assemelha a Going Merry.
      </p>
      <p>
        <strong>Channel 3 (Shark Submarge III):</strong> Contém um submarino
        capaz de carregar até três pessoas. Ele é parecido com um tubarão e seu
        nome é Shark Submarg III.
      </p>
      <p>
        <strong>Channel 4 (Soldier Dock System):</strong> Contém a moto Black
        Rhino FR-U Unit 4, uma motocicleta preta gigante com três rodas e cabeça
        blindada de rinoceronte.
      </p>
      <p>
        <strong>
          Thosand Sunny possui também algumas habilidades que são demonstradas
          ao longo do tempo surpreendendo seus tripulantes. São eles:
        </strong>
      </p>
      <p>
        <strong>Coup de Burst:</strong> É uma habilidade exclusiva do Thousand
        Sunny (apesar de ser um barco). Quando o Thousand Sunny é abastecido de
        cola, pode ser ativado um sistema de propulsão (que fica atrás dele) e
        com isso podendo voar até 1 quilômetro. Aparentemente leva um certo
        tempo para o Thousand Sunny usar seu jato.
      </p>
      <p>
        <strong>Chicken Voyage:</strong> A juba do Sunny gira como se fossem
        hélices. Esta habilidade é usada para o navio dar ré.
      </p>
    </section>
  </article>
</div>
