:host {
  .container {
    width: 700px;
    height: 600px;
    padding: 10px;
    text-align: justify;
    overflow-y: visible;
  }
  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h2 {
    margin-bottom: 5px;
    text-decoration: underline;
  }
  .img-gif {
    width: 500px;
    height: 300px;
    border-radius: 5px;
  }
  .img-fruto {
    margin-bottom: 15px;
    height: 150px;
    border-radius: 4px;
  }
}


