<div class="container">
  <article>
    <h1>Shiryu da Chuva</h1>
    <img
      src="../../../../assets/perfis/yonkous/barbaNegra/shiliew.gif"
      alt="gif Shiliew"
      class="img-gif"
      loading="eager"
    />

    <p>
      Shiryu da Chuva é um dos Dez Capitães Colossais dos Piratas do Barba
      Negra, como <strong>capitão do Segundo Navio.</strong> Ele foi
      originalmente apresentado como o ex-carcereiro-chefe de Impel Down, que
      havia sido preso no corredor da morte de nível 6 por sua violência
      excessiva e assassina contra os prisioneiros.
    </p>
    <p>
      Quando foi temporariamente liberado para ajudar Magellan a acabar com o
      motim na prisão causado pela vinda de Monkey D. Luffy e Marshall D. Teach
      para Impel Down, ele escolheu ir contra o que lhe foi ordenado e, em vez
      disso, ajudar os Piratas do Barba Negra, decidindo finalmente se juntar a
      eles.
    </p>
    <p>
      Shiryu é extremamente sanguinário e gostava de matar pessoas a qualquer
      momento que pudesse. Ele massacrou numerosos presos dentro dos muros de
      Impel Down a tal ponto que Magellan não podia mais ignorar o seu
      comportamento assassino. Ele também derrubou seus subordinados logo após
      ser libertado da prisão, dando uma desculpa sarcástico.
    </p>
    <p>
      Shiryu tem os poderes da Suke Suke no Mi, uma Akuma no Mi da classe
      Paramecia que permite que ele se torne invisível e tudo o que estiver
      segurando. Ele adquiriu a habilidade logo depois que sua tripulação
      assassinou seu usuário anterior, Absalom. Com ele, ele consegue cortar
      oponentes sem ser localizado, pegando-os de surpresa. Ele pessoalmente
      detém o poder em alta consideração em termos de utilidade.
    </p>
  </article>
</div>
