<div class="container">
  <article>
    <img
      src="../../../../assets/perfis/shishibukais/hancock.gif"
      alt="gif Boa Hancock"
      class="img-gif"
    />
    <h2>Boa Hancock</h2>
    <p>
      Edward Newgate, também conhecido como Barba Branca, foi um dos Yonkou em
      One Piece e o capitão dos Piratas do Barba Branca. Seu sonho era encontrar
      uma família, um lugar onde ele pertencesse verdadeiramente, ele buscava
      criar um grupo unido e forte. Ele era conhecido por sua incrível força e
      liderança carismática. Barba Branca era visto como uma figura paterna por
      muitos piratas e tinha grande respeito e lealdade de sua tripulação. Sua
      morte durante a Guerra de Marineford marcou um ponto crucial na história,
      deixando uma lacuna imensa no mundo dos piratas.
    </p>

    <h2>Gura Gura no Mi</h2>
    <img
      src="../../../../assets/frutos/Gura_Gura.jpg"
      alt="Gura Gura no mi"
      class="img-fruto"
    />
    <p>
      É uma Fruta do Diabo do tipo Paramecia, e é conhecida como a Fruta do
      Terremoto. A Gura Gura no Mi concede ao usuário a capacidade de criar e
      controlar terremotos e tremores de terra. Isso inclui a habilidade de
      gerar ondas de choque poderosas que podem abalar a terra e o mar, criando
      terremotos devastadores e até mesmo tsunamis, além disso, seu poder para
      destruir estruturas, desestabilizar o terreno e até mesmo manipular o
      campo de batalha em seu favor, criando obstáculos para seus oponentes ou
      abrindo brechas para ataques devastadores.
    </p>

    <h2>Bando do Barba Branca</h2>
    <img
      src="../../../../assets/bandeiras/barbabranca.jpg"
      alt="Bandeira Pirata"
      class="img-fruto"
    />
    <p>
      O bando pirata do Barba Branca, liderado pelo imponente Edward Newgate,
      era uma das tripulações mais temidas e respeitadas nos mares de One Piece.
      Seus membros notáveis incluíam <strong> Marco, o Fênix,</strong> que
      servia como o primeiro comandante e possuía a habilidade de se transformar
      em uma fênix, concedendo-lhe regeneração e habilidades de voo.
      <strong> Jozu, apelidado de Diamante </strong>, devido à sua incrível
      força e habilidade de transformar partes de seu corpo em diamante maciço.
      <strong> Vista, conhecido como Flor das Espadas </strong>, era um mestre
      espadachim e um dos mais habilidosos de toda a tripulação, com sua
      destreza com a espada sendo reconhecida até mesmo por Mihawk, o melhor
      espadachim do mundo.
      <strong>Portgas D. Ace, conhecido como Punhos de Fogo </strong>, possuía o
      poder da Fruta Flamejante, permitindo-lhe manipular o fogo. Sua habilidade
      em combate e sua devoção aos ideais de justiça e liberdade o tornaram um
      membro respeitado da tripulação, e
      <strong>Marshall D. Teach, mais tarde conhecido como Barba Negra </strong
      >, inicialmente um membro promissor dos Piratas do Barba Branca,
      eventualmente traiu o bando e assumiu sua própria tripulação. Sua ambição
      desenfreada e sua busca pelo poder levaram-no a tornar-se um dos Yonkou.
    </p>
    <p>
      Além desses notáveis, havia os Doze Capitães Divinos, um grupo de elite
      dentro da tripulação que possuía uma notável reputação e habilidades
      extraordinárias. Cada um desses capitães era excepcional em seu próprio
      direito, contribuindo para a força e reputação formidáveis dos Piratas do
      Barba Branca. Entre eles estavam nomes como
      <strong> Blamenco, Rakuyo, Haruta, entre outros </strong>.
    </p>
    <p>
      O bando era conhecido não apenas por sua força e habilidade de combate,
      mas também pelacamaradagem e lealdade que compartilhavam entre si e com
      seu capitão. A bandeira do BarbaBranca era um símbolo de esperança e
      respeito nos mares, e sua presença imponente era uma dasmais reconhecidas
      e temidas em todo o Novo Mundo. Após a morte de Barba Branca durante
      aGuerra de Marineford, muitos de seus ex-membros continuaram a honrar seu
      legado, mantendo viva sua memória e influência nos mares.
    </p>
  </article>
</div>
