<div class="container">
  <article>
    <h1>Boa Hancock</h1>
    <img
      src="../../../../assets/perfis/shishibukais/hancock.gif"
      alt="gif Boa Hancock"
      class="img-gif"
      loading="eager"
    />
    <p>
      Boa Hancock é originária da ilha Amazon Lily, um reino isolado no Calm
      Belt. Como uma das Kuja, uma tribo de guerreiras, ela ascendeu à liderança
      após a morte da Imperatriz Gloriosa. A tragédia de seu passado envolve sua
      captura por traficantes de escravos, onde foi submetida a abusos até ser
      resgatada por um pirata, Fisher Tiger. Sua experiência moldou sua visão
      dos homens como predadores, o que levou ao ódio inicial de Luffy, que ela
      eventualmente superou.
    </p>
    <p>
      Hancock é uma mestra em artes marciais, destacando-se em combate corpo a
      corpo. Sua velocidade e agilidade a tornam uma oponente formidável. Além
      disso, ela é uma usuária do "Haki", possuindo habilidades excepcionais
      tanto em "Kenbunshoku Haki" (Haki da Observação) quanto em "Busoshoku
      Haki" (Haki do Armamento). Ela também é capaz de usar o raro "Haoshoku
      Haki" (Haki do Rei), uma habilidade que só alguns indivíduos excepcionais
      possuem, permitindo-lhe subjugar seus oponentes com sua vontade.
    </p>

    <h2>Mero Mero no mi</h2>
    <img
      src="../../../../assets/dados/Frutos/Mero_Mero_no_Mi_Hancock.jpg"
      alt="Mero Mero no mi"
      class="img-fruto"
    />
    <p>
      A Mero Mero no Mi é uma Fruta do Diabo do tipo Paramecia em "One Piece".
      Ela concede ao usuário o poder de transformar qualquer pessoa que sinta
      desejo por ele em pedra simplesmente olhando para ela. Esse poder é
      conhecido como "Olhar da Morte" (ou "Petrificação"), e é uma habilidade
      incrivelmente poderosa tanto em combate quanto como uma forma de defesa e
      intimidação. O usuário pode controlar o alcance e a intensidade do efeito,
      podendo petrificar múltiplos alvos de uma vez ou apenas uma pessoa
      específica. Além disso, mesmo que alguém esteja sob o efeito da
      petrificação, o usuário pode escolher liberá-los quando desejar.
    </p>

    <h2>Bando das Piratas Kuja</h2>
    <img
      src="../../../../assets/bandeiras/hancock.jpg"
      alt="Bandeira Pirata"
      class="img-bandeira"
    />
    <p>
      As Piratas Kuja são um grupo notório formado exclusivamente por mulheres e
      é oriundo da Ilha das Mulheres, Amazon Lily, que está localizada na Calm
      Belt.
    </p>
    <p>
      Boa Hancock é a líder do grupo e uma das personagens mais poderosas do
      universo de One Piece. Ela também é uma das Shichibukai, um grupo de
      piratas que trabalha para o Governo Mundial em troca de privilégios.
    </p>
    <p>
      <strong>Boa Sandersonia</strong> é uma das irmãs mais novas de Hancock.
      Ela é leal e dedicada ao seu povo e à sua irmã. Sandersonia comeu a Fruta
      do Diabo <strong>Hebi Hebi no Mi, Modelo: Anaconda</strong>, que lhe
      permite se transformar em uma anaconda gigante, aumentando sua força e
      agilidade.
    </p>
    <p>
      <strong>Boa Marigold</strong> é outra irmã mais nova de Hancock, conhecida
      por sua força e resistência. Marigold possui os poderes da Fruta do Diabo
      <strong>Hebi Hebi no Mi, Modelo: Cobra Real</strong>, permitindo-lhe
      transformar-se em uma cobra real gigante. Também possui grande força
      física e habilidades no uso do Haki.
    </p>
    <p>
      <strong>Marguerite</strong> é uma das guerreiras Kuja que desempenha um
      papel importante durante o arco de Amazon Lily. Ela é leal e destemida.
      Embora não possua poderes de Fruta do Diabo, Marguerite é uma arqueira
      habilidosa e guerreira competente, treinada nas artes marciais das Kuja.
    </p>
  </article>
</div>
