<div class="container">
  <article>
    <h1>Vice-Almirante Doberman</h1>
    <img
      src="../../../../assets/perfis/marinha/doberman.gif"
      alt="gif Doberman"
      class="img-gif"
      loading="eager"
    />

    <section class="historia">
      <p>
        Vice-Almirante Doberman é um oficial da Marinha e um dos cinco
        vice-almirantes Buster Call chamadas presentes no ataque a Enies Lobby.
      </p>
      <p>
        Doberman acredita firmemente na Justiça absoluta: ele ordenou que os
        Marinheiros a abandonassem os soldados feridos e estava disposto a
        mostrar as cabeças de Ace e Barba Branca como troféus para o mundo. Ele
        também alegou que Luffy não podia deixar Marineford vivo, por ser filho
        do Dragon. Ele foi perspicaz o suficiente para ver através da mentira
        Spandam sobre Nico Robbin, mas Doberman não fez nada para parar o ataque
        a ela. Ele, no entanto, demonstrou afeição por aqueles que respeitava,
        como demonstrado quando derramou uma lágrima quando ele e seus
        companheiros marinheiros foram forçados a matar seu antigo instrutor,
        Zephyr .
      </p>
      <p>
        Como vice-almirante, Doberman é capaz de comandar um Buster Call ao lado
        de outros quatro vice-almirantes. Ele também tem o comando sobre os
        subordinados de menor escalão. Doberman tem uma vontade forte, pois foi
        capaz de resistir ao Haoshoku Haki de Luffy. Ele também sobreviveu à
        Batalha de Marineford sem receber nenhum ferimento visível.
      </p>
      <p>
        Durante o Arco Marineford, ele foi visto carregando uma katana, usando-a
        em sua mão esquerda, o que pode sugerir que ele é canhoto ou ambidestro.
        Ele foi visto lutando no mesmo nível de McGuy, um dos aliados do Barba
        Branca.
      </p>
    </section>
  </article>
</div>
