<div class="container">
  <article>
    <img
      src="../../../../assets/perfis/shishibukais/doflamingo.gif"
      alt="gif Doflamingo"
      class="img-gif"
    />
    <h2>Donquixote Doflamingo</h2>
    <p>
      Donquixote Doflamingo é um dos antagonistas mais formidáveis de "One
      Piece". Conhecido como "Joker" no submundo, ele é o capitão dos Piratas
      Donquixote e um ex-Shichibukai, além de ser um dos descendentes dos
      Tenryuubito (Dragões Celestiais). Doflamingo é um personagem complexo, com
      um passado trágico e traumático que envolve a queda de sua família da
      nobreza celestial, o que alimenta seu ódio e ambição de vingança. Ele é o
      usuário da Ito Ito no Mi, uma Akuma no Mi do tipo Paramecia. Doflamingo
      governou o reino de Dressrosa com punho de ferro, utilizando suas
      habilidades e influência para manter o poder e manipular eventos à sua
      vontade. Com uma personalidade sádica, carismática e inteligente,
      Doflamingo é conhecido por seu sorriso constante e sua filosofia niilista.
      Ele acredita que o mundo é regido por uma ordem de caos e poder, onde os
      fortes dominam os fracos.
    </p>

    <h2>Ito Ito no Mi</h2>
    <img
      src="../../../../assets/frutos/Ito_Ito_no_Mi_Doflamingo.jpg"
      alt="Ito Ito no mi"
      class="img-fruto"
    />
    <p>
      A Ito Ito no Mi é uma Akuma no Mi do tipo Paramecia. Esta fruta concede ao
      usuário a habilidade de criar e manipular fios extremamente finos e
      afiados, que são praticamente invisíveis a olho nu. A Ito Ito no Mi é uma
      das frutas mais versáteis e perigosas do universo de "One Piece",
      proporcionando a Doflamingo uma ampla gama de habilidades. Doflamingo usa
      a Ito Ito no Mi com maestria, combinando suas habilidades de fios com sua
      inteligência estratégica e crueldade. Ele pode manipular grandes grupos de
      pessoas, cortar através de obstáculos e inimigos com facilidade, e criar
      barreiras defensivas impenetráveis. Sua habilidade de voar lhe dá uma
      vantagem tática significativa, permitindo ataques surpresa e evasão
      rápida.
    </p>

    <h2>Piratas Donquixote</h2>
    <img
      src="../../../../assets/bandeiras/doflamingo.jpg"
      alt="Bandeira Pirata"
      class="img-fruto"
    />
    <p>
      Os Piratas Donquixote são uma das tripulações mais poderosas e organizadas
      em "One Piece", liderados por Donquixote Doflamingo. A tripulação é
      dividida em várias divisões, cada uma liderada por um oficial de alto
      escalão com habilidades únicas. Eles são conhecidos por sua crueldade,
      força e lealdade a Doflamingo. Abaixo está uma descrição dos principais
      membros da tripulação:
    </p>
    <p>
      <strong>Trebol (Oficial Superior):</strong> é um dos quatro principais
      oficiais e é conhecido por sua força bruta e aparência repulsiva. <br />
      <strong>Fruta do Diabo:</strong> Beta Beta no Mi (Paramecia), que lhe
      permite gerar e controlar muco pegajoso.
    </p>
    <p>
      <strong>Diamante (Oficial Superior):</strong> é um guerreiro carismático e
      poderoso, responsável por supervisionar as operações militares do bando.
      <br />
      <strong>Fruta do Diabo:</strong> Hira Hira no Mi (Paramecia), que lhe
      permite transformar seu corpo em uma substância plana e ondulante como uma
      bandeira.
    </p>
    <p>
      <strong>Pica (Oficial Superior):</strong> é enorme e possui uma voz aguda
      contrastante com sua aparência robusta. Ele pode transformar todo o seu
      corpo em pedra e manipular o terreno ao seu redor. <br />
      <strong>Fruta do Diabo:</strong> Ishi Ishi no Mi (Paramecia), que lhe
      permite controlar e se fundir com pedras.
    </p>
    <p>
      <strong>Vergo (Oficial Superior e Espião):</strong> é o primeiro e mais
      confiável oficial de Doflamingo, infiltrado na Marinha como
      Vice-Almirante. Ele é conhecido por seu Haki poderoso. <br />
      <br />
      <strong>Outros membros:</strong> Lao G, Gladius, Senor Pink, Machvise,
      Baby 5, Dellinger, Sugar e Jora
    </p>
  </article>
</div>
