<div class="container">
  <article>
    <h1>Black Maria</h1>
    <img
      src="../../../../assets/perfis/yonkous/feras/blackMaria.gif"
      alt="gif Black Maria"
      class="img-gif"
      loading="eager"
    />

    <p>
      Black Maria é um dos Tobiroppo, o grupo de elite dos Piratas das Feras
      liderados por Kaido em "One Piece". Ela é uma das combatentes mais
      formidáveis da tripulação, destacando-se tanto por sua força quanto por
      suas habilidades únicas.
    </p>
    <p>
      Black Maria é usuária da
      <strong>Kumo Kumo no Mi, Modelo: Rosamygale Grauvogeli</strong>, uma Akuma
      no Mi do tipo Zoan Antiga. Esta fruta do diabo permite que ela se
      transforme em uma aranha pré-histórica gigante, aumentando
      significativamente sua força e capacidades de combate.
    </p>
    <p>
      Black Maria pode transformar partes de seu corpo ou todo o seu corpo em
      uma aranha Rosamygale Grauvogeli, concedendo-lhe habilidades como tecer
      teias resistentes e atacar com suas patas poderosas.
    </p>
    <p>
      Além de suas habilidades de transformação, ela utiliza uma arma
      tradicional japonesa, o kanabo, para aumentar seu poder de ataque.
    </p>
  </article>
</div>
