<div class="container">
  <article>
    <h1>Vice-Almirante Onigumo</h1>
    <img
      src="../../../../assets/perfis/marinha/onigumo.gif"
      alt="gif Onigumo"
      class="img-gif"
      loading="eager"
    />

    <section class="historia">
      <p>
        Vice-Almirante Onigumo é um oficial da Marinha, e um dos cinco
        vice-almirantes que conduziram o Buster Call em Enies Lobby.
      </p>
      <p>
        Onigumo é um firme crente da filosofia da Justiça Absoluta, e está
        disposto a sacrificar qualquer coisa para derrotar o que é definido como
        "mal". Isto foi demonstrado quando um soldado questionou-o sobre
        destruir um navio aliado durante o Buster Call e matar milhares de
        aliados apenas para matar Monkey D. Luffy, o que levou Onigumo a matá-lo
        a sangue frio.
      </p>
      <p>
        Ao contrário da maioria dos outros vice-almirantes, Onigumo parece
        preferir sabres, em vez de katanas. Usando ambas as mãos e com a ajuda
        de seus seis braços semelhantes a aranhas, ele é capaz de empunhar oito
        sabres ao mesmo tempo com extrema habilidade e precisão mortal. Ele
        também foi visto empunhando uma pistola para atirar em um de seus
        subordinados por questionar a doutrina da "Justiça Absoluta".
      </p>
      <p>
        Onigumo possui uma Akuma no Mi desconhecida. Usando este poder, ele é
        capaz de fazer crescer três pares de braços negros em forma de aranha de
        seu cabelo, bem como um abdômen de aranha. Com esses braços semelhantes
        aos de aranhas e seus próprios dois braços humanos, ele é capaz de
        empunhar um total de oito sabres de forma semelhante ao Estilo das Seis
        Espadas de Hatchan e ao Estilo de Oito Espadas de Hyouzou. Esses braços
        de aranha parecem ser produzidos a partir de seu cabelo alongado.
      </p>
    </section>
  </article>
</div>
