<div class="container">
  <article>
    <h1>Who Who</h1>
    <img
      src="../../../../assets/perfis/yonkous/feras/who.gif"
      alt="gif Who Who"
      class="img-gif"
      loading="eager"
    />

    <p>
      Who's-Who é um personagem do anime e mangá "One Piece" que consumiu a
      fruta <strong>Neko Neko no Mi: Modelo Tigre Dentes de Sabre</strong>, uma
      fruta do diabo do tipo Zoan. Essa habilidade permite que ele se transforme
      em um felino com dentes de sabre, aumentando sua força e agilidade em
      combate. Ele é conhecido por suas habilidades únicas e poderes associados
      à fruta, tornando-o um oponente formidável em batalha.
    </p>
    <p>
      O usuário pode se transformar em um Tigre Dentes de Sabre, uma espécie
      extinta de felino. A transformação aumenta significativamente a força e
      agilidade do usuário, tornando-o um oponente formidável em combate. O
      usuário também pode utilizar os dentes de sabre do Tigre Dentes de Sabre
      para causar danos significativos em seus inimigos.
    </p>
  </article>
</div>
