<div class="container">
  <article>
    <img
      src="../../../../assets/perfis/chapeus/nami.gif"
      alt="gif nami"
      class="img-gif"
    />
    <h2>Nami</h2>
    <p>
      Nami é a navegadora dos Chapéus de Palha em One Piece, uma talentosa
      cartógrafa e ladra habilidosa. Seu sonho é criar um mapa completo do
      mundo. Inicialmente, Nami se juntou à tripulação como uma cativa, buscando
      reunir dinheiro para libertar sua vila de uma ameaça pirata. Após a
      resolução desse conflito, ela decidiu permanecer com os Chapéus de Palha,
      onde se tornou uma figura essencial na navegação e planejamento
      estratégico da tripulação, continuando a buscar sua paixão pela
      cartografia.
    </p>

    <h2>Log Pose</h2>
    <img
      src="../../../../assets/frutos/logpose.jpg"
      alt="Log Pose"
      class="img-fruto"
    />
    <p>
      O Log Pose é uma bússola especial que se adapta às condições magnéticas
      únicas de cada ilha na Grand Line. Ao invés de apontar para o norte
      magnético como uma bússola comum, o Log Pose é ajustado para apontar para
      a próxima ilha na rota pré-determinada.
    </p>
  </article>
</div>
