<div class="container">
  <article>
    <h1>Nami</h1>
    <img
      src="../../../../assets/perfis/chapeus/nami/nami.gif"
      alt="gif nami"
      class="img-gif"
      loading="eager"
    />

    <section class="historia">
      <p>
        Nami, <strong>a "Gata Ladra"</strong> é a navegadora dos Piratas do
        Chapéu de Palha e uma dos Oficiais Seniores da Grande Frota do Chapéu de
        Palha. Ela é o terceiro membro da tripulação e a segunda a entrar,
        fazendo isso durante o Arco Orange Town. Ela é irmã adotiva de Nojiko
        depois que os dois ficaram órfãos e foram acolhidos por Bell-mère.
      </p>
      <p>
        Ela era anteriormente um membro dos Piratas do Arlong e inicialmente se
        juntou aos Chapéus de Palha para poder roubá-los e comprar de volta a
        sua aldeia de Arlong. No entanto, ela se juntou legitimamente aos
        Chapéus de Palha depois que eles se rebelaram e derrotaram Arlong. Seu
        sonho é fazer um mapa de todo o mundo.
      </p>
      <p>
        Ela primeiro ganhou uma recompensa de 16.000.000 de berrys após a
        invasão em Enies Lobby. Posteriormente, aumentou para l66.000.000 de
        berrys após o Arco Dressrosa. Após o Ataque à Onigashima, sua recompensa
        foi aumentada para 366,000,000 de berrys.
      </p>
    </section>

    <section class="curiosidade">
      <h2>Tesouros</h2>
      <img
        src="../../../../assets/perfis/chapeus/nami/nami_grana.gif"
        alt="gif Nami com sinal de dinheiro nos olhos"
        class="img-gif"
      />
      <p>
        Nami é gananciosa e faz qualquer coisa por dinheiro e tesouros,
        aceitando qualquer desafio que surgir. Seu amor pelo dinheiro deriva de
        sua infância, onde ela viveu uma vida pobre e muitas vezes ficou
        chateada por ter pouco dinheiro, apesar do amor de sua mãe adotiva.
      </p>
      <p>
        Enquanto ela manda Luffy e o resto da tripulação para atender a demanda,
        a única coisa que ela não faz é vender um companheiro, não importa a
        quantia. Ela em várias vezes endivida seus colegas de tripulação em
        assuntos triviais (como Luffy por rasgar seu casaco e Zoro por emprestar
        100.000 berrys apenas para não gastá-lo e devolvê-lo mais tarde).
      </p>
      <p>
        Sua carga usual para reembolsar a dívida é 300% de juros, e ela
        frequentemente aumenta as dívidas para conseguir que alguém faça alguma
        coisa por ela. Ela toma o controle da quantidade de dinheiro que a
        tripulação gasta, sempre ciente dos hábitos de gastos da tripulação
        (como o desejo de Luffy de gastar tudo o que eles têm com carne) e tenta
        ao máximo evitar que o dinheiro seja gasto de uma só vez.
      </p>

      <h2>Navegadora</h2>
      <img
        src="../../../../assets/perfis/chapeus/nami/nami_mapa.gif"
        alt="gif Nami com mapa"
        class="img-gif"
      />
      <p>
        Nami é uma navegadora altamente qualificada e uma cartógrafa
        extremamente talentosa. Arlong considerou suas habilidades "superior" a
        dos homens-peixe, uma vez que eram superiores a qualquer homem-peixe.
        Quando Luffy destruiu seu quarto em Arlong Park, ambos os mapas
        batimétricos e geográficos foram vistos, prova que Nami tem uma grande
        variedade de habilidades cartográficas.
      </p>
      <p>
        Ela é capaz de formular equações avançadas em poucos minutos para prever
        um curso de ação preciso, embora ela geralmente precise escrever as
        equações em um meio físico ao formulá-las. Ela tem uma capacidade
        sobrenatural de sentir mudanças no clima, "com seu corpo", de acordo com
        Vivi, e pode até prever o surgimento de ciclones supostamente
        imprevisíveis na Grand Line, não intimidados nem mesmo por uma febre
        alta.
      </p>
      <p>
        Essa habilidade, combinada com seus anos de conhecimento em cartografia
        e navegação, também fez de Nami uma especialista em meteorologia. Não só
        foi mostrada prevendo continuamente e com precisão várias condições
        climáticas normais, mas ela também é capaz de prever e lidar com as
        condições meteorológicas quase não naturais, imprevisíveis e
        inexplicáveis da Grand Line, sendo mais do que capaz de navegar por
        essas condições.
      </p>

      <h2>Jolly Roger</h2>
      <img
        src="../../../../assets/perfis/chapeus/nami/nami_caveira.jpg"
        alt="bandeira pessoal da nami"
        class="img-formas"
      />
      <p>
        Nami tem seu próprio jolly roger, que tem uma bandana listrada de azul e
        branco (que de certa forma corresponde ao padrão da blusa que ela usava
        em sua aparência inicial), um olho piscando, uma língua saindo, uma mão
        fazendo o sinal de "OK " (um movimento de mão japones que significando
        dinheiro), o cabelo de Nami e uma estrela de diamante.
      </p>
      <p>
        Depois do timeskip, um círculo representa todo o crânio, em vez de
        separar a boca e a mandíbula, possivelmente para fazer com que o cabelo
        de Nami pareça mais longo do que antes. O cabelo é agora é longo em vez
        de cachos, também combinando o cabelo mais selvagem de Nami. O padrão na
        bandana é alterado para coincidir com o padrão do biquíni que Nami usava
        em sua aparência inicial após o timeskip. O crânio não pisca mais e
        agora usa brincos e o braço tem sua pulseira e seu log pose. Ele também
        tem a tatuagem de catavento com uma laranja de Nami por trás dele.
      </p>
    </section>
  </article>
</div>
