<div class="container">
  <article>
    <img
      src="../../../../assets/perfis/chapeus/jinbe.gif"
      alt="gif Jinbe"
      class="img-gif"
    />
    <h2>Jinbe</h2>
    <p>
      Jinbe é um guerreiro do mar e mestre em artes marciais, conhecido por sua
      calma e sabedoria em One Piece. Seu sonho é alcançar a coexistência
      pacífica entre humanos e peixes. Originalmente, ele era um membro dos
      Piratas do Sol, mas após uma série de eventos, incluindo a batalha contra
      o Yonkou Big Mom, Jinbe oficialmente se tornou um membro dos Chapéus de
      Palha. Desde então, ele tem sido um aliado leal e valioso, contribuindo
      com sua força e conhecimento dos mares para ajudar a tripulação em suas
      aventuras.
    </p>

    <h2>Karate Tritão</h2>
    <img
      src="../../../../assets/frutos/karate.jpg"
      alt="Karate Tritão"
      class="img-fruto"
    />
    <p>
      O Karatê Tritão é uma forma de luta marcial desenvolvida pelos tritões
      para se adaptar ao ambiente subaquático em que vivem. Devido à sua
      anatomia e habilidades físicas únicas, os tritões desenvolveram técnicas
      de combate que tiram vantagem da água para maximizar sua eficácia.
    </p>
  </article>
</div>
