<div class="container">
  <article>
    <h1>Jinbe</h1>
    <img
      src="../../../../assets/perfis/chapeus/jinbe/jinbe.gif"
      alt="gif Jinbe"
      class="img-gif"
      loading="eager"
    />

    <section class="historia">
      <p>
        <strong>"Cavaleiro do Mar" Jinbe</strong> é o timoneiro dos Piratas do
        Chapéu de Palha. Ele é o décimo membro da tripulação e o nono a se
        juntar, fazendo isso durante o Arco País de Wano.
      </p>
      <p>
        Jinbe é um homem-peixe sendo um tubarão-baleia e um poderoso mestre do
        karatê Homem-Peixe. Seu sonho é realizar o desejo moribundo de seu
        ex-capitão Fisher Tiger de coexistência e igualdade entre humanos e
        homens-peixe.
      </p>
      <p>
        Ele era um membro dos Piratas do Sol, se tornando seu segundo capitão
        após a morte de seu capitão original, Tiger. No decorrer da história, se
        tornou um dos Shichibukai, embora tenha renunciado durante a Batalha de
        Marineford.
      </p>
      <p>
        Antes e durante a guerra, Jinbe fez amizade com Monkey D. Luffy e dois
        anos depois aliou-se a ele e sua tripulação para evitar o golpe de
        estado dos Novos Piratas Homens-Peixe contra o Reino Ryugu da Família
        Real de Neptune. Luffy posteriormente o convidou para se juntar aos
        Piratas do Chapéu de Palha, mas Jinbei adiou até romper os laços com Big
        Mom durante o Arco Ilha Whole Cake.
      </p>
      <p>
        Depois de ficar para trás em Totto Land para proteger os Piratas do Sol
        da ira de Big Mom, Jinbe voltou para os Chapéus de Palha durante o
        Terceiro Ato do Arco País de Wano, anunciando oficialmente seu status
        como membro da tripulação.
      </p>
    </section>

    <section class="poder">
      <h2>Karate Tritão</h2>
      <img
        src="../../../../assets/perfis/chapeus/jinbe/jinbe_karate.gif"
        alt="gif Karate Tritão"
        class="img-gif"
      />
      <p>
        Karatê Homem-Peixe é uma arte marcial que é praticada por alguns membros
        qualificados da raça homem-peixe. Enquanto mortal o suficiente em terra,
        o Karatê Homem-Peixe tem uma série de movimentos subaquáticos
        devastadores, concebidos para serem adequados com a força e a velocidade
        dos homens-peixes, juntamente com a mobilidade que vai ao mesmo tempo
        sob a água e, em alguns casos, a adaptação pessoal de um homem-peixe
        (nadadeiras, dentes, etc.).
      </p>
      <p>
        De acordo com Jinbe, a chave para dominar o Karatê Homem-Peixe é ser
        capaz de controlar toda a água na proximidade direta do usuário, a
        partir da água na atmosfera para a água no corpo do adversário. Uma vez
        que cada criatura viva é nada mais do que uma massa de água, os usuários
        do Karatê Homem-Peixe são capazes de batalhar adversários que são
        normalmente altamente resistenses (se não imunes) contra golpes e socos.
        Isso foi demonstrado pela primeira vez contra Monkey D. Luffy, um homem
        feito de borracha que é quase imune a ataques sem corte.
      </p>
      <p>
        Essa arte marcial pode ser aprendida na Ilha dos Homens-Peixe, mais
        especificamente no Karate Homem-Peixe Dojo.
      </p>
    </section>
  </article>
</div>
