<div class="titulos">
  <div class="titulo-bando marinha">
    <img
      src="../../../assets/perfis/almirante/marinha.png"
      class="caveira"
      alt="Simbolo Marinha"
    />
    <h2 class="nome-bando">ALMIRANTES</h2>
    <img
      src="../../../assets/perfis/almirante/marinha.png"
      class="caveira"
      alt="Simbolo Marinha"
    />
  </div>
</div>
<div class="bando">
  <div class="capitao">
    <img
      src="../../../assets/Cartazes/almirantes/akainu.jpg"
      alt="Imagem Akainu"
      class="cartaz"
      (click)="openDialogAkainu(arrayCards)"
    />
  </div>
  <div class="tripulacao">
    <img
      src="../../../assets/Cartazes/almirantes/kizaru.jpg"
      alt="Imagem Kizaru"
      class="cartaz"
      (click)="openDialogKizaru(arrayCards)"
    />
    <img
      src="../../../assets/Cartazes/almirantes/fujitora.jpg"
      alt="Imagem Fujitora"
      class="cartaz"
      (click)="openDialogFujitora(arrayCards)"
    />
    <img
      src="../../../assets/Cartazes/almirantes/touroVerde.jpg"
      alt="Imagem Touro Verde"
      class="cartaz"
      (click)="openDialogTouro(arrayCards)"
    />
  </div>
</div>

<div class="titulos">
  <div class="titulo-bando marinha">
    <img
      src="../../../assets/perfis/almirante/marinha.png"
      class="caveira"
      alt="Simbolo Marinha"
    />
    <h2 class="nome-bando">EX ALMIRANTES</h2>
    <img
      src="../../../assets/perfis/almirante/marinha.png"
      class="caveira"
      alt="Simbolo Marinha"
    />
  </div>
</div>
<div class="bando">
  <img
    src="../../../assets/Cartazes/almirantes/sengoku.jpg"
    alt="Imagem Sengoku"
    class="cartaz"
    (click)="openDialogSengoku(arrayCards)"
  />
  <img
    src="../../../assets/Cartazes/almirantes/aokiji.jpg"
    alt="Imagem Aokiji"
    class="cartaz"
    (click)="openDialogAokiji(arrayCards)"
  />
</div>
