<div class="titulos">
  <div class="titulo-bando governo">
    <img
      src="../../../assets/perfis/governo/governo.jpg"
      class="caveira"
      alt="Simbolo Governo"
    />
    <h2 class="nome-bando">GOVERNO MUNDIAL</h2>
    <img
      src="../../../assets/perfis/governo/governo.jpg"
      class="caveira"
      alt="Simbolo Governo"
    />
  </div>
</div>
<div class="bando">
  <div class="capitao">
    <img
      src="../../../assets/Cartazes/governo/imu.jpg"
      alt="Imagem Imu"
      class="cartaz"
      (click)="openDialogImu(arrayCards)"
    />
  </div>
  <div class="tripulacao">
    <img
      src="../../../assets/Cartazes/governo/juPeter.jpg"
      alt="Cartaz de procurado"
      class="cartaz"
      (click)="openDialogJupeter(arrayCards)"
    />
    <img
      src="../../../assets/Cartazes/governo/mars.jpg"
      alt="Cartaz de procurado"
      class="cartaz"
      (click)="openDialogMars(arrayCards)"
    />
    <img
      src="../../../assets/Cartazes/governo/nusjuro.jpg"
      alt="Cartaz de procurado"
      class="cartaz"
      (click)="openDialogNusjuro(arrayCards)"
    />
    <img
      src="../../../assets/Cartazes/governo/saturn.jpg"
      alt="Cartaz de procurado"
      class="cartaz"
      (click)="openDialogSaturn(arrayCards)"
    />
    <img
      src="../../../assets/Cartazes/governo/warcury.jpg"
      alt="Cartaz de procurado"
      class="cartaz"
      (click)="openDialogWarcury(arrayCards)"
    />
  </div>
</div>
