<div class="container">
  <article>
    <h1>Dracule Mihawk</h1>
    <img
      src="../../../../assets/perfis/shishibukais/mihawk.gif"
      alt="gif Mihawk"
      class="img-gif"
      loading="eager"
    />
    <p>
      Dracule Mihawk, também conhecido como "Olhos de Falcão" Mihawk, é um dos
      personagens mais icônicos e poderosos no universo de One Piece. Ele é
      considerado o maior espadachim do mundo e é um dos Shichibukai, os sete
      piratas poderosos que trabalham para o Governo Mundial.
    </p>
    <p>
      Mihawk é facilmente reconhecível por seus olhos afiados que se assemelham
      aos de um falcão, daí seu apelido. Ele usa um chapéu de abas largas com
      uma pluma e veste roupas elegantes de estilo medieval, geralmente de cor
      preta com detalhes em vermelho.
    </p>
    <p>
      Mihawk é um homem de poucas palavras, frequentemente mantendo uma
      expressão calma e composta. Ele é notavelmente solitário, preferindo
      passar seu tempo em sua ilha, Kuraigana, e busca desafios dignos para
      manter suas habilidades afiadas. Ele respeita os adversários que mostram
      coragem e habilidade, como Roronoa Zoro, e possui um código de honra como
      espadachim.
    </p>

    <h2>Yoru</h2>
    <img
      src="../../../../assets/dados/mihawk_espada.jpg"
      alt="Espada Mihawk Yoru"
      class="img-fruto"
    />
    <p>
      Yoru é uma espada lendária no universo de One Piece. Ela é empunhada por
      Dracule Mihawk, o maior espadachim do mundo, e é uma das doze Saijo O
      Wazamono, as espadas de mais alta qualidade. Estas espadas são as mais
      poderosas e renomadas do mundo, conhecidas por sua força, durabilidade e
      excelência na fabricação.
    </p>
    <p>
      Yoru é capaz de cortar quase qualquer coisa, desde navios a enormes blocos
      de gelo, com extrema facilidade. A precisão e a força dos cortes de Mihawk
      são ampliadas pela qualidade superior da espada. Durante o arco de
      Marineford, Mihawk usa Yoru para lançar um ataque à distância que corta um
      enorme iceberg, demonstrando a extensão do poder destrutivo da espada.
    </p>
    <p>
      <strong>Lâmina</strong>: A lâmina de Yoru é longa, com uma cor
      predominantemente negra, refletindo a habilidade de Mihawk de imbuir a
      espada com Haki do Armamento, tornando-a ainda mais poderosa e resistente.
    </p>
    <p>
      <strong>Guarda</strong>: A guarda da espada é em forma de cruz, com uma
      joia vermelha incrustada no centro, adicionando um toque de elegância ao
      seu design imponente.
    </p>
    <p>
      <strong>Punho</strong>: O punho de Yoru é longo e reto, facilitando a
      empunhadura de duas mãos, o que é necessário para manejar a espada devido
      ao seu tamanho e peso.
    </p>
  </article>
</div>
