<div class="container">
  <article>
    <h1>Monkey D. Dragon</h1>
    <img
      src="../../../../assets/perfis/revolucionarios/dragon.gif"
      alt="gif Dragon"
      class="img-gif"
      loading="eager"
    />

    <section class="historia">
      <p>
        Monkey D. Dragon, também conhecido como
        <strong>"Dragão Rebelde"</strong>, é o infame Comandante Supremo do
        Exército Revolucionário e um de seus membros fundadores, além de ter
        sido o capitão do Exército da Libertação. Ele já fez parte da Marinha,
        mas ficou desiludido com a visão de justiça da organização.
      </p>
      <p>
        Isso, juntamente com as consequências do Incidente de Ohara, despertou o
        desejo de Dragon de tentar derrubar o Governo Mundial, e seus esforços
        acabaram fazendo com que ele fosse rotulado como o
        <strong>"Pior Criminoso do Mundo".</strong>
      </p>
      <p>
        Dragon é o pai de Monkey D. Luffy e o filho de Monkey D. Garp, tendo
        nascido no Reino de Goa, assim como eles. Ele também foi responsável por
        salvar a vida de Sabo depois que este quase se afogou devido ao ataque
        de um Nobre Mundial, eventualmente transformando o garoto em seu
        vice-comandante.
      </p>
      <p>
        Dragon foi introduzido pela primeira vez no Arco Loguetown, onde ajudou
        Luffy a escapar do capitão da Marinha Smoker. Desde então, ele
        ocasionalmente aparece ao longo da série como um importante personagem
        secundário.
      </p>
    </section>

    <section class="poder">
      <h2>Exercíto Revolucionário</h2>
      <img
        src="../../../../assets/bandeiras/revolucionarios.jpg"
        alt="Bandeira Pirata"
        class="img-bandeira"
      />
      <p>
        O Exército Revolucionário é uma organização militar extremamente
        poderosa. Eles são a única força no mundo que se opõe diretamente ao
        Governo Mundial, embora seus verdadeiros alvos sejam os corruptos e
        depravados Nobres Mundiais de Mary Geoise, que controlam o governo para
        seu próprio benefício.
      </p>
      <p>
        O Exército foi inicialmente fundado após o incidente de Ohara e sua
        antiga base de operações era a ilha de Baltigo, mas após uma intensa
        batalha contra os Piratas do Barba Negra, eles se mudaram para a Ilha
        Momoiro, também conhecida como Reino Kamabakka.
      </p>
      <p>
        Apesar de eventualmente iniciar hostilidades militares notáveis e
        prolongadas contra os Dragões Celestiais, vários revolucionários
        proeminentes mantêm a crença de apenas auxiliar as pessoas para que elas
        possam se ajudar. Ivankov explicou a Bentham que ele não é um
        milagreiro, pensando que os milagres só acontecem para aqueles que são
        determinados. Segundo Ivankov, ele sempre questiona a "vontade de viver"
        das nações que salvou como revolucionário.
      </p>
    </section>

    <section class="curiosidade">
      <h2>Relação Familiar</h2>
      <img
        src="../../../../assets/dados/revolucionarios/dragon_familia.jpg"
        alt="Imagem Dragon, Luffy e Garp"
        class="img-info"
      />
      <h2>Monkey D. Garp</h2>
      <p>
        Garp é o pai de Dragon, embora ainda não tenha sido mostrada nenhuma
        interação direta entre os dois. No passado, Dragon inicialmente seguiu
        os passos do pai e se tornou um marinheiro, mas acabou saindo por não
        encontrar justiça nela. O próprio Garp expressou raiva com relação à
        decisão do filho de sair e se tornar um revolucionário.
      </p>
      <p>
        Apesar disso, eles parecem estar se dando relativamente bem nos dias
        atuais, tendo se falado algum tempo depois que Luffy e Dragon se
        encontraram em Loguetown. Como revolucionário, a ideologia de Dragon é
        muito diferente da de seu pai, embora ambos compartilhem o desdém pelos
        Nobres Mundiais.
      </p>
      <h2>Monkey D. Luffy</h2>
      <p>
        Dragon nunca fez parte da vida de seu filho Luffy, dando sua tutela ao
        avô de Luffy, Monkey D. Garp. Assim, Luffy nunca soube ou se importou
        realmente com quem era seu pai, só descobrindo que era o Dragon há dois
        anos, quando Garp lhe contou em Water 7 e vendo o rosto de Dragon pela
        primeira vez depois de ler o relatório sobre a destruição de Baltigo. Ao
        ler que o Exército Revolucionário estava em perigo, Luffy não deu a
        menor atenção ao seu pai quanto deu ao seu irmão jurado, Sabo.
      </p>
      <p>
        Dito isso, Dragon realmente se preocupa com seu filho e ocasionalmente o
        vigia à distância, um evento que Bartholomew Kuma notou certa vez. No
        passado, Ivankov também notou que Dragon olhava constantemente para o
        East Blue e se perguntava se ele tinha família lá. Ainda assim, Dragon
        não gostava de falar sobre Luffy, já que, como líder de um grupo
        criminoso mundial, ele estaria colocando em risco a segurança de seu
        filho ao compartilhar essas informações com qualquer pessoa, além da
        possível angústia ligada ao lembrar do abandono necessário de seu único
        filho. No entanto, na época da Guerra de Marineford, Dragon não parece
        mais considerar Luffy um ponto fraco, pois seu filho já havia se tornado
        um criminoso poderoso e infame.
      </p>
    </section>
  </article>
</div>
