<div class="container">
  <article>
    <h1>Vismoke Sanji</h1>
    <img
      src="../../../../assets/perfis/chapeus/sanji/sanji.gif"
      alt="gif Sanji"
      class="img-gif"
      loading="eager"
    />

    <section class="historia">
      <p>
        "Perna Preta" Sanji, nascido como Vinsmoke Sanji, e também é o
        cozinheiro dos Piratas do Chapéu de Palha, assim como um antigo chefe de
        cozinha do Baratie. Ele também é o terceiro filho e a quarta criança da
        Família Vinsmoke, tornando-o um príncipe do Reino Germa, até que ele
        oficialmente os renunciou duas vezes. Apesar de Sanji renunciar ao seu
        sobrenome Vinsmoke, o Governo Mundial o rotula como parte de seu nome em
        seu pôster de procurado.
      </p>
      <p>
        Ele é um dos quatro melhores lutadores da tripulação, ao lado de Luffy,
        Zoro e Jinbe. Seu sonho é encontrar o paraíso dos chefes, All Blue,
        sendo esse o lugar onde o East Blue, o West Blue, o North Blue e o South
        Blue se encontram, juntamente com sua vida selvagem. Devido aos eventos
        na Ilha Whole Cake, sua recompensa atual é de 1.032.000.000 de berrys,
        dando-lhe a quarta maior recompensa na tripulação, ficando atrás apenas
        de Luffy, Zoro e Jinbe.
      </p>
      <p>
        Uma das mais facilmente perceptíveis características de Sanji é a forma
        calma, legal, e recolhida na qual ele se comporta. Ele tende a falar de
        uma maneira muito composta, mesmo em situações terríveis, e raramente
        age sem pensar. O seu comportamento em uma série de maneiras pode ser
        comparado com a de um agente secreto. Este é amplificado pelo fato de
        que ele tende a usar um terno, muitas vezes desfruta de uma fumaça, e no
        anime eles tendem a tocar música suave com tons de jazz quando ele fala.
      </p>
      <p>
        Embora Sanji parece ser um dos membros mais endurecidos da tripulação,
        ele não se opõe a agir estupidamente, em certas ocasiões, como dançar
        com os membros mais imaturos da tripulação (Luffy, Usopp, Chopper e
        Brook), ou agindo infantilmente animado em certas situações (como quando
        visitou pela primeira vez Skypiea). Ele também é um dos que acredita no
        afro de dar poder.
      </p>
      <p>
        Por causa das aulas de cavalheirismo que recebeu de Zeff, Sanji jurou
        nunca deixar as mulheres serem insultadas ou machucadas enquanto ele
        ainda pode ficar de pé, independentemente de quão atraentes (ou não)
        elas sejam, mesmo em situações de vida ou morte.
      </p>

      <h2>Mulherengo</h2>
      <img
        src="../../../../assets/perfis/chapeus/sanji/sanji_amor.gif"
        alt="gif Sanji Apaixonado"
        class="img-gif"
      />
      <p>
        Ele é extremamente amoroso, constantemente flertando com qualquer mulher
        atraente que vê, o que lhe valeu o apelido de "cozinheiro-ero". Mesmo
        quando criança, enquanto trabalhava no Baratie, Sanji se apaixonava por
        clientes atraentes do sexo feminino e acabava cometendo erros no
        processo, para irritação de Zeff.
      </p>
      <p>
        Ele afirmou que Nami foi 98,72% do motivo pelo qual ele se juntou à
        tripulação de Luffy em primeiro lugar. Desde então, e um pouco depois,
        essa natureza romântica é um aborrecimento para o resto da tripulação em
        tempos de crise. Retornando ao Arquipélago de Sabaody após seus dois
        anos na Ilha Momoiro, Sanji ficou ainda mais pervertido por não ter
        visto uma mulher em dois anos, fazendo caretas obscenas ao pensar em
        mulheres bonitas (principalmente seus companheiros de tripulação, Nami e
        Robin) e agiu estranhamente quando se aproximou de mulheres 'reais',
        fazendo com que outras pessoas questionassem sobre sua saúde.
      </p>
      <p>
        Ele também é conhecido por mostrar ciúme das outras quando a sorte de
        outros com as mulheres parece melhor do que a dele, com um exemplo disso
        sendo sua reação ao saber que Luffy passou seus dois anos treinando em
        Amazon Lily e sendo muito próximo de Boa Hancock e a sereia Shirahoshi,
        bem como sua reação a Momonosuke continuamente sendo permitido ir a
        lugares como o banheiro feminino que o próprio Sanji seria proibido. Ele
        também é amoroso com as mulheres de diferentes espécies humanóides, como
        sereias e minks.
      </p>
    </section>

    <section class="poder">
      <h2>Estilo Perna Negra</h2>
      <img
        src="../../../../assets/perfis/chapeus/sanji/sanji_perna.gif"
        alt="gif Sanji com a perna pegando fogo"
        class="img-gif"
      />
      <p>
        O Estilo Perna Negra foi criado por Sanji baseado no estilo único de
        luta de Zeff, com uma ênfase completa em chutes, usando as mãos apenas
        para acrobacias como apoio aumentando a força e a variedade de chutes,
        bem como, evitar que as mãos sejam danificadas durante uma batalha, algo
        que é desastroso para um Chefe de cozinha como Sanji.
      </p>
      <p>
        Assim, ele possui uma grande e impressionante variedade de técnicas de
        chutes, juntamente com habilidades acrobáticas superiores, tornando-se
        uma arte marcial extremamente versátil, capaz de tecer efetivamente
        ataques contínuos e poderosos contra adversários e dominar inúmeros
        inimigos de uma vez com uma eficiência incrível.
      </p>
    </section>

    <section class="curiosidade">
      <h2>All Blue</h2>
      <img
        src="../../../../assets/perfis/chapeus/sanji/allblue.jpg"
        alt="All Blue"
        class="img-formas"
      />
      <p>
        All Blue é um mar do qual todos os peixes de todas as espécies estão
        nele (um lugar onde os peixes de todos os quatro oceanos: North Blue,
        South Blue, East Blue e West Blue vivem). Mas, como ninguém foi nesse
        mar e comprovou sua existência, o All Blue se tornou uma lenda para
        todos.
      </p>
      <p>
        Muitos não acreditam, mas há pessoas que sempre acreditaram e que sempre
        lutarão para encontrá-lo (como Sanji e Zeff). Dizem que o All Blue está
        na Grand Line (uma das pessoas que acredita nessa hipótese é Zeff). Este
        mar é muito conhecido (como uma lenda), principalmente pelos
        cozinheiros, pois a abundância dos peixes que habitam esse local é muito
        grande.
      </p>
      <p>
        Um dos peixes mais famosos que estão no All Blue, se chama
        “albacora-elefante” (ou atum voador, é o atum mais caro no Japão -
        conhecido como “Joia do Oceano”, o “ingrediente milagroso”, não só
        habita o lendário mar All Blue como também o mar South Blue). Muitos
        cogitam a possibilidade do All Blue estar ligado com Laugh Tale, a
        "Última ilha da Grand Line".
      </p>
    </section>
  </article>
</div>
