<div class="container">
  <article>
    <img
      src="../../../../assets/perfis/chapeus/sanji.gif"
      alt="gif Sanji"
      class="img-gif"
    />
    <h2>Vismoke Sanji</h2>
    <p>
      Vinsmoke Sanji é o cozinheiro dos Chapéus de Palha em One Piece, conhecido
      por suas habilidades culinárias excepcionais e sua técnica de luta com os
      pés, o "Estilo Perna Negra". Seu sonho é encontrar o lendário All Blue, um
      lugar onde todos os oceanos se encontram e onde há uma variedade infinita
      de peixes. Sanji foi criado em uma família nobre de assassinos, os
      Vinsmokes, mas rejeitou suas origens para seguir seus próprios princípios
      de justiça e honra. Ao longo da jornada, ele enfrentou desafios pessoais e
      inimigos poderosos, demonstrando sua dedicação à tripulação e a busca pelo
      All Blue.
    </p>

    <h2>All Blue</h2>
    <img
      src="../../../../assets/frutos/allblue.jpg"
      alt="All Blue"
      class="img-fruto"
    />
    <p>
      O "All Blue" é um dos muitos mistérios e mitos que permeiam o mundo de One
      Piece. É dito que este lugar lendário é o sonho de todo cozinheiro e
      marinheiro, pois nele os mares do Norte, Sul, Leste e Oeste se encontram,
      misturando-se em um único oceano, o que torna o All Blue tão especial é a
      crença de que ele abriga uma incrível diversidade de vida marinha de todos
      os mares.
    </p>
  </article>
</div>
