<div class="container">
  <article>
    <h1>Marco Fenix</h1>
    <img
      src="../../../../assets/perfis/yonkous/barbaBranca/marco.gif"
      alt="gif Jozu"
      class="img-gif"
      loading="eager"
    />
    <p>
      Marco, conhecido como "Marco, a Fênix," é o ex-comandante da Primeira
      Divisão dos Piratas do Barba Branca. Ele possui a Tori Tori no Mi, Modelo:
      Fênix, uma Akuma no Mi do tipo Zoan Mítica que permite se transformar em
      uma fênix, conferindo-lhe incríveis poderes regenerativos. Marco é um
      combatente habilidoso, com grande força e capacidade de voo, envolto em
      chamas azuis curativas. Extremamente leal a Barba Branca, Marco continua a
      proteger o legado de sua tripulação após a morte de seu capitão.
    </p>

    <h2>Tori Tori no Mi - Modelo Fênix</h2>
    <img
      src="../../../../assets/dados/Frutos/Tori_Tori_no_Mi_Marco.jpg"
      alt="Tori Tori no mi"
      class="img-fruto"
    />
    <p>
      A Tori Tori no Mi, Modelo: Fênix, é uma Akuma no Mi do tipo Zoan Mítica
      que permite ao usuário se transformar em uma fênix. Esta fruta confere
      poderes regenerativos extraordinários, permitindo a cura rápida de quase
      qualquer ferimento. A transformação em fênix também dá ao usuário a
      habilidade de voar e envolver-se em chamas azuis, que têm propriedades
      curativas e podem ser usadas ofensivamente. A Tori Tori no Mi, Modelo:
      Fênix, é extremamente rara e poderosa, combinando as vantagens das Zoan
      com capacidades regenerativas únicas.
    </p>
  </article>
</div>
