<div class="container">
  <article>
    <h1>Emporio Ivankov</h1>
    <img
      src="../../../../assets/perfis/revolucionarios/ivankov.gif"
      alt="gif Ivankov"
      class="img-gif"
      loading="eager"
    />

    <section class="historia">
      <p>
        Emporio Ivankov é uma Okama, além de ser comandante do exército
        Revolucionário. Ela era um dos ex-prisioneiros de Impel Down mantidos no
        nível 5, mas vivendo em segredo no "Okama Paradise" no nível 5.5. A
        mesma tem controle sobre o exército "New Kama". Chegou na Batalha de
        Marineford com vários outros prisioneiros.
      </p>
      <p>
        Ivankov é uma travesti, apresentada inicialmente no sexo masculino,
        possuí um afro de cabelo azul/roxo, e tem longos cílios, ela também tem
        um queixo em forma visivelmente-estranha que assemelha-se uma ponta de
        seta. Sua afro é grande o suficiente para manter as pessoas no seu
        interior. Ela tem um Roger Jolly tatuado logo abaixo do peito.
      </p>
      <p>
        Ela é considerada a maior okama no mundo. Como rainha do Reino
        Kamabakka, Ivankov controla uma ilha de okamas, o que lhe dá um status
        semelhante ao de Boa Hancock, que governa Amazon Lily. Em Impel Down,
        ela montou seu novo reino chamado New Kama Land e comandou um pequeno
        exército de seguidores "New Kama Okama", os quais eram ex-prisioneiros.
        Depois da guerra, ela retornou ao Reino Kamabakka junto com seus
        seguidores de New Kama Land, unindo seus dois reinos.
      </p>
      <p>
        Como comandante dos revolucionários, Ivankov tem controle sobre os
        membros de baixo escalão do exército. Ela parece ter habilidades
        consideráveis como líder, evidente pela sua capacidade de unir o grupo
        de detentos indisciplinados que, eventualmente, encontraram-se em New
        Kama Land sob seu comando.
      </p>
    </section>
    <section class="poder">
      <h2>Horu Horu no Mi</h2>
      <img
        src="../../../../assets/dados/Frutos/Horu_Horu_no_Mi_Ivankov.jpg"
        alt="Horu Horu no mi"
        class="img-fruto"
      />
      <p>
        A 'Horu Horu no Mi' é uma Akuma no Mi do tipo Paramecia que concede ao
        usuário a capacidade de criar vários hormônios especiais que podem
        afetar qualquer pessoa em que sejam injetados da maneira que o usuário
        desejar, tornando o usuário um Humano Controlador de Hormônios
      </p>
      <p>
        Ivan usa "agulhas" para injetar o seu controle sobre os hormônios das
        pessoas, e nele mesmo,esses hormônios podem manipular vários aspectos de
        uma pessoa, como "sexo", temperatura corporal, pigmentação, crescimento,
        e até mesmo o estado emocional. Os hormônios também pode ser usado para
        aumentar consideravelmente as capacidades de batalha de uma pessoa
        através de cura e energização o usuário é capaz de se curar de um
        ferimento não muito grande, Ivankok e capaz de se auto curar em
        segundos. ao transformar quatro de seus dedos em seringas e esfaquear
        uma pessoa, o usuário é capaz de injetar esses hormônios e mudar a
        pessoa em um nível corporal para o que quer que o usuário deseja. Este
        processo também pode ser utilizado pelo utilizador em si mesmos para
        ajudá-los.
      </p>
    </section>
    <section class="curiosidade">
      <h2>Inazuma</h2>
      <img
        src="../../../../assets/dados/revolucionarios/inazuma.jpg"
        alt="Inazuma"
        class="img-info"
      />
      <p>
        O Reino de Kamabakka é um reino habitado por okamas, ao qual Sanji foi
        enviado por Kuma. Inazuma é um dos okamas que residia no level 5.5 de
        Impel Down com Iva.
      </p>
      <p>
        O primeiro verdadeiro okama a aparecer na história é Bentham, também
        conhecido como Mr. 2 Bon Kurei, que primeiramente apareceu como inimigo
        dos Piratas do Chapéu de Palha, mas acabou se tornando amigo deles.
        Bentham é um praticamente da arte marcial "Okama Kenpo".
      </p>
      <p>
        A rainha anterior do Reino de Kamabakka era Emporio Ivankov, Iva
        abreviado. Por ter sido um comandante revolucionário, ele foi preso e
        enviado para o nível 5 de Impel Down. Iva e muitos outros prisioneiros
        do nível 5 desapareceram (indo para o nível 5.5), até o dia em que ele
        ajudou Luffy a escapar de Impel Down.
      </p>
      <p>
        <strong>Inazuma</strong> é um newkama e vice-comandante do Exército G no
        Exército Revolucionário, servindo sob o comando de Emporio Ivankov como
        seu braço direito.
      </p>
      <p>
        <strong>Como homem,</strong> é sobretudo um Inazuma sério, calmo e
        sangue-frio, quase sem emoção. Ele apenas mostra as emoções nos momentos
        críticos, tais como o relevo, quando pensava que Ivankov sobrevivido à
        batalha contra o Magellan, e momentos de pânico depois, quando ele
        percebeu que Ivankov havia sido derrotado por Magellan.
      </p>
      <p>
        <strong>Como mulher,</strong> Inazuma é calorosa e alegre, em contraste
        com sua personalidade masculina. Com qualquer personalidade ele é muito
        leal a Ivankov, ele normalmente não faz nada até que receba uma ordem.
      </p>
    </section>
  </article>
</div>
