<div class="container">
  <article>
    <h1>São Ethanbaron V. Nusjuro</h1>
    <img
      src="../../../../assets/perfis/governo/nusjuro.gif"
      alt="gif Nusjuro"
      class="img-gif"
      loading="eager"
    />
    <p>
      São Ethanbaron V. Nusjuro é um dos Cinco Anciões que lideram publicamente
      o Governo Mundial, detentor do título
      <strong>Deus Guerreiro das Finanças.</strong>
    </p>
    <p>
      Como os outros Anciões, Nusjuro se preocupa com o equilíbrio do mundo
      mantido pelos Três Grandes Poderes e deseja mantê-lo. Isso também inclui
      preservar a imagem do Governo Mundial, deixando os eventos do Século
      Perdido em segredo, e ele e os outros Anciões destruirão imediatamente
      qualquer um que esteja estudando-o. No entanto, ele foi a primeira pessoa
      a reconhecer que o equilíbrio atual pode não ser sustentável depois de
      tudo o que aconteceu desde a Batalha de Marineford , sugerindo que uma
      "limpeza" estava em ordem.
    </p>
    <p>
      Nusjuro parece ter alguma familiaridade com Zunisha , Zou e Wano Country,
      pois ele sabia que a partida do elefante deste último era uma confirmação
      de que as fronteiras de Wano não haviam sido abertas.
    </p>

    <h2>Bakotsu</h2>
    <img
      src="../../../../assets/dados/governo/nusjuro_transformacao.jpg"
      alt="Transformação Nusjuro"
      class="img-formas"
    />
    <p>
      <strong>
        Nusjuro pode se transformar em um Bakotsu: um yōkai cavalo esquelético,
        aparentemente morto-vivo.
      </strong>
    </p>
    <p>
      Um Cavalo Zumbi, visivelmente possui todas as capacidades físicas de um
      cavalo normal, grande velocidade, com uma grande força nas patas, e uma
      mordida mais perigosa do que se imagina. Foi mostrado resistência quando
      Nusjuro percorreu toda a ilha derrotando Pacifistas em alta velocidade
    </p>
    <p>
      <strong>Foi mostrado a habilidade de congelamento</strong>, congelando
      partes expecíficas dos pacifistas, muito semelhante ao modo que Brook usa
      seu frio gélido com sua espada.
    </p>
  </article>
</div>
