<div class="container">
  <article>
    <h1>Crocodile</h1>
    <img
      src="../../../../assets/perfis/shishibukais/crocodile.gif"
      alt="gif Crocodile"
      class="img-gif"
      loading="eager"
    />
    <p>
      Crocodile, também conhecido como Sir Crocodile, é um ex-Shichibukai (um
      dos sete senhores da guerra do mar) e o principal antagonista da saga de
      Alabasta.
    </p>
    <p>
      Crocodile é reconhecido por sua habilidade com a Suna Suna no Mi, uma
      Akuma no Mi do tipo Logia, além de ser um estrategista frio e calculista,
      com um desejo implacável de poder, seu plano em Alabasta envolve manipular
      uma guerra civil para derrubar o reinado de Nefertari Cobra e assumir o
      controle do reino, uma nação desértica estratégica no Grand Line. Ele
      demonstra uma falta de compaixão e é extremamente implacável com seus
      inimigos e até mesmo com seus aliados. No entanto, Crocodile é um
      personagem com profundidade e complexidade.
    </p>
    <p>
      Após sua derrota nas mãos de Monkey D. Luffy, ele é preso em Impel Down, a
      prisão mais segura do mundo. Eventualmente, ele forma uma aliança
      temporária com Luffy para escapar durante o caos provocado por uma
      invasão. Durante a guerra de Marineford, ele luta ao lado de antigos
      inimigos e mostra um código de honra pessoal, revelando facetas de sua
      personalidade que sugerem um passado e motivações mais intrincadas do que
      aparenta inicialmente.
    </p>

    <h2>Suna Suna no Mi</h2>
    <img
      src="../../../../assets/dados/Frutos/Suna_Suna_no_Mi_Crocodile.jpg"
      alt="Suna Suna no Mi"
      class="img-fruto"
    />
    <p>
      A Suna Suna no Mi é uma Akuma no Mi do tipo Logia. Esta fruta concede ao
      usuário a habilidade de gerar, controlar e se transformar em areia,
      conferindo-lhe uma variedade de poderes formidáveis e versáteis. Crocodile
      utiliza a Suna Suna no Mi com extrema eficácia, combinando suas
      habilidades de areia com sua inteligência e crueldade. Ele pode
      rapidamente desidratar oponentes, transformar ambientes a seu favor, e
      criar barreiras de areia para proteção. Além disso, ele frequentemente usa
      sua habilidade para desidratar o solo, causando desertificação e
      controlando o ambiente em grandes escalas. A Suna Suna no Mi, portanto, é
      uma das frutas do diabo mais devastadoras e versáteis em "One Piece",
      tornando Crocodile um dos vilões mais formidáveis da série.
    </p>

    <h2>Baroque Works</h2>
    <img
      src="../../../../assets/bandeiras/Baroque_Works.jpg"
      alt="Bandeira Pirata"
      class="img-bandeira"
    />
    <p>
      A Baroque Works é uma organização criminosa secreta, criada e liderada por
      Crocodile, também conhecido como <strong>Mr. 0</strong>, é organizada de
      forma militar, com seus membros seguindo ordens de Crocodile. Eles operam
      sob disfarces e nomes de código para manter suas identidades secretas. Seu
      objetivo final é criar caos em Alabasta, incitando uma guerra civil para
      permitir que Crocodile assuma o controle do país. Cada parceiro forte
      (Mr.) tem um número e é acompanhado por uma parceira feminina (Miss):
    </p>
    <p>
      <strong>Mr. 1:</strong> Possui a habilidade da Supa Supa no Mi, que
      transforma seu corpo em lâminas de aço, tornando-o uma máquina de corte
      humano. Sua parceira <strong>Miss Doublefinger:</strong> Utiliza espinhos
      em combate, incluindo a habilidade de fazer crescer espinhos de seu corpo.
    </p>
    <p>
      <strong>Mr. 2 Bon Clay:</strong> Sem parceira feminina. Possui a
      habilidade da Mane Mane no Mi, que permite copiar a aparência de qualquer
      pessoa que ele toque com a mão direita.
    </p>
    <p>
      <strong>Mr. 3:</strong> Utiliza a Doru Doru no Mi, que lhe permite criar e
      manipular cera, criando armas e armaduras de cera extremamente duras. Sua
      parceira <strong>Miss Goldenweek:</strong> Usa tintas especiais para
      manipular as emoções das pessoas.
    </p>
    <p>
      <strong>Mr. 4:</strong> Um homem extremamente forte que utiliza um bastão
      de beisebol gigante e uma arma chamada Lassoo, um cachorro que é também
      uma bazuca. Sua parceira <strong>Miss Merry Christmas:</strong> Usa a
      habilidade da Mogu Mogu no Mi, que lhe permite se transformar em uma
      toupeira e cavar rapidamente.
    </p>
    <p>
      <strong>Mr. 5:</strong> Utiliza a Bomu Bomu no Mi, que lhe permite
      explodir qualquer parte do seu corpo, incluindo seu muco nasal. Sua
      parceira <strong>Miss Valentine:</strong> Possui a Kilo Kilo no Mi, que
      lhe permite controlar seu peso entre 1 e 10.000 kg.
    </p>
  </article>
</div>
