<div class="container">
  <article>
    <h1>Tony Tony Chopper</h1>

    <img
      src="../../../../assets/perfis/chapeus/chopper/chopper.gif"
      alt="gif chopper"
      class="img-gif"
      loading="eager"
    />
    <section class="historia">
      <p>
        Tony Tony Chopper é uma rena. Ele é o médico da tripulação dos Piratas
        do Chapéu de Palha. Chopper é uma rena que, após comer a Hito Hito no
        Mi, adquiriu a habilidade de se transformar e raciocinar como os
        humanos. Ele é o sexto membro e um dos poucos membros da tripulação que
        nasceu na Grand Line, numa ilha chamada Drum.
      </p>
      <p>
        Por ter sido confundido como mascote, a recompensa atual de sua captura
        é de apenas 1.000 berry. Mesmo sendo considerado "Mascote" pela marinha,
        ele foi nomeado um dos comandantes do Luffy, sendo assim seguindo a
        lógica da sua recompensa o 9° Comandante.
      </p>
      <p>
        No grupo, Chopper frequentemente faz besteiras com Usopp e Luffy para
        rir e também é um ouvinte grato às mentiras do Usopp, cuja maioria ele
        realmente acredita, pelo menos por pouco tempo. Normalmente Chopper é um
        dos primeiros a se juntar nas travessuras do Luffy e também a assistir
        com alegria algumas das façanhas do Usopp. Robin o chama de
        "Médico-San", o que o faz dançar em alegria. Sanji originalmente quis
        cozinhar o Chopper e na brincadeira quis que ele se juntasse ao
        "suprimento de comida de emergência". Ao longo da série, Sanji continua
        a se referir a ele como "o suprimento de comida de emergência" para
        provocá-lo, mas o considera um amigo.
      </p>
      <p>
        Chopper também parece ter uma relação íntima com Zoro, a quem ele
        frequentemente corre quando está assustado. Chopper originalmente não
        foi contratado por Luffy para ser o médico do navio, mas simplesmente
        por ser uma "rena legal que pode transformar". Os outros rapazes da
        tripulação frequentemente ensinam a Chopper o que quer dizer ser um
        verdadeiro homem; Ele é o mais jovem tripulante, não originalmente
        humano e teve uma vida relativamente protegida.
      </p>
    </section>

    <section class="poder">
      <h2>Hito Hito no Mi</h2>
      <img
        src="../../../../assets/dados/Frutos/Hito_Hito_no_Mi_Chopper.jpg"
        alt="Hito Hito no mi"
        class="img-fruto"
      />
      <p>
        A Hito Hito no Mi é uma Akuma no Mi do tipo Zoan que permite que seu
        usuário se transforme em um híbrido de humano e um ser humano completo à
        vontade. "Hito" é japonês para "humano". Foi comida por Tony Tony
        Chopper, que com o poder da fruta se tornou uma Rena-Humana.
      </p>
      <p>
        Ao consumir a fruta, Chopper ganhou a inteligência humana,
        permitindo-lhe compreender e comunicar-se na linguagem humana. Sendo
        capaz também de utilizar ferramentas, estas últimas graças à sua
        biologia agora bípede. A fruta também tem dado a Chopper a capacidade de
        perceber conceitos como a medicina, que uma rena não iria compreender.
        Ela também permite-lhe transformar-se em duas formas: híbrido
        rena-homem, e forma humana. Convenientemente sua inteligência humana é
        mantida mesmo quando não esta transformado.
      </p>
      <p>
        A fruta é ainda reforçada pelo uso da Rumble Ball. Esta droga permite a
        Chopper acessar outras formas de diferentes proporções humanas e de
        renas. A Rumble Ball tem efeitos colaterais, como, a segunda comida no
        dia deixa o usuário sem conseguir controlar os poderes, e a 3° cria um
        monstro hibrido.
      </p>
    </section>

    <section class="curiosidade">
      <h2>Transformações</h2>
      <img
        src="../../../../assets/perfis/chapeus/chopper/chopper_formas.jpg"
        alt="Transformações do Chopper"
        class="img-formas"
      />
      <p>
        <strong>Walk Point (Modo Andante):</strong> Esta é a verdadeira forma de
        Chopper, útil para viagem geral a pé. É também nesta forma que seu
        olfato fica mais apurado. Como resultado, Chopper frequentemente faz uso
        de sua forma padrão com a finalidade de seguir pistas, entretanto certos
        odores parecem horríveis para seu olfato. A aparência de rena de Chopper
        frequentemente vem a calhar, já que os inimigos geralmente assumem que
        ele é simplesmente um inofensivo animal de estimação quando eles não o
        ouvem falar.
      </p>
      <p>
        <strong>Brain Point (Modo Cerebral):</strong> Com um corpo pequeno e
        cabeça grande, esta é a forma é como Chopper está geralmente
        caracterizado na mídia, mas diferente da forma Zoan Híbrida de sempre,
        essa só tem a aparência da Híbrida, mas sua inteligência, observação e
        estratégia aumenta gradativamente. Diferentes de humanos que comem as
        Akuma no Mi do tipo Zoan, Chopper geralmente não fica na sua verdadeira
        forma e isto pode ser explicado devido às vantagens de ter braços livres
        que precisa para usar suas habilidades médicas. Ele é mais esperto nesta
        forma e também inexplicavelmente fofinho.
      </p>
      <p>
        <strong>Heavy Point (Modo Pesado):</strong> A forma "humana" de Chopper
        que dá a ele a forma de um homem-macaco forte e alto, após o timeskip,
        ele fica muito maior nessa forma e com mais força. Ele usa essa forma
        para ajudar a guiar o navio. Esta forma dá ao Chopper, uma força
        sobre-humana. Quando posta em prática, ele conseguiu nocautear Luffy e
        Sanji (que estavam tentando pegá-lo e comê-lo). Acredita-se também, que
        é nessa forma que Chopper consiga ser capaz de ter pensamentos abstratos
        mais complexos, pois seu cérebro seria totalmente humano, e que essa
        seria a sua forma mais inteligente, apesar de Chopper preferir
        utilizá-la apenas para combate.
      </p>
      <p>
        <strong>Jumping Point (Modo Saltador):</strong> Chopper continua com
        suas pernas de rena em uma forma parecida com um humano, que o permite
        saltar grandes distâncias.
      </p>
      <p>
        <strong>Arm Point (Modo de Braço):</strong> A segunda forma mais
        poderosa de Chopper, seus cascos dianteiros se tornam extremamente
        fortes em sua forma meio-humana, permitindo-o dar socos devastadores com
        seus cascos dianteiros.
      </p>
      <p>
        <strong>Horn Point (Modo de Chifre):</strong> Essa forma foi criada, sim
        criada, no Arco de Alabasta, quando Chopper acaba fazendo uma fusão de
        suas formas e criando a 8ª forma a Horn Point. Parecido com o Walk Point
        (Modo Andante), as pernas dianteiras de Chopper ficam mais volumosas e
        seus chifres se tornam maiores e afiados. Além disso, Chopper tem dedos
        humanos nesta forma.
      </p>
      <p>
        <strong>Guard Point (Modo Defensivo):</strong> O pelo do Chopper cresce
        e se torna um escudo impenetrável contra ataques externos. E após o
        timeskip, ele fica maior e mais resistente, nessa forma, ele parece com
        uma animação de estimação Chia que cresceu demais.
      </p>
      <p>
        <strong>Kung Fu Point:</strong> Chopper com esse point consegue
        enfrentar mais de 1 inimigo de vez, deixando seus golpes mais rápidos,
        ele usa bastante essa point para derrotar inimigos mais fracos, como ele
        fez na saga da Ilha dos Homens-Peixe.
      </p>
      <p>
        <strong>Monster Point:</strong> Parece que o consumo de 3 Rumble Balls
        abaixo de 6 horas criou um novo Point (Modo) em que ele fica parecido
        com o Heavy Point (Modo Pesado), mas possui uma cabeça e chifres
        estranhamente deformados e também um incrível (provavelmente mais de 6
        metros ou o tamanho de um edifício comercial) aumento em altura e força.
        Nessa forma, o pêlo de Chopper é alongado e ele perde toda consciência,
        agindo completamente furioso, mas após o timeskip, ele conseguiu
        controlar tal forma. Também, essa forma parece ser uma combinação de
        todas as transformações de Chopper, não incluindo o Brain Point e o Arm
        Point (postura de Heavy Point, velocidade de Walk Point, chifres de Horn
        Point, pernas de Jump Point e pelo de Guard Point). A doutora Kureha
        disse a Chopper que depois que ele consumiu 3 Rumble Balls pela primeira
        vez destruiu uma aldeia inteira na "Ilha de Drum" enquanto estava nessa
        forma. A Kureha também comentou sobre essa forma ser a de um verdadeiro
        monstro; um perigo para amigo, inimigo e até ele mesmo.
      </p>
    </section>
  </article>
</div>
