<div class="container">
  <article>
    <img
      src="../../../../assets/perfis/chapeus/chopper.gif"
      alt="gif chopper"
      class="img-gif"
    />
    <h2>Tony Tony Chopper</h2>
    <p>
      Tony Tony Chopper é o médico e membro dos Chapéus de Palha em One Piece,
      conhecido por sua aparência de rena e habilidades como médico e lutador.
      Seu sonho é se tornar um grande médico capaz de curar todas as doenças do
      mundo. Chopper foi adotado pela tripulação após ser rejeitado por sua
      espécie por sua aparência. Ao longo da jornada, ele desenvolveu sua
      habilidade de Fruits Humanas Zoan para se transformar em várias formas, e
      através de suas experiências como médico, ajudou a tripulação em muitas
      situações difíceis.
    </p>

    <h2>Hito Hito no Mi</h2>
    <img
      src="../../../../assets/frutos/Hito_Hito.jpg"
      alt="Hito Hito no mi"
      class="img-fruto"
    />
    <p>
      É uma Fruta do Diabo do tipo Zoan, especificamente a Zoan Humana, essa
      fruta é notável por suas aplicações tanto em combate quanto em situações
      de vida cotidiana, permitindo ao usuário habilidades físicas avançadas e
      uma ampla gama de transformações úteis. No caso de Chopper, ele utiliza
      essas transformações para se tornar mais forte em batalha e também para
      realizar tarefas diversas.
    </p>
  </article>
</div>
