<div class="titulos">
  <div class="titulo-bando">
    <img
      src="../../../assets/perfis/chapeus/caveira.png"
      class="caveira"
      alt="Caveira Chapeus de Palha"
    />
    <h2 class="nome-bando">EX - SHISHIBUKAIS</h2>
    <img
      src="../../../assets/perfis/chapeus/caveira.png"
      class="caveira"
      alt="Caveira Chapeus de Palha"
    />
  </div>
</div>
<div class="bando">
  <img
    src="../../../assets/Cartazes/shishibukais/crocodile.jpg"
    alt="Cartaz de procurado"
    class="cartaz"
    (click)="openDialogCrocodile(arrayCards)"
  />
  <img
    src="../../../assets/Cartazes/shishibukais/doflamingo.jpg"
    alt="Cartaz de procurado"
    class="cartaz"
    (click)="openDialogDoflamingo(arrayCards)"
  />
  <img
    src="../../../assets/Cartazes/shishibukais/hancock.jpg"
    alt="Cartaz de procurado"
    class="cartaz"
    (click)="openDialogHancock(arrayCards)"
  />
  <img
    src="../../../assets/Cartazes/shishibukais/jinbe.jpg"
    alt="Cartaz de procurado"
    class="cartaz"
    (click)="openDialogJinbe(arrayCards)"
  />
  <img
    src="../../../assets/Cartazes/shishibukais/kuma.jpg"
    alt="Cartaz de procurado"
    class="cartaz"
    (click)="openDialogKuma(arrayCards)"
  />
  <img
    src="../../../assets/Cartazes/shishibukais/mihawk.jpg"
    alt="Cartaz de procurado"
    class="cartaz"
    (click)="openDialogMihawk(arrayCards)"
  />
  <img
    src="../../../assets/Cartazes/shishibukais/moria.jpg"
    alt="Cartaz de procurado"
    class="cartaz"
    (click)="openDialogMoria(arrayCards)"
  />
</div>
