<div class="container">
  <article>
    <h1>Morley</h1>
    <img
      src="../../../../assets/perfis/revolucionarios/morley.gif"
      alt="gif Morley"
      class="img-gif"
      loading="eager"
    />

    <section class="historia">
      <p>
        Morley é um gigante e um okama, bem como o comandante do Exército Oeste
        no Exército Revolucionário.
      </p>
      <p>
        Como um okama, Morley fala de uma maneira muito educada e feminina. Ele
        geralmente tem uma atitude muito jovial e não gosta de quem é
        desnecessariamente violento. Quando ele vê as pessoas prestando atenção
        nele, ele constantemente se pergunta se é porque eles têm uma queda por
        ele, sem saber por que eles fariam isso de outra forma. No entanto, ele
        não parece gostar muito de outros serem atraídos por ele, tendo sido
        grosseiro quando Betty, de brincadeira, insinuou que os homens dos
        Piratas do Barba Rosa tinham uma queda por ele.
      </p>
      <p>
        Como executivo do Exército Revolucionário, Morley ocupa uma posição
        poderosa na organização e, como comandante do Exército do Oeste, tem
        controle total sobre os soldados que o compõem. Donquixote Doflamingo
        até imaginou-o como uma das figuras-chave do Exército Revolucionário.
      </p>
      <p>
        Como comandante dos revolucionários, Ivankov tem controle sobre os
        membros de baixo escalão do exército. Ela parece ter habilidades
        consideráveis como líder, evidente pela sua capacidade de unir o grupo
        de detentos indisciplinados que, eventualmente, encontraram-se em New
        Kama Land sob seu comando.
      </p>
    </section>
    <section class="poder">
      <h2>Oshi Oshi no Mi</h2>
      <img
        src="../../../../assets/dados/Frutos/Oshi_Oshi_no_Mi_Morley.jpg"
        alt="Oshi Oshi no mi"
        class="img-fruto"
      />
      <p>
        O Oshi Oshi no Mi é uma Akuma no Mi do tipo Paramecia que permite que o
        usuário empurre o solo como se fosse maleável como argila.
      </p>
      <p>
        Simplesmente empurrando o chão, o usuário é capaz de moldá-lo de acordo
        com seus caprichos. Eles podem manipular muitos tipos de solo, desde
        terra macia até rocha dura até pedras modificadas, como tijolos e ruas.
        Assim, esta fruta tem um bom grau de poder ofensivo, como mostrado
        quando Morley empurrou um pedaço inteiro da rua sobre os Piratas do
        Barba Rosa e os subjugou. O usuário também é capaz de canalizar essa
        capacidade através de objetos que possui, e assim pode agarrar o solo
        por apontando para ele com uma arma.
      </p>
      <p>
        A fruta também dá ao usuário a capacidade de escavar o solo,
        empurrando-o para abrir caminho para eles. Ao contrário da escavação
        convencional, a terra movida parece permanecer no lugar, protegendo o
        usuário de desmoronamentos. Esta capacidade funciona bem para a
        infiltração.
      </p>
    </section>
    <section class="curiosidade">
      <h2>Uciano</h2>
      <img
        src="../../../../assets/dados/revolucionarios/uciano.jpg"
        alt="Uciano"
        class="img-info"
      />
      <p>
        Uciano é o vice-comandante do Exército Oeste no Exército Revolucionário
        e o assistente de Morley.
      </p>
      <p>
        Como membro do Exército Revolucionário, Uciano não tem escrúpulos em
        desafiar o Governo Mundial, especialmente com seu status de oficial. Ele
        parece ter um problema de fala e se expressa em frases quebradas.
      </p>
      <p>
        Como um vice-comandante do Exército Revolucionário, Uciano tem algum
        grau de comando sobre os revolucionários de baixo escalão, especialmente
        aqueles do Exército Oeste, onde sua autoridade perde apenas para seu
        superior direto, Morley.
      </p>
      <p>
        Como um mink, Uciano é capaz de usar o Electro e pode assumir a forma
        Sulong sob a lua cheia.
      </p>
    </section>
  </article>
</div>
