<div class="container">
  <article>
    <h1>Sasaki</h1>
    <img
      src="../../../../assets/perfis/yonkous/feras/sasaki.gif"
      alt="gif Sasaki"
      class="img-gif"
      loading="eager"
    />

    <p>
      Sasaki é um membro dos Piratas das Feras, destacando-se como um dos
      Tobiroppo, um grupo de elite dentro da tripulação. Ele é reconhecido por
      sua posição de autoridade e respeito entre os Piratas das Feras, mas sua
      história e aparência permanecem envoltas em mistério devido à falta de
      exposição no enredo.
    </p>
    <p>
      Como um dos Tobiroppo, Sasaki desempenha um papel importante na hierarquia
      dos Piratas das Feras, possuindo autoridade sobre os subordinados e
      participando de decisões estratégicas dentro da tripulação. Sua presença
      imponente e sua reputação como um membro de destaque o tornam uma figura
      respeitada e temida nos mares de "One Piece".
    </p>
    <p>
      Sasaki possui a habilidade de se transformar em um triceratops utilizando
      o <strong>Ryu Ryu no Mi, Modelo: Triceratops</strong>, uma fruta do diabo
      do tipo Zoan. Nessa forma, ele pode aumentar significativamente sua força
      física e resistência, tornando-se um oponente formidável em combate.
      Sasaki é capaz de superar adversários poderosos, como um robô de 13 metros
      de altura, e sua forma de besta é ainda maior que sua forma híbrida. Essas
      habilidades permitem que ele use sua transformação em triceratops de
      maneira estratégica para vencer batalhas
    </p>
  </article>
</div>
