<div class="container">
  <article>
    <h1>Jesus Burgess</h1>
    <img
      src="../../../../assets/perfis/yonkous/barbaNegra/burgess.gif"
      alt="gif Burgess"
      class="img-gif"
      loading="eager"
    />

    <p>
      Jesus Burgess, mais conhecido como <strong>"Campeão"</strong>, é o
      timoneiro e um dos Dez Capitães Colossais dos Piratas do Barba Negra, como
      <strong>capitão do Primeiro Navio.</strong>
    </p>
    <p>
      Burgess costuma agir de maneira brutal, e também é muito alto e arrogante.
      Ele parece ser excessivamente confiante, ao escalar edifícios e desafiar
      pessoas aleatórias em Jaya, proclamando-se como o Campeão. Ele também
      parece ter um intenso amor pelo combate, querendo testar suas habilidades
      em qualquer um que encontrar. Ele gosta especialmente de adversários
      fortes, como mostrado quando descobriu que Monkey D. Luffy estava lutando
      no Coliseu Corrida.
    </p>
    <p>
      Apesar de, ou talvez por causa de seu profundo amor pelo combate, Burgess
      também parece ser um mau perdedor, incapaz de aceitar a derrota, mesmo
      quando está gravemente ferido. Ele também está disposto a usar qualquer
      tática suja e dissimulada que puder, caso ele ou seus aliados não consigam
      vencer em uma luta direta, como evidenciado como ele se juntou ao resto
      dos Piratas do Barba Negra em seu ataque nove contra um direcionado ao
      Barba Branca.
    </p>
    <p>
      Em algum momento após o Arco Dressrosa, Burgess comeu a
      <strong>Riki Riki no Mi</strong>, uma Akuma no Mi do tipo Paramecia que
      lhe concede força sobre-humana. Isso aumenta a força já imensa de Burgess
      ao ponto onde ele pode casualmente levantar uma montanha acima de sua
      cabeça e jogá-la a uma grande distância.
    </p>
  </article>
</div>
