<div class="container">
  <article>
    <img
      src="../../../../assets/perfis/yonkous/bigmom.gif"
      alt="gif Big Mom"
      class="img-gif"
    />
    <h2>Charlotte Linlin - Big Mom</h2>
    <p>
      Big Mom, também conhecida como Charlotte Linlin, era uma dos Yonkou, os
      quatro imperadores mais poderosos dos mares em One Piece. Seu sonho é
      criar um mundo onde todas as raças possam coexistir em harmonia. Ela é a
      líder da Ilha Whole Cake e tem uma grande família composta por seus filhos
      e subordinados. Ao longo de sua trajetória, Big Mom demonstrou uma imensa
      força e crueldade, sendo uma das figuras mais temidas dos mares. Ela é
      derrotada por Law e Kid na Ilha de Wano.
    </p>

    <h2>Soru Soru no Mi</h2>
    <img
      src="../../../../assets/frutos/Soru_Soru.jpg"
      alt="Soru Soru no mi"
      class="img-fruto"
    />
    <p>
      É uma Fruta do Diabo do tipo Paramecia, a Soru Soru no Mi concede ao
      usuário a capacidade de manipular e controlar almas. Isso inclui a
      capacidade de extrair e armazenar almas de seres vivos, assim como
      manipulá-las para várias finalidades. Uma das habilidades principais é a
      capacidade de criar seres chamados "Homies" a partir das almas que foram
      extraídas e armazenadas pelo usuário. Estes Homies são objetos ou
      criaturas que ganham vida própria e servem ao usuário conforme sua
      vontade.
    </p>
  </article>
</div>
