<div class="container">
  <article>
    <h1>Daifuku</h1>
    <img
      src="../../../../assets/perfis/yonkous/bigMom/daifuku.gif"
      alt="gif Daifuku"
      class="img-gif"
      loading="eager"
    />

    <p>
      Charlotte Daifuku é um dos filhos da Imperatriz Big Mom e um membro da
      Família Charlotte em "One Piece". Ele ocupa uma posição de destaque dentro
      da tripulação de Big Mom.
    </p>
    <p>
      Daifuku é usuário da <strong>Hoya Hoya no Mi</strong>, uma Akuma no Mi do
      tipo Paramecia que lhe permite invocar um poderoso gênio ao esfregar sua
      barriga. Este gênio possui força tremenda e pode usar uma grande variedade
      de ataques, principalmente com uma arma semelhante a um halebardo,
      tornando Daifuku um combatente versátil e perigoso.
    </p>
    <p>
      Além do poder concedido pela Hoya Hoya no Mi, Daifuku também é um
      combatente competente em combate corpo a corpo e possui uma forte lealdade
      à sua mãe e à sua família, frequentemente liderando forças em batalha em
      nome dos Piratas de Big Mom.
    </p>
    <p>
      A combinação de suas habilidades de invocação com o poder devastador do
      gênio faz de Daifuku um adversário formidável, capaz de enfrentar e
      superar muitos oponentes no campo de batalha.
    </p>
  </article>
</div>
