<div class="container">
  <article>
    <h1>Vasco Shot</h1>
    <img
      src="../../../../assets/perfis/yonkous/barbaNegra/shot.gif"
      alt="gif Vasco Shot"
      class="img-gif"
      loading="eager"
    />

    <p>
      Vasco Shot, apelidado de <strong>"O Beberrão"</strong>, é um dos Dez
      Capitães Colossais dos Piratas do Barba Negra, como
      <strong>capitão do Oitavo Navio</strong>. Ele era originalmente um dos
      vários criminosos lendários condenados à prisão perpétua no Nível 6 de
      Impel Down antes de serem libertados por Barba Negra e se juntarem a ele.
    </p>
    <p>
      Ele parece ter uma personalidade muito cruel como ele pediu a Barba Negra
      permissão para matar todas as pessoas em Marineford independente de suas
      forças. Como seu apelido sugere, ele é bêbado, e gosta de beber o tempo
      todo, a ponto de reclamar que eles deveriam invadir uma cidade apenas para
      obter mais álcool. Não se sabe o quanto de sua embriaguez influencia sua
      personalidade sóbria.
    </p>
    <p>
      Suas habilidades ainda não foram mostradas, mas ele era poderoso o
      suficiente para ser contido no Level 6 de Impel Down quando foi capturado
      pelo Governo Mundial. Ele foi mostrado usando duas pistolas contra Barba
      Branca. Outra prova de seu poder é o fato de que quando Barba Negra
      recrutou os prisioneiros do Level 6, ele apenas escolheu os mais fortes
      que poderiam sobreviver quando confrontados com todos os outros
      prisioneiros em uma batalha de "liberdade para todos".
    </p>
  </article>
</div>
