<div class="container">
  <article>
    <h1>Vice-Almirante Dalmatian</h1>
    <img
      src="../../../../assets/perfis/marinha/dalmatian.gif"
      alt="gif Dalmatian"
      class="img-gif"
      loading="eager"
    />

    <section class="historia">
      <p>
        Vice-Almirante Dalmatian é um dos muitos marinheiros vice-almirantes que
        participaram da Batalha de Marineford.
      </p>
      <p>
        Como vice-almirante, Dalmatian é capaz de comandar um Buster Call ao
        lado de outros quatro vice-almirantes. Ele também comanda subordinados
        de escalão inferior.
      </p>
      <p>
        Dalmatian tem acesso ao estilo de artes marciais Rokushiki e demonstrou
        as técnicas Soru e Shigan, permitindo-lhe mover-se a uma velocidade
        incrível e perfurar seus oponentes com o dedo, respectivamente. Os
        poderes de suas técnicas físicas são aprimorados ainda mais por sua
        transformação de Akuma no Mi.
      </p>
      <p>
        Dalmatian comeu uma Akuma no Mi sem nome - tipo Zoan que permite que ele
        se transforme em um dálmata. Usando isso, ele pode aumentar muito suas
        habilidades de luta e força física, e pode combiná-las com seu estilo
        Rokushiki.
      </p>
    </section>
  </article>
</div>
