<div class="container">
  <article>
    <img
      src="../../../../assets/perfis/chapeus/zoro.gif"
      alt="gif Zoro"
      class="img-gif"
    />
    <h2>Roronoa Zoro</h2>
    <p>
      Roronoa Zoro é o espadachim principal dos Chapéus de Palha em One Piece,
      determinado a se tornar o maior espadachim do mundo. Seu sonho é superar o
      lendário espadachim Dracule Mihawk. Zoro se juntou à tripulação de Monkey
      D. Luffy após ser salvo por ele e desde então se dedicou a proteger seus
      companheiros e alcançar seu objetivo. Ao longo da jornada, ele enfrentou
      desafios formidáveis, aprimorou suas habilidades de espadachim e se tornou
      uma peça vital na busca de Luffy pelo One Piece.
    </p>

    <h2>Santoryu</h2>
    <img
      src="../../../../assets/frutos/espadas_zoro.jpg"
      alt="Tres espadas do Zoro"
      class="img-fruto"
    />
    <p>
      O estilo Santoryu é uma forma de esgrima de três espadas. O Santoryu
      permite que Zoro ataque seus oponentes com uma variedade de técnicas
      poderosas, combinando velocidade, precisão e força bruta. Ele pode
      executar uma série de movimentos diferentes, incluindo cortes verticais,
      horizontais e diagonais, bem como golpes giratórios e estocadas rápidas.
    </p>
  </article>
</div>
