<div class="container">
  <article>
    <h1>Roronoa Zoro</h1>
    <img
      src="../../../../assets/perfis/chapeus/zoro/zoro.gif"
      alt="gif Zoro"
      class="img-gif"
      loading="eager"
    />

    <section class="historia">
      <p>
        Roronoa Zoro, também conhecido como "Caçador de Piratas" Zoro, é o
        combatente dos Piratas do Chapéu de Palha e um ex-caçador de
        recompensas. Ele foi o primeiro membro a juntar-se à tripulação. Sua
        fama como mestre espadachim e sua grande força, juntamente com as ações
        de seu capitão, às vezes levaram os outros a acreditar que ele era o
        verdadeiro capitão da tripulação antes deste obter sua primeira
        recompensa, enquanto algumas pessoas acreditam que ele seja o imediato.
      </p>
      <p>
        Ele é um dos quatro melhores lutadores da tripulação, ao lado de Luffy,
        Sanji e Jinbe, e seu sonho é se tornar o maior espadachim do mundo. Zoro
        também é considerado como um dos doze piratas que são referidos como "A
        Pior Geração". Ele atualmente tem uma recompensa de 1.111.000.000 de
        berrys.
      </p>
      <p>
        Zoro geralmente mantém uma séria e distante personalidade, mas muitas
        vezes perde a paciência em um estilo pateta e exageradamente cômico.
        Parece no entanto, que essa raiva é a única emoção que Zoro muitas vezes
        se sente confortável em demonstrar. Fora de situações onde ele se sente
        confiante em batalha, ele tende a ser o membro do bando que menos sorri
        ou ri.
      </p>
      <p>
        Na verdade, sua derrota nas mãos de Mihawk e voto subsequente para Luffy
        é a única vez desde que sua amiga Kuina morreu que Zoro foi visto
        chorando na série. Mesmo em momentos que são particularmente difíceis
        para a tripulação e justifiquem tristeza, Zoro opta por manter uma
        solenidade tranquila em vez de expressar suas emoções. Ele acredita que
        estas emoções podem atrapalhar seu julgamento como um espadachim: quando
        Ohm perguntou se ele estava lutando por vingança por ver Tony Tony
        Chopper ferido e inconsciente, ele respondeu que ele não gosta de lutar
        por razões como essa.
      </p>

      <h2>A Dor dos Meus Companheiros é minha Dor</h2>
      <img
        src="../../../../assets/perfis/chapeus/zoro/zoro_sangue.gif"
        alt="gif Zoro sangrando"
        class="img-gif"
      />
      <p>
        Zoro tenta lutar por Luffy já que ele está indefeso no chão. Pelos
        esforços do Zoro, Kuma oferece um acordo a ele. Kuma diz que pode tirar
        toda a dor de Luffy mas apenas se ela for implantada em Zoro. Zoro
        concorda com este negócio, Kuma diz que ele poderia morrer com essa dor.
        Kuma tira a dor de Luffy e da uma pequena parcela a Zoro que logo após
        se arremessa para dentro da bolha que contém a dor de Luffy.
      </p>
    </section>

    <section class="poder">
      <h2>Esgrima</h2>
      <img
        src="../../../../assets/perfis/chapeus/zoro/espadas_zoro.jpg"
        alt="Tres espadas do Zoro"
        class="img-formas"
      />
      <p>
        Zoro é um mestre espadachim extremamente poderoso,
        <strong
          >sendo capaz de usar uma, duas e três espadas em diferentes estilos de
          ataque</strong
        >, seja no pequeno ou curto alcance. Ele é até mesmo capaz de usar
        Flying Slash Attack, uma técnica de espada de alto nível que utiliza a
        pressão no ar para atacar o inimigo à distância. Zoro também pode
        cronometrar cuidadosamente seus golpes de espada para contrariar ou
        desviar ataques extremamente poderosos como o Rankyaku de Kaku.
      </p>
      <p>
        Além de seu tremendo domínio em
        <strong>Santoryu ("Estilo Três Espadas")</strong>, Zoro possui
        habilidades excepcionais em
        <strong>Ittoryu ("Estilo Uma Espada")</strong>, sendo capaz de resistir
        aos irmãos Nyaban, derrotar vários membros de baixa patente da
        tripulação dos Piratas do Arlong, bem como derrotar Mr. 1, o mais forte
        agente da Baroque Works usando apenas uma espada.
      </p>
      <p>
        Zoro também tem imensa maestria em
        <strong>Nitoryu ("Estilo Duas Espadas")</strong> que foi seu estilo de
        luta original em sua infância antes de começar a praticar Santoryu. Em
        Thriller Bark, antes de ele adquirir Shusui como uma substituta para a
        Yubashiri, Zoro podia usar ambas Wado Ichimonji e Sandai Kitetsu com
        incrível poder e precisão, capaz de lutar de forma equivalente com
        Ryuma, um extremamente poderoso samurai zumbi imbuído com as habilidades
        de espadachim de Brook através da Kage Kage no Mi, tendo usado durante a
        maior parte Ittoryu para lutar com o samurai.
      </p>
      <p>
        Após seus dois anos sob a tutela de Mihawk, suas habilidades em todos os
        três estilos se tornaram tão poderosas que ele foi capaz de derrotar um
        podereso homem-peixe, Hody Jones, enquanto estava submerso com um único
        golpe de espada e derrotou Hyouzou, o melhor espadachim da Ilha dos
        Homens-Peixe, considerando que ele é muito fraco para até mesmo matar
        seu tédio, apesar de este último ter passado por uma transformação
        devido aos esteroides energéticos. Usando Nitoryu, ele foi capaz de
        lutar contra Monet, uma usuária de Logia e uma oficial dos Piratas
        Donquixote sem usar sua força total. Zoro também conseguiu cortar a
        colossal estátua de pedra de Pica usando ou não Haki. Embora disfarçado
        como um ronin no País de Wano, Zoro aproveitou para executar um poderoso
        golpe voador que cortou um magistrado junto com o edifício, apesar do
        curto alcance da lâmina, mais uma prova de suas habilidades melhoradas
        em esgrima.
      </p>
    </section>

    <section class="curiosidade">
      <h2>Falta de Direção</h2>
      <img
        src="../../../../assets/perfis/chapeus/zoro/zoro_perdido.gif"
        alt="gif Zoro se perdendo"
        class="img-gif"
      />
      <p>
        Fora das batalhas, Zoro tem uma fraqueza óbvia: sua completa falta de
        orientação. Ele frequentemente demonstra que ele pode facilmente se
        perder em todos os lugares e sempre anda na direção errada. Ele até às
        vezes anda pelo caminho errado ao ter seu alvo à vista, procurando por
        atalhos.
      </p>
      <p>
        Zoro também pode ficar confuso com suas próprias direções, como no Arco
        Skypiea quando ele pretendia ir para a direita, mas foi para a esquerda.
        Além disso, em Enies Lobby, Nami apontou para um lance de escadas e
        disse a todos que corressem para o telhado de um prédio, mas Zoro correu
        para longe como se estivesse procurando outro caminho para o topo de um
        prédio. Ele também se perdeu correndo através de um corredor reto. Em
        Dressrosa, sua falta de orientação deu ao anão Wicca um tempo terrível,
        enquanto ela tentava desesperadamente levar Zoro na direção certa, ele
        corria em uma direção completamente errada, mesmo quando Wicca apontava
        para o lugar certo para ir.
      </p>
      <p>
        Estas características muitas vezes preocupam os outros chapéus de palha
        e fazem com que eles cuidem de Zoro e às vezes zombem dele (Sanji
        especialmente). No entanto, assim como Luffy, Zoro é irremediavelmente
        indiferente ou envergonhado por esse fato e geralmente culpa os outros
        chapéus de palha por serem "perdidos".
      </p>
    </section>
  </article>
</div>
