<div class="container">
  <article>
    <img
      src="../../../../assets/perfis/yonkous/teach.gif"
      alt="gif Teach"
      class="img-gif"
    />
    <h2>Marshal D. Teach - Barba Negra</h2>
    <p>
      Barba Negra começou como um membro da tripulação de Barba Branca. Sua
      ambição era se tornar o pirata mais poderoso e alcançar o posto de Rei dos
      Piratas, objetivo que o levou a trair e matar seu antigo capitão para
      obter a Fruta do Diabo Yami Yami no Mi, que lhe concedeu poderes das
      trevas. Após a traição a Barba Branca, Marshall D. Teach formou sua
      própria tripulação, os Piratas do Barba Negra. Com uma tripulação leal e
      poderosa, ele rapidamente ganhou notoriedade nos mares e se tornou um dos
      Yonkou, os quatro piratas mais poderosos do mundo de One Piece.
    </p>

    <h2>Yami Yami no Mi</h2>
    <img
      src="../../../../assets/frutos/Yami_Yami.jpg"
      alt="Yami Yami no mi"
      class="img-fruto"
    />
    <p>
      É uma Fruta do Diabo do tipo Logia, e é conhecida como a Fruta da
      Escuridão, o que significa que seu usuário pode transformar seu corpo em
      um elemento natural, neste caso, a escuridão. O usuário da Yami Yami no Mi
      pode criar, controlar e manipular a escuridão à vontade. Isso não apenas
      concede a capacidade de absorver tudo, incluindo ataques físicos e
      projéteis, mas também permite que o usuário reduza a visibilidade em uma
      área ao seu redor, criando escuridão total. Uma característica única e
      extremamente poderosa da Yami Yami no Mi é sua capacidade de "anular" os
      poderes das outras Frutas do Diabo, incluindo os tipos Logia, Paramecia e
      Zoan. Quando o usuário entra em contato com um usuário de Akuma no Mi, a
      escuridão parece "engolir" o poder do oponente.
    </p>
  </article>
</div>
