<div class="container">
  <article>
    <img
      src="../../../../assets/perfis/chapeus/usopp.gif"
      alt="gif Usopp"
      class="img-gif"
    />
    <h2>Usopp</h2>
    <p>
      Usopp é o atirador dos Chapéus de Palha em One Piece, conhecido por sua
      imaginação fértil e habilidades como inventor. Seu sonho é se tornar um
      bravo guerreiro dos mares, tão corajoso quanto seu pai, Yasopp.
      Inicialmente, Usopp se apresenta como um contador de histórias exageradas,
      mas ao longo de sua jornada, ele enfrentou seus medos e provou seu valor
      em batalhas cruciais. Apesar de sua tendência à mentira, Usopp é um membro
      essencial da tripulação, sempre disposto a proteger seus amigos e lutar
      por seus sonhos.
    </p>

    <h2>Sogeking</h2>
    <img
      src="../../../../assets/frutos/sogeking.jpg"
      alt="Sogeking"
      class="img-fruto"
    />
    <p>
      Sogeking é uma persona adotada por Usopp durante o arco da Enies Lobby.
      Ele cria essa identidade para ajudar seus amigos e lutar contra o CP9, um
      grupo de agentes do Governo Mundial. A arma de Sogeking, Sniper King, é um
      estilingue de tamanho extraordinário, muito maior do que os estilingues
      convencionais. É feito de madeira resistente e possui uma grande faixa de
      borracha para lançar projéteis a longa distância com precisão.
    </p>
  </article>
</div>
