<div class="container">
  <article>
    <h1>Usopp</h1>
    <img
      src="../../../../assets/perfis/chapeus/usopp/usopp.gif"
      alt="gif Usopp"
      class="img-gif"
      loading="eager"
    />

    <section class="historia">
      <p>
        "God" Usopp é o Atirador dos Piratas do Chapéu de Palha. Ele é o quarto
        membro da tripulação e o terceiro a entrar, fazendo isso no final do
        Arco Vila Syrup. Embora ele tenha deixado a tripulação durante o Arco
        Water 7, ele se juntou novamente ao final do Arco Pós-Enies Lobby.
      </p>
      <p>
        Usopp é o filho de Yasopp e Banchina. Ele nasceu e foi criado na Vila
        Syrup, e era o "capitão" dos Piratas Usopp e o amigo mais próximo de
        Kaya. Após colaborar com os Chapéus de Palha para derrotar Kuro e os
        Piratas do Gato Preto, ele foi convidado a se juntar à tripulação.
        Apesar de sua covardia normal, Usopp sonha em se tornar um corajoso
        guerreiro do mar como seu pai, e vive todos os dias em busca de viver à
        altura deste sonho.
      </p>
      <p>
        Ele tem atualmente uma recompensa de 500.000.000 de berrys. Usopp recebe
        o posto de 5° Comandante (seguindo a lógica de sua recompensa) já que a
        marinha o nomeou um dos comandantes do Luffy.
      </p>
      <p>
        Usopp é um dos membros mais sentimentais dos Chapéus de Palha, e chora
        ou perde a calma em momentos de estresse emocional. No início da série,
        Usopp era ansioso, inseguro, mentiroso compulsivo e facilmente
        assustado. Diferentemente de Nami (cuja covardia está ligada a apenas
        querer permanecer viva), a covardia de Usopp era resultado de seu medo e
        insegurança, especialmente quando confrontado com a incerteza.
      </p>
    </section>

    <section class="curiosidade">
      <h2>Sogeking</h2>
      <img
        src="../../../../assets/perfis/chapeus/usopp/sogeking.gif"
        alt="gif Sogeking"
        class="img-gif"
      />
      <p>
        Sogeking é o alter ego de Usopp desenvolvido durante os Arcos Water 7 e
        Enies Lobby, quando ele deixou a tripulação. Mais tarde, ver os outros
        tentando salvar Robin fez sentir-se culpado por te-los deixado, por
        isso, ele afirmou para Sanji e Franky que ele não poderia ajudá-los a
        lutar por este motivo. Ele disfarçou-se às pressas com uma máscara e
        capa e começou a chamar-se de "Sogeking".
      </p>
      <p>
        A Máscara registrada de Sogeking é vista no Trem Puffing Tom: quando
        Sanji deixa o último carro no trem Mar, a máscara é visível em uma mala
        aberta. Provavelmente é uma máscara de um festival que estava ocorrendo
        em uma ilha próxima no momento. O traje de Sogeking só é completo quando
        Usopp incorpora seus óculos favoritos nos buracos dos olhos da máscara.
      </p>
      <p>
        Durante esta fachada, ele às vezes faz uma voz mais profunda para se
        disfarçar, o que pode ser visto como o Sogeking "verdadeiro". Sogeking
        refere-se a quase todos com um sufixo "kun" (Luffy-kun, Zoro-kun,
        Robin-kun, etc.) e, quando perguntado sobre o paradeiro da 'Ilha dos
        Atiradores' ele supostamente sustenta que ela existe "em seu coração".
      </p>
      <p>
        Como Sogeking, ele muda o nome de seus ataques de japonês para inglês,
        como o "Firebird Star" ao atirar na bandeira do Governo Mundial. O
        Sogeking "verdadeiro" tem sido conhecido a quebrar personagem na
        ocasião, falando na voz normal de Usopp e soltando temporariamente seu
        comportamento destemido. Por exemplo, ele rapidamente perdeu a calma
        quando Nami o chamou de "Sogepp." Todos, exceto Luffy e Chopper,
        perceberam imediatamente que Sogeking era Usopp com a visão de forma
        significativa do longo nariz de Usopp. Chopper foi enganado a tal ponto
        que ele aceitou um autógrafo de Sogeking pensando que ele fosse uma
        celebridade, e agora mantém pendurado na enfermaria do Thousand Sunny
        como um presente de Usopp uma vez que ele descobriu a verdade.
      </p>
    </section>
  </article>
</div>
