<div class="container">
  <article>
    <h2>Shanks e os Gorosei</h2>
    <img
      src="../../../../assets/perfis/yonkous/ruivos/shanks-goroseis.gif"
      alt="gif Shanks"
      class="img-gif"
      loading="eager"
    />
    <p>
      Quando as notícias sobre as realizações de Luffy em Totto Land se
      espalharam pelo mundo, Shanks leu o jornal e ficou feliz e com expectativa
      de ver Luffy novamente. Solicitando uma conversa com os Cinco Anciões.
      Mais tarde, Shanks foi a Mary Geoise durante o Levely, mascarando sua
      identidade para falar com os anciões no Salão da Autoridade do Castelo
      Pangea. Ao ser questionado sobre o que queria e por que viajaria até lá
      para falar com eles, Shanks informou aos anciões que precisava discutir
      sobre um certo pirata.
    </p>

    <h2>Wano e a Nova Era</h2>
    <img
      src="../../../../assets/perfis/yonkous/ruivos/shanks-wano.jpg"
      alt="Shanks em Wano"
      class="img-fruto"
    />
    <p>
      Uma semana após a luta de Luffy com Kaidou, Shanks e sua tripulação
      chegaram próximo à costa de Wano. Shanks reconheceu a capacidade de Luffy
      como pirata e lembrou-se da última vez em que esteve em Wano, quando os
      Piratas do Roger deixaram Kozuki Oden, dizendo também que Momonosuke e
      Hiyori já deviam estar crescidos. Ele olhou para o novo cartaz de
      procurado de Luffy enquanto se lembrava da época em que roubou a Gomu Gomu
      no Mi da CP9, bem como da época em que esteve com Luffy na Vila Foosha.
      Embora sua tripulação quisesse se encontrar com Luffy depois de tanto
      tempo, Shanks recusou e lembrou à tripulação que Bartolomeo estava
      invadindo seu território, afirmando que se eles deixassem isso passar,
      poderia prejudicar a reputação de Shanks como Imperador.
      <strong
        >Definindo Bartolomeo como seu próximo alvo, ele tomou uma xícara de
        saquê e sentou-se com Beckman, a quem disse que era hora de agir e
        reivindicar o One Piece.</strong
      >
    </p>
    <p>
      Shanks interrompeu a luta de Momonosuke contra o Almirante Ryokugyu,
      enviando uma forte onda de Haoshoku Haki das proximidades de Wano. O
      Almirante sentiu seu Haki e percebeu que era Shanks quem o estava usando.
      Os Piratas do Ruivo disseram a Shanks para não usar seu Haki sem aviso,
      pois ele estava nocauteando os novatos da tripulação. Shanks então disse
      ao Almirante para deixar os piratas descansarem, já que eles tinham
      acabado de fazer história como piratas, antes de perguntar se a "Nova Era"
      assustava tanto Ryokugyu. O Almirante se retirou da luta, não querendo
      confrontar Shanks.
    </p>

    <h2>Shanks versus Kid</h2>
    <img
      src="../../../../assets/perfis/yonkous/shanks1.gif"
      alt="gif Shanks"
      class="img-gif"
      loading="eager"
    />
    <p>
      Algum tempo depois, os Piratas do Ruivo chegaram a Elbaf para se divertir
      em uma taverna local, onde Shanks se reuniu com seus amigos de longa data,
      Dorry e Brogy, dos Piratas Guerreiros Gigantes. Rockstar então alertou
      Shanks sobre os Piratas Kid que estavam navegando pela costa de Elbaf.
      Dizendo a Rockstar para enviar uma mensagem de luta ou fuga para Kid,
      Shanks decidiu se preparar para a batalha junto com sua tripulação,
      incluindo os Piratas Guerreiros Gigantes. Ele foi então saudado por seus
      capitães piratas subordinados e, depois de trocar algumas breves palavras
      com eles, subiu a bordo do Red Force. Ele então lembrou sua tripulação
      para não subestimar Kid e sua tripulação, antes de comentar sobre sua
      impressionante recompensa e origem.
    </p>
    <p>
      Em seguida, ele perguntou a Hongo se ele tinha alguma informação sobre o
      Barba Negra, mas então percebeu que Kid estava prestes a lançar um ataque
      letal aos seus navios piratas subordinados, ficando extremamente
      preocupado com os danos que ocorreriam. Para impedir que esse futuro
      ocorresse, Shanks foi diretamente até o Kid e o atacou com o Kamusari
      antes que ele pudesse lançar seu ataque devastador, nocauteando Kid e
      Killer. Em seguida, ele pegou as cópias dos Road Poneglyph dos Piratas Kid
      e deixou o Victoria Punk, que estava prestes a ser destruído por Dorry e
      Brogy. Mais tarde, quando a transmissão de Vegapunk estava chegando ao
      fim, Shanks foi informado por sua tripulação que estava muito bêbado, e
      ele negou, enquanto Vegapunk continuava dizendo que o destino do mundo
      dependeria de quem conseguisse reivindicar o One Piece.
    </p>
  </article>
</div>
