<div class="container">
  <article>
    <h1>Vice-Almirante Strawberry</h1>
    <img
      src="../../../../assets/perfis/marinha/strawberri.gif"
      alt="gif Strawberry"
      class="img-gif"
      loading="eager"
    />

    <section class="historia">
      <p>
        Vice-Almirante Strawberry é um oficial da Marinha e um dos cinco
        vice-almirantes que lideraram o Buster Call a Enies Lobby.
      </p>
      <p>
        Não se sabe muito sobre a personalidade de Strawberry, exceto que ele é
        um homem honrado, salvando a todos presos em Enies Lobby antes de
        atacar. Presumivelmente, ele segue uma justiça moral, ou pelo menos uma
        versão mais branda da Justiça Absoluta como a maioria dos marinheiros.
        Ele também costuma ser visto com uma expressão calma.
      </p>
      <p>
        Como Vice-Almirante marinha, Strawberry é capaz de comandar um Buster
        Call ao lado de outros vice-almirantes. Ele também tem autoridade sobre
        os subordinados hierarquicamente inferiores. Devido ao grande tamanho de
        sua cabeça, ele tem cabeçadas muito fortes.
      </p>
      <p>
        Strawberry foi mostrado segurando duas espadas idênticas, com uma
        aparência japonesa, e com o cabo envolto por um material rosa. Elas têm
        uma alongada guarda-mão decorada por pedras vermelhas, assim como os
        pomos arredondados, e as lâminas com mais curvas que uma katana. Ele as
        empunhou no sentido inverso, semelhante a Doma.
      </p>
    </section>
  </article>
</div>
