<div class="container">
  <article>
    <h1>São Shepherd Ju Peter</h1>
    <img
      src="../../../../assets/perfis/governo/jupeter.gif"
      alt="gif Ju Peter"
      class="img-gif"
      loading="eager"
    />
    <p>
      São Shepherd Ju Peter é um dos Cinco Anciões, os chefes públicos do
      Governo Mundial, e detém o título
      <strong>Deus Guerreiro da Agricultura.</strong>
    </p>
    <p>
      Assim como os outros Anciões, Ju Peter se preocupa com o equilíbrio do
      mundo mantido pelas Três Grandes Poderes e deseja mantê-lo; ele tende
      expressamente a evitar o caos que surgiria de tal queda. Ju Peter
      demonstrou pensar muito sobre os impactos das vagas abertas nos
      Shichibukai e nos Yonkou. Ele também deseja preservar a imagem do Governo
      Mundial, mantendo os eventos do Século Perdido em segredo, e ele e os
      outros Anciões destruirão imediatamente qualquer um que o esteja estudando
    </p>
    <p>
      Ju Peter foi quem deu a ordem para matar Clover, fazendo isso enquanto o
      arqueólogo ainda discutia suas descobertas. Como os outros anciões, ele
      tem pouca tolerância com pessoas de escalão inferior que desafiam sua
      autoridade, como mostrado durante a reunião dos Anciões com o Almirante de
      Frota da Marinha, Sakazuki.
    </p>
    <p>
      Ju Peter tem bastante conhecimento sobre a Hito Hito no Mi, Modelo: Nika e
      leva sua ameaça muito a sério. Quando Warcury questionou sua existência,
      Ju Peter rapidamente rebateu sua afirmação com a forte crença de que ações
      passadas em relação à fruta garantiam que o Governo Mundial pretendia que
      ela fosse apagada da história, expressando essa visão com muita paixão.
    </p>

    <h2>SandWorm</h2>
    <img
      src="../../../../assets/dados/governo/jupeter_transformacao.jpg"
      alt="Transformação Ju Peter"
      class="img-formas"
    />
    <p>
      <strong>
        Ju Peter pode se transformar em um Sandworm: um monstro verme gigante
        que pode se enterrar na terra.
      </strong>
    </p>
    <p>
      Um Verme de Areia, criatura do Deus Guerreiro da Agricultura,
      provavelmente, a terrra não só é seu meio de locomoção preferido e "casa",
      mas também extensão da sua habilidade.
    </p>
    <p>
      Seu poder é provavelmentea capacidade de criar terremotos, mover a terra
      ou algo semelhante. <strong>Isso se deve ao folclore Japonês</strong> que
      via peixes gatos (e outras criaturas semelhantes) que são extremamente
      eletro-sensíveis a tremores, ficando muito agitados antes de Terremotos.
    </p>
  </article>
</div>
