<div class="container">
  <article>
    <h1>Vice-Almirante Yamakaji</h1>
    <img
      src="../../../../assets/perfis/marinha/yamakaji.gif"
      alt="gif Yamakaji"
      class="img-gif"
      loading="eager"
    />

    <section class="historia">
      <p>
        Yamakaji é um dos Vice-Almirantes da Marinha, porém, muito pouco se sabe
        sobre ele, a não ser que ele vive sorrindo, é de poucas palavras e
        mostra alguma preocupação com outros marinheiros, logo, provavelmente
        segue a linha de justiça moral.
      </p>
      <p>
        Yamakaji é um dos cinco Vice-Almirante designados para comandar
        ativamente o Buster Call em Enies Lobby. Durante o evento, ele apenas
        permaneceu em seu navio, observando tudo o que acontecia.
      </p>
      <p>
        Durante a Guerra dos Melhores, Yamakaji é visto preocupado com Tsuru,
        pedindo a ela que fique um pouco para trás e que não se exponha ao
        perigo. Quando Luffy conseguiu derrotar Garp, Yamakaji mostrou-se muito
        surpreso.
      </p>
    </section>
  </article>
</div>
