<div class="container">
  <article>
    <img
      src="../../../../assets/perfis/chapeus/luffy.gif"
      alt="gif luffy"
      class="img-gif"
    />
    <h2>Monkey D. Luffy</h2>
    <p>
      Monkey D. Luffy é o protagonista de One Piece, um pirata destemido e
      determinado cujo sonho é encontrar o lendário tesouro One Piece e se
      tornar o Rei dos Piratas. Ao longo de sua jornada, ele reuniu uma
      tripulação leal, os Chapéus de Palha, e enfrentou adversidades incríveis,
      incluindo governos corruptos e outros piratas poderosos. Com sua
      habilidade de esticar seu corpo como borracha e sua força inigualável,
      Luffy avançou até se tornar um dos quatro imperadores dos mares,
      conhecidos como Yonkou, exercendo grande influência sobre vastas regiões
      oceânicas.
    </p>

    <h2>Gomu Gomu no Mi</h2>
    <img
      src="../../../../assets/frutos/Gomu_Gomu.jpg"
      alt="Gomu Gomu no mi"
      class="img-fruto"
    />
    <p>
      É uma Fruta do Diabo do tipo Paramecia, quem come a Gomu Gomu no Mi é
      capaz de esticar seu corpo como se fosse borracha, concedendo uma ampla
      variedade de habilidades elásticas.
    </p>
  </article>
</div>
