<div class="container">
  <article>
    <h1>Monkey D. Luffy</h1>
    <img
      src="../../../../assets/perfis/chapeus/luffy/luffy.gif"
      alt="gif luffy"
      class="img-gif"
      loading="eager"
    />

    <section class="historia">
      <p>
        Monkey D. Luffy, também conhecido como "Luffy do Chapéu de Palha" e
        comumente como "Chapéu de Palha", é o fundador e capitão dos cada vez
        mais infames e poderosos Piratas do Chapéu de Palha, bem como o mais
        poderoso de seus melhores lutadores.
      </p>
      <p>
        Ele deseja encontrar o tesouro lendário deixado para trás pelo falecido
        Gol D. Roger e assim se tornar o Rei dos Piratas, o que ajudaria a
        facilitar um sonho desconhecido dele que ele contou apenas para Shanks,
        seus irmãos e tripulação. Ele acredita que ser o Rei dos Piratas
        significa ter a maior liberdade do mundo.
      </p>
      <p>
        Luffy é o filho do líder Revolucionário Monkey D. Dragon, neto paterno
        do herói da Marinha Monkey D. Garp, irmão jurado do falecido "Punhos de
        Fogo" Portgas D. Ace e do chefe de gabinete Revolucionário Sabo, e filho
        adotivo de Curly Dadan. Ele é uma das poucas pessoas no mundo que
        carregam a Vontade de D.
      </p>
      <p>
        Luffy também tem uma propensão para atrair seguidores e, sem intenção,
        foi nomeado líder da Grande Frota do Chapéu de Palha, composta por sete
        tripulações piratas que juraram vir em seu auxílio sempre que ele
        desejasse.
      </p>
      <p>
        Depois de saber disso e de suas façanhas contra os Piratas da Big Mom, a
        imprensa rotulou Luffy como o "Quinto Imperador do Mar", embora muitas
        figuras proeminentes considerem isso um exagero.
      </p>
    </section>

    <section class="poder">
      <h2>Gomu Gomu no Mi / Hito Hito no Mi</h2>
      <img
        src="../../../../assets/dados/Frutos/Gomu_Gomu_no_Mi_Luffy.jpg"
        alt="Gomu Gomu no mi"
        class="img-fruto"
      />
      <p>
        A Gomu Gomu no Mi, conhecida originalmente como Hito Hito no Mi, Modelo:
        Nika, é uma Akuma no Mi do tipo Zoan Mítica que permite ao usuário se
        transformar no lendário "Deus do Sol" Nika e ganhar seus atributos,
        notavelmente um corpo com 100% de propriedades da borracha.
      </p>
      <p>
        O Governo Mundial a renomeou em um esforço para apagar o nome original
        da história e, como resultado, ela foi reclassificada como uma fruta do
        tipo Paramecia, que transforma o usuário em um Homem-Borracha.
      </p>
      <p>
        Era um tesouro procurado pelo Governo Mundial por mais de 800 anos, até
        ser roubado por Shanks e sua tripulação na história recente. Foi então
        acidentalmente comida doze anos atrás pelo Luffy.
      </p>
      <p>
        Inicialmente, a Akuma no Mi não concede nenhuma habilidade especial a
        mais do que a de ser um Homem-Borracha, algo aparentemente passivo, ao
        menos em Monkey D. Luffy, um Humano, então poderia muito bem ser
        confundida com uma Paramecia que apenas da ao usuário propriedades da
        borracha, isso desconsiderando o "Despertar".
      </p>
    </section>

    <section class="curiosidade">
      <h2>Gear Second</h2>
      <img
        src="../../../../assets/perfis/chapeus/luffy/gear2.gif"
        alt="gif Luffy Gear 2"
        class="img-gif"
      />
      <p>
        Gear Second é uma técnica que aumenta a força, a velocidade e a
        mobilidade do usuário. Foi visto pela primeira vez na luta de Luffy
        contra Blueno.
      </p>
      <p>
        Esta técnica envolve Luffy acelerar o fluxo do sangue em todas as partes
        do corpo ou selecionados, a fim de lhes fornecer mais oxigênio e
        nutrientes, tornando-o muito mais rápido e mais forte. A técnica utiliza
        ainda mais oxigênio e energia, utilizando-se de mais alimentos o que faz
        Luffy ofegar pesadamente. O aumento em seu metabolismo faz com que ele
        tenha mais fome do que o normal ou mesmo ter um efeito de paralisia após
        o uso prolongado, como na segunda luta com Rob Lucci, onde Luffy não
        conseguia se levantar do chão.
      </p>

      <h2>Gear Third</h2>
      <img
        src="../../../../assets/perfis/chapeus/luffy/gear3.gif"
        alt="gif Luffy Gear 3"
        class="img-gif"
      />
      <p>
        Gear Third é uma forma poderosa que é primeiramente insinuada durante o
        clímax da luta entre Luffy e Blueno, e usada pela primeira vez, mas não
        mostrada, para derrubar uma porta de aço em Enies Lobby. Porém a técnica
        só foi totalmente vista na luta de Luffy contra Rob Lucci.
      </p>
      <p>
        Luffy morde o seu polegar e em seguida o sopra, fazendo com que seu
        braço infle. Ele é, então, capaz de transferir o ar através de todo o
        corpo. Luffy sopra tanto ar no seu corpo que, quando ele está todo
        focado em um único membro, torna-se do tamanho equivalente (ou superior)
        que o de um gigante. Esta técnica, combinada com a força que Luffy já
        possui se torna uma força devastadora, a preço de perder grande parte de
        sua velocidade, já que seu corpo fica muito pesado.
      </p>
      <p>
        Third Gear é geralmente utilizado quando a força física é necessária, os
        ossos são a principal diferença entre essa forma e o seu velho movimento
        "Gomu Gomu no Fusen", onde sua forma de balão era suave e mole. Ao
        contrário disso, no Gear Third, são os ossos que inflam, fazendo com que
        seu braço (ou qualquer outro membro) se torne muito forte.
      </p>

      <h2>Gear Fourth - Boundman</h2>
      <img
        src="../../../../assets/perfis/chapeus/luffy/gear4_bounceman.gif"
        alt="gif Luffy Gear 4 - Boundman"
        class="img-gif"
      />
      <p>
        A primeira forma do do Gear Fourth se chama
        <strong>Boundman (Homem-Quicante):</strong> As proporções de Luffy ficam
        deformadas e seu corpo se torna muito maior em tamanho, com os braços,
        tronco superior e pernas revestidos com Busoshoku Haki. Como efeito
        colateral, ele é incapaz de ficar parado no chão, e em vez disso fica
        constantemente quicando no local. Esta forma foi criada para combater os
        diversos animais poderosos e grandes em Rusukaina. Depois que Boundman
        pousa no chão depois de usar um ataque, Luffy não consegue controlar seu
        pouso devido a proporções distorcidas que seu corpo toma e quica como
        uma bola de forma cômica até que ele perde o ímpeto ou ele de alguma
        forma recupera o controle e começa a "voar" novamente.
      </p>
      <p>
        Embora ele tenha alguma resistência aumentada a ataques cortantes nesta
        forma, se um oponente usando uma arma com lâminas imbuídas com Busoshoku
        Haki de nível comparavél ou superior ao de Luffy, ele será capazes de
        cortar seus braços com relativa facilidade. Da mesma forma, sua quase
        imunidade a ataques por força bruta também não é absoluta. Se um
        oponente tem Haki poderoso o suficiente em conjunto com sua força
        física, é possível negar a defesa emborrachada do corpo inflado de Luffy
        e feri-lo.
      </p>

      <h2>Gear Fourth - Tankman</h2>
      <img
        src="../../../../assets/perfis/chapeus/luffy/gear4_tankman.gif"
        alt="gif Luffy Gear 4 - Tankman"
        class="img-gif"
      />
      <p>
        Durante sua batalha contra Charlotte Cracker, depois de consumir grandes
        quantidades de biscoitos e, consequentemente, crescer para um tamanho
        enorme, Luffy revelou uma outra forma do Gear Fourth conhecida como
        <strong>Tankman.</strong> Nesta forma, ele se assemelha a uma bola com
        proporções exageradas: enquanto seus braços e pernas são ligeiramente
        pequenos em relação ao corpo, seu torso com Busoshoku Haki-revestido
        torna-se muito maior e completamente redondo, embora ainda há músculos
        nos braços e no peitoral. Essa forma também tem semelhança com a
        aparência de Luffy quando ele combinou a força de tanto o seu Gear
        Second e Gear Third antes do timeskip (Gigant Jet Shell).
      </p>
      <p>
        O Tankman dá ao Luffy durabilidade incrível baseada no Busoshoku Haki:
        enquanto Cracker quase cortou o braço do Gear Fourth Boundman com
        Busoshoku Haki-revestido de Luffy com sua espada, ele foi incapaz de
        furar a barriga de Luffy com a mesma espada, enquanto o último estava em
        forma Tankman (embora deve ser notar que na segunda vez Cracker não
        pareceu estar usando Busoshoku Haki). Além disso, esta forma aumenta
        ainda mais o poder e a magnitude ofensiva à base de compressão do que o
        Boundman usando a barriga enorme de Luffy como um lançador, o que lhe
        permitiu atirar Cracker para muito longe através de seus incrivelmente
        duros Soldados Biscoito com o Gomu Gomu No Cannon Ball.
      </p>

      <h2>Gear Fourth - Snakeman</h2>
      <img
        src="../../../../assets/perfis/chapeus/luffy/gear4_snakeman.gif"
        alt="gif Luffy Gear 4 - Snakeman"
        class="img-gif"
      />
      <p>
        Durante sua batalha com Charlotte Katakuri, Luffy revelou uma outra
        forma do Gear Fourth conhecido como
        <strong>Snakeman (Homem da Serpente).</strong> Nessa forma luffy aumenta
        consideravelmente sua altura, ficando na mesma altura que Charlotte
        Katakuri, porém nao infla muito seu torso como no boundman. A extensão
        de Haki é ligeiramente mais limitada, já que não parece se estender
        sobre os ombros e parte superior do corpo de Luffy e diferente dos
        outros modos do Gear Fourth, mesmo no mangá nesse o modo o Busoshoku
        Haki tem um tom vermelho. No entanto, o cabelo de Luffy fica em em
        formato de chama. Em vez de vapor, essa forma produz uma substância
        gasosa que aparece como uma mistura de vapor e fogo e, como suas outras
        contrapartes, também parece ser colocada sobre seus ombros como um
        lenço, enquanto sob esta forma. Seus punhos também se flexionam
        diferentemente, com os primeiros nós dos dedos sendo estendidos,
        semelhante ao punho de leopardo.
      </p>
      <p>
        Nesta forma, Luffy ganha um aumento significativo na velocidade e
        capacidade de usar "Python" para mudar a direção de seus ataques, o
        último dos quais ele também possui em sua forma Boundman. No entanto,
        Snakeman permite que seus ataques acelerem continuamente o tempo que
        duram, permitindo que Luffy não apenas pressione um ataque mais
        ferozmente em um oponente capaz de se esquivar, mas também aumente a
        velocidade e poder do ataque até que ele finalmente caia no alvo, dando
        oportunidade de atacar qualquer área de um adversário com facilidade.
        Esta forma se concentra em lidar com oponentes ágeis que se especializam
        em esquivar-se e tem um alto nível de Kenbunshoku Haki.
      </p>
    </section>
  </article>
</div>
