<div class="container">
  <article>
    <h1>Cracker</h1>
    <img
      src="../../../../assets/perfis/yonkous/bigMom/cracker.gif"
      alt="gif Cracker"
      class="img-gif"
      loading="eager"
    />

    <p>
      Charlotte Cracker, também conhecido como "Cracker, o Mil Biscoitos", é um
      membro da Família Charlotte e um dos "Três Comandantes Doces" sob o
      comando direto da Imperatriz Big Mom em "One Piece".
    </p>
    <p>
      Cracker é usuário da <strong>Biscuit Biscuit no Mi</strong>, uma Akuma no
      Mi do tipo Paramecia que lhe permite criar e manipular biscoitos à
      vontade. Ele tem a capacidade de gerar uma quantidade virtualmente
      ilimitada de biscoitos, que ele usa tanto para defesa quanto para ataques.
    </p>
    <p>
      Além disso, Cracker é um mestre na técnica de Haki chamada "Busoshoku
      Haki", que lhe permite endurecer seu corpo e seus ataques, tornando-os
      extremamente poderosos. Ele é especialmente habilidoso em criar biscoitos
      tão duros quanto o aço, tornando-se uma barreira quase impenetrável para
      seus oponentes.
    </p>
    <p>
      Como um dos mais altos comandantes da Família Charlotte, Cracker é temido
      por sua força e habilidade em combate. Sua capacidade de criar um exército
      de soldados de biscoito e sua maestria em Haki o tornam um adversário
      formidável, representando um desafio significativo para qualquer um que
      ousar enfrentá-lo.
    </p>
  </article>
</div>
