<div class="container">
  <article>
    <h1>Oven</h1>
    <img
      src="../../../../assets/perfis/yonkous/bigMom/oven.gif"
      alt="gif Oven"
      class="img-gif"
      loading="eager"
    />

    <p>
      Charlotte Oven é um dos filhos da Imperatriz Big Mom e um membro
      proeminente da Família Charlotte em "One Piece". Ele é conhecido por sua
      lealdade e seu papel significativo dentro dos Piratas da Big Mom.
    </p>
    <p>
      Oven é usuário da <strong>Netsu Netsu no Mi</strong>, uma Akuma no Mi do
      tipo Paramecia que lhe concede a habilidade de gerar e controlar calor
      extremo a partir de seu corpo. Ele pode aquecer qualquer coisa que toque,
      incluindo o ar ao seu redor, e seus ataques podem alcançar temperaturas
      devastadoras, capazes de causar grandes danos a seus inimigos.
    </p>
    <p>
      Além de suas habilidades de calor, Oven é um combatente formidável em
      combate corpo a corpo, utilizando sua força física e técnicas de
      aquecimento para amplificar o impacto de seus ataques. Ele é capaz de
      aquecer objetos e armas, tornando-os mais perigosos em batalha.
    </p>
    <p>
      A combinação de sua força física e suas habilidades térmicas faz de Oven
      um oponente perigoso e versátil, representando uma ameaça significativa
      para qualquer um que se oponha aos Piratas da Big Mom.
    </p>
  </article>
</div>
