<div class="container">
  <article>
    <h1>Laffitte</h1>
    <img
      src="../../../../assets/perfis/yonkous/barbaNegra/laffitte.gif"
      alt="gif Laffitte"
      class="img-gif"
      loading="eager"
    />

    <p>
      Laffitte, apelidado de <strong>"Xerife Demônio"</strong>, é o navegador,
      chefe de gabinete e um dos Dez Capitães Colossais, como
      <strong>capitão do Quinto Navio</strong>. Ele também é um ex-policial do
      West Blue conhecido por inúmeros atos de brutalidade policial, que
      resultaram em seu exílio daquele mar.
    </p>
    <p>
      Quando trabalhou como policial, ele era prodigiosamente talentoso e
      inteligente. Aos olhos de seus superiores ele ganhou grande destaque. Com
      uma personalidade fria e introspectiva ele tinha grande facilidade de
      análise. Assim, ele foi convocado para operações secretas.
    </p>
    <p>
      Em compensação ao com seu passado, Laffite agora parece ser uma pessoa
      anônima, mais conhecida pelo pseudônimo "L". Ele ainda está por mostrar a
      crueldade que existe incutida. E ele aparentemente não tentou ajudar sua
      equipe no combate ao Portgas D. Ace quando Van Augur e Jesus Burgess o
      atacaram, apenas fugiu com o resto da tripulação até alcançar uma
      distância segura. Laffite é um crente fiel em sorte, destino e sonhos.
    </p>
    <p>
      Laffitte é consideravelmente habilidoso em infiltração. Quando ele viajou
      para Mary Geoise, ele contornou facilmente todas as defesas de segurança
      da terra sagrada do Governo Mundial e se juntou à reunião para a nomeação
      do novo shishibukai, tudo sem ser notado até que ele se revelou
      voluntariamente.
    </p>
  </article>
</div>
