<div class="container">
  <article>
    <h1>São Jaygarcia Saturn</h1>
    <img
      src="../../../../assets/perfis/governo/saturn.gif"
      alt="gif Saturn"
      class="img-gif"
      loading="eager"
    />
    <p>
      São Jaygarcia Saturn é um dos Cinco Anciões que lideram publicamente o
      Governo Mundial, bem como um cientista, possuindo o título de
      <strong>Deus Guerreiro da Ciência e da Defesa.</strong>
    </p>
    <p>
      Assim como os outros Anciões, Saturn se preocupa com o equilíbrio do mundo
      mantido pelos Três Grandes Poderes e deseja preservá-lo. Isso também
      inclui a preservação da imagem do Governo Mundial, mantendo em segredo os
      eventos do Século Perdido, e ele e os outros Anciões destruirão
      imediatamente qualquer pessoa que esteja estudando o assunto.
    </p>
    <p>
      Ele sabe da importância da Hito Hito no Mi, Modelo: Nika e estava disposto
      a se esforçar ao máximo para evitar que ela fosse despertada, até mesmo
      enxergando a ira de um dos Quatro Imperadores como um resultado preferível
      para evitar que isso acontecesse no futuro e sacrificando deliberadamente
      Guernica, um de seus melhores agentes, o que alarmou outro dos Anciões.
    </p>
    <p>
      Quando o caos global se tornou inevitável após a queda de Kaidou e da Big
      Mom, Saturn estava angustiado e ofegante, pois não sabia como reagir sem a
      opção de acobertar tudo.
    </p>
    <p>
      Ao contrário dos outros Anciões, ele parecia ter um pouco de empatia por
      figuras importantes que pareciam ter mérito, pois disse a Kizaru que era
      uma reviravolta infeliz que ele tivesse que sair e eliminar Vegapunk,
      embora isso não o impedisse de executar sua missão. Depois de localizar
      Vegapunk, Saturn o agradeceu por todas as suas contribuições para o
      Governo Mundial, não sem antes declarar que ele teria uma morte dolorosa e
      tentar reforçar o arrependimento do cientista por tê-los traído. Ele
      também achou um desperdício o fato de terem que destruir as Sea Beast
      Weapons, mas preferiu manter os Pacifistas como uma escolha praticável,
      embora de maneira relutante.
    </p>

    <h2>Gyuki</h2>
    <img
      src="../../../../assets/dados/governo/saturn_transformacao.jpg"
      alt="Transformação Saturn"
      class="img-formas"
    />
    <p>
      <strong>
        Saturn pode se transformar em um Gyuki: um enorme yōkai aranha-boi.
      </strong>
    </p>
    <p>
      Assim como uma Aranha, Saturn tem pernas incrivelmente fortes capazes de
      escalar em superfícies, e é bem ágil para seu tamanho. Suas pernas também
      conseguem ser flexíveis.
    </p>
    <p>
      <strong>Um veneno capaz de corroer tudo que toca</strong>, pode ser
      lançado a grandes distâncias, explodindo com o Impacto. Tem também a
      capacidade de esticar suas patas fortes e flexiveis e mover como chicotes.
    </p>
  </article>
</div>
