<div class="container">
  <article>
    <h1>Jozu Diamante</h1>
    <img
      src="../../../../assets/perfis/yonkous/barbaBranca/jozu.gif"
      alt="gif Jozu"
      class="img-gif"
      loading="eager"
    />
    <p>
      Jozu, conhecido como "Diamante Jozu," é o Comandante da Terceira Divisão
      dos Piratas do Barba Branca em "One Piece." Ele possui a Kira Kira no Mi,
      uma Akuma no Mi do tipo Paramecia que permite transformar seu corpo em
      diamante, proporcionando-lhe uma defesa quase impenetrável e uma força de
      ataque poderosa. Jozu é extremamente forte e leal, defendendo
      corajosamente seus companheiros durante a Guerra de Marineford. Sua
      aparência musculosa e brilhante, devido à sua habilidade, o torna uma
      presença imponente na tripulação.
    </p>

    <h2>Kira Kira no Mi</h2>
    <img
      src="../../../../assets/dados/Frutos/Kira_Kira_no_Mi_Jozu.jpg"
      alt="Kira Kira no mi"
      class="img-fruto"
    />
    <p>
      A Kira Kira no Mi é uma Akuma no Mi do tipo Paramecia que confere ao
      usuário a capacidade de transformar seu corpo em diamante. Esta habilidade
      proporciona uma defesa excepcionalmente resistente, praticamente
      impenetrável, e amplifica a força de ataque do usuário ao permitir que ele
      utilize partes de seu corpo como armas de diamante. As transformações em
      diamante oferecem tanto uma vantagem ofensiva quanto defensiva, tornando o
      usuário uma verdadeira fortaleza viva. Essa fruta do diabo é altamente
      valorizada por sua capacidade de endurecimento extremo e resistência a
      danos, características que fazem do seu usuário um oponente formidável em
      combate.
    </p>
  </article>
</div>
