<div class="container">
  <article>
    <img
      src="../../../../assets/perfis/yonkous/luffy5.gif"
      alt="gif Luffy Nika"
      class="img-gif"
    />
    <h2>Luffy Yonkou</h2>
    <p>
      Luffy foi declarado Yonkou após derrotar Kaido, um dos quatro imperadores
      do mundo de One Piece. Essa declaração ocorreu após uma batalha entre
      Luffy e Kaido, onde Luffy solou o imperador. A declaração de Luffy como
      yonkou foi um evento importante na série, pois ele se tornou o primeiro
      pirata a derrotar um dos quatro imperadores e assumir seu lugar. A
      declaração de Luffy como yonkou também foi um momento de mudança na série,
      pois ele passou a ser visto como um líder e um herói, além de um pirata.
      Essa mudança na percepção de Luffy foi importante para a evolução da
      história e para a definição de seu papel no mundo de One Piece.
    </p>

    <h2>Nika Guerreiro da Libertação</h2>
    <img
      src="../../../../assets/frutos/nika.jpg"
      alt="Nika"
      class="img-fruto"
    />
    <p>
      O Guerreiro da Libertação, Nika, é um conceito importante na série de
      mangá e anime One Piece. Ele é um personagem mítico que representa a
      liberdade e a libertação. A Hito Hito no Mi modelo: Nika era conhecida
      como Gomu Gomu no Mi A criação da Hito Hito no Mi modelo: Nika, é um ponto
      crucial na história de One Piece. Vegapunk menciona a criação das Frutas
      do Diabo na saga Egghead, explicando que essas frutas são consideradas
      artificiais e foram criadas em algum momento do passado. Acredita-se que
      as pessoas oprimidas do mundo desejavam um Guerreiro da Libertação, o Deus
      do Sol, e oravam a ele, dando origem a esta Fruta do Diabo.
    </p>
  </article>
</div>
