<div class="container">
  <article>
    <h1>Luffy Yonkou</h1>
    <img
      src="../../../../assets/perfis/yonkous/luffy_yonkou.gif"
      alt="gif Luffy"
      class="img-gif"
      loading="eager"
    />
    <p>
      Em Wano, Luffy liderou a guerra contra Kaido e Big Mom. Ele havia se
      aliado a Trafalgar Law durante o arco Punk Hazard para derrubar Kaido. A
      luta inicialmente era entre a Pior Geração e Kaido, mas acabou se tornando
      uma luta individual entre Kaido e Luffy.
    </p>
    <p>
      Luffy conseguiu despertar o Haki do Rei Avançando e se igualou ao
      ex-imperador Kaido, mas seu poder ainda provou ser um pouco insuficiente e
      ele acabou caindo para o Yonkou mais de uma vez. Ao finalmente despertar
      sua Akuma no Mi, que na verdade foi revelada como uma Zoan Mítica chamada
      Hito Hito no Mi, Luffy aproveitou uma nova forma chamada Gear 5 e foi
      capaz de lidar com Kaido.
    </p>
    <p>
      Com seu novo ataque mais poderoso chamado Bajrang Gun, Luffy conseguiu
      esmagar Kaido totalmente. Uma semana depois, Luffy foi declarado Yonkou.
      Agora ele tem uma recompensa de 3 bilhões de berries e possui vários
      territórios e uma frota a sua disposição. Luffy certamente merece seu
      título de Yonkou e é o terceiro mais forte atualmente.
    </p>
    <h2>Gear 5</h2>
    <img
      src="../../../../assets/perfis/chapeus/luffy/gear5.gif"
      alt="gif Luffy Gear 5"
      class="img-gif"
    />
    <p>
      O Gear Fifth é a forma despertada da Hito Hito no Mi, Modelo: Nika, que
      fortalece o corpo de borracha do usuário. Também permite ao usuário a
      capacidade de manipular e transformar seu ambiente, semelhante ao
      despertar de uma Paramecia. Luffy alcançou essa habilidade durante sua
      batalha final contra Kaidou em Onigashima.
    </p>
    <p>
      O despertar da Hito Hito no Mi, Modelo: Nika, anteriormente conhecida como
      Gomu Gomu no Mi, concede ao corpo de borracha do usuário uma força e
      liberdade excepcionais, permitindo que ele lute da maneira que desejar.
      Por essa razão, é dito que o usuário se torna o
      <strong>"Guerreiro da Libertação",</strong> trazendo alegria e liberdade
      para aqueles ao seu redor, e o poder dessa fruta é descrito como
      <strong>"o poder mais ridículo do mundo".</strong>
    </p>
    <p>
      Alinhando-se com a natureza de Zoan Mítica dessa forma, o corpo já
      emborrachado de Luffy ganha liberdade e flexibilidade que supera o que ele
      receberia de suas formas anteriores, a ponto de se tornar maleável como um
      desenho animado, com Kaidou comparando-o a
      <strong>"algo que se vê em uma tirinha".</strong>
    </p>
    <p>
      Nesse estado, os batimentos cardíacos de Luffy assumem um ritmo musical
      que foi descrito por Zunesha como os
      <strong>"Tambores da Libertação".</strong>
    </p>

    <h2>Nika Guerreiro da Libertação</h2>
    <img
      src="../../../../assets/perfis/chapeus/luffy/nika.jpg"
      alt="Nika"
      class="img-fruto"
    />
    <p>
      Nika era um guerreiro mítico que já foi reverenciado como o deus do Sol
      pelos escravos de tempos antigos. Who's-Who, um ex-membro da CP9 que foi
      preso por fracassar em uma missão, ouviu sobre a lenda de um guarda não
      identificado, e começou a orar por Nika com a intenção de aliviar seu
      próprio sofrimento. Quando Who's-Who notou que o mesmo guarda da prisão
      que lhe contou sobre a lenda de repente desapareceu, ele suspeitou que a
      história não era para ser compartilhada e que o Governo Mundial havia
      feito algo com o guarda. Ele então decidiu fugir da prisão para escapar de
      uma punição por saber demais.
    </p>
    <p>
      Segundo a lenda ouvida por Who's-Who, Nika era uma figura heróica e
      benevolente que era amiga dos escravos. Dizia-se que um dia Nika viria
      buscar os escravos para libertá-los de seus senhores opressores e trazer
      sorrisos em seus rostos.
    </p>
    <p>
      Durante seu confronto, Who's-Who perguntou a Jinbe se ele sabia algo sobre
      a lenda de Nika, por associar a raça dos homens-peixe à escravidão. Jinbe
      não respondeu a pergunta, e ficou irritado com a suposição da relação
      entre os homens-peixe e a escravidão, então, depois de se defender dos
      ataques de Who's-Who, ele deu um golpe crítico contra ele.
    </p>
  </article>
</div>
