<div class="container">
  <article>
    <h1>Aokiji Kuzan</h1>
    <img
      src="../../../../assets/perfis/almirante/aokiji.gif"
      alt="gif Kuma"
      class="img-gif"
      loading="eager"
    />
    <p>
      Aokiji, cujo nome verdadeiro é Kuzan, é um dos personagens mais
      importantes e complexos de One Piece. Ele é um ex-Almirante da Marinha que
      serviu sob o comando de Sengoku até sua renúncia após a Guerra de
      Marineford. Aokiji é conhecido por sua justiça indolente, uma filosofia
      que contrasta com a abordagem mais rígida de outros oficiais da Marinha.
    </p>
    <p>
      Aokiji foi um dos almirantes envolvidos na destruição de Ohara. Embora ele
      tenha seguido as ordens para eliminar os estudiosos, ele mostrou compaixão
      ao salvar a jovem Nico Robin, permitindo que ela escapasse.
    </p>
    <p>
      Aokiji encontrou os Chapéus de Palha pela primeira vez na Ilha Long Ring
      Long Land. Ele facilmente derrotou Luffy, Zoro e Sanji, demonstrando sua
      enorme superioridade. Durante esse encontro, Aokiji revelou sua história
      com Nico Robin e decidiu não prendê-la, mostrando novamente sua natureza
      compassiva.
    </p>
    <p>
      Durante a Guerra de Marineford, Aokiji desempenhou um papel crucial. Ele
      lutou contra os piratas e protegeu a plataforma de execução de Ace. Aokiji
      enfrentou Edward Newgate (Barba Branca) diretamente, usando seus poderes
      para congelar partes do mar e deter os ataques do Yonkou.
    </p>
    <p>
      Após a Guerra de Marineford, Aokiji e Akainu lutaram por dez dias em Punk
      Hazard para decidir quem seria o próximo Almirante de Frota. A batalha foi
      tão intensa que mudou permanentemente a geografia da ilha, transformando
      metade dela em um deserto de gelo e a outra metade em um inferno
      vulcânico. Aokiji foi derrotado por Akainu e decidiu deixar a Marinha,
      recusando-se a servir sob seu comando devido a diferenças irreconciliáveis
      em suas filosofias de justiça, tornou-se um agente livre, seguindo seu
      próprio caminho.
    </p>

    <h2>Hie Hie no Mi</h2>
    <img
      src="../../../../assets/dados/Frutos/Hie_Hie_no_Mi_Aokiji.jpg"
      alt="Hie Hie no Mi"
      class="img-fruto"
    />
    <p>
      A Hie Hie no Mi é uma Fruta do Diabo do tipo Logia consumida por Aokiji.
      Esta fruta lhe concede a habilidade de criar, controlar e transformar-se
      em gelo, oferecendo-lhe um conjunto vasto e devastador de poderes.
    </p>
    <p>
      <strong>Ice Time</strong>: Aokiji pode congelar seus inimigos com um
      toque, envolvendo-os em uma camada espessa de gelo.
    </p>
    <p>
      <strong>Ice Age</strong>: Um dos ataques mais poderosos de Aokiji, onde
      ele congela grandes corpos d'água em segundos, criando vastas paisagens de
      gelo.
    </p>
    <p>
      <strong>Escudo de Gelo</strong>: Aokiji pode criar barreiras e escudos de
      gelo para proteger-se de ataques inimigos. Esses escudos são extremamente
      resistentes e difíceis de penetrar. Sua capacidade de se transformar em
      gelo também lhe permite regenerar partes de seu corpo rapidamente,
      tornando-o um adversário muito difícil de derrotar.
    </p>
    <p>
      <strong>Congelamento de Áreas</strong>: Aokiji pode alterar o ambiente ao
      seu redor, congelando vastas áreas e mudando a geografia do campo de
      batalha. Seu poder é tão vasto que pode afetar o clima local, criando
      tempestades de neve e baixando drasticamente a temperatura.
    </p>
  </article>
</div>
