<div class="container">
  <article>
    <h1>Doc Q</h1>
    <img
      src="../../../../assets/perfis/yonkous/barbaNegra/docq.gif"
      alt="gif Doc Q"
      class="img-gif"
      loading="eager"
    />

    <p>
      Doc Q, conhecido como <strong>"Deus da Morte"</strong>, é o médico dos
      Piratas do Barba Negra. Ironicamente, ele está com o corpo doente e
      precisa de seu cavalo, Stronger (que está tão doente quanto ele), para se
      locomover. Ele é atualmente um dos Dez Capitães Colossais, como
      <strong>capitão do Nono Navio.</strong>
    </p>
    <p>
      Doc Q acredita fortemente no destino, apesar de seu ponto de vista parecer
      se centrar mais na crença de sorte e azar. Ele está bem consciente do seu
      corpo enfermo, mas aceita e até ri disso.
    </p>
    <p>
      Doc Q foi visto, juntamente com Jesus Burgess, remando abordo de sua
      jangada com um remo bastante grande, porém não se sabe como ele conseguiu
      remar estando doente. Ele também atacou com sua foice e junto com o resto
      de sua tripulação, o pirata Barba Branca, mostrando que ele pode entrar em
      combate, apesar de sua doença.
    </p>
    <p>
      De fato, como Barba Negra se recusa a aceitar qualquer tripulante fraco em
      sua equipe, indo tão longe a ponto de dizer que uma Supernova, Jewelry
      Bonney com uma recompensa de ฿140.000.000, era fraca demais para entrar em
      sua tripulação. Isso deixa lógico que Doc Q é mais poderoso do que parece.
    </p>
  </article>
</div>
