<div class="container">
  <article>
    <h1>Catarina Devon</h1>
    <img
      src="../../../../assets/perfis/yonkous/barbaNegra/devon.gif"
      alt="gif Devon"
      class="img-gif"
      loading="eager"
    />

    <p>
      Catarina Devon, conhecida como a
      <strong>"Caçadora da Lua Crescente"</strong>, foi a mulher pirata mais
      perigosa a ser aprisionada em Impel Down em toda a era dos piratas. Ela
      foi solta por Marshall D. Teach e recrutada para os Piratas do Barba
      Negra, onde se juntou aos Dez Capitães Colossais como
      <strong>capitã do sexto navio.</strong>
    </p>
    <p>
      Devon parece leal ao Barba Negra depois que ele a libertou de Impel Down.
      São Jaygarcia Saturn observou que dificilmente ela se subordinaria a outra
      pessoa, o que foi confirmado por Devon, no entanto, ela afirmou que Teach
      era especial. Quando os marinheiros a reconheceram pela primeira vez, ela
      mencionou que "também gostava deles", o que sugere que ela é uma pessoa um
      tanto sarcástica.
    </p>
    <p>
      Ela também preferiu obter roupas novas no lugar do uniforme de
      prisioneira, que não gostava de usar. Ela é obcecada por colecionar
      cabeças de mulheres bonitas, a exemplo de quando declarou que admirava a
      beleza de Boa Hancock e que sua cabeça daria um "troféu maravilhoso".
      Devon parece ter uma preferência romântica por mulheres, pois é vista
      cercando-se de admiradoras em Hachinosu, e também foi afetada pela
      habilidade de Akuma no Mi de Boa Hancock.
    </p>
    <p>
      Devon comeu a <strong>Inu Inu no Mi, Modelo: Kyubi no Kitsune</strong>,
      uma Akuma no Mi do tipo Zoan Mítica que permite que ela se transforme em
      uma raposa de nove caudas. Com esse poder, ela pode se transformar em
      outras pessoas, semelhante ao poder da Mane Mane no Mi.
    </p>
    <p>
      Não se sabe se há alguma condição para se transformar em uma pessoa, como
      acontece com a Mane Mane no Mi, que exige que o usuário toque o rosto de
      uma pessoa para se transformar nela, embora Devon tenha expressado
      gratidão por ter tocado a perna de Jaygarcia Saturn em sua forma humana.
    </p>
  </article>
</div>
