<div class="titulos">
  <div class="titulo-bando">
    <img
      src="../../../assets/perfis/chapeus/caveira.png"
      class="caveira"
      alt="Caveira Chapeus de Palha"
    />
    <h2 class="nome-bando">ANTIGOS YONKOUS</h2>
    <img
      src="../../../assets/perfis/chapeus/caveira.png"
      class="caveira"
      alt="Caveira Chapeus de Palha"
    />
  </div>
</div>
<div class="bando">
  <img
    src="../../../assets/Cartazes/yonkous/shanks1.jpg"
    alt="Cartaz de procurado"
    class="cartaz"
    (click)="openDialogShanks(arrayCards)"
  />
  <img
    src="../../../assets/Cartazes/yonkous/newgate.jpg"
    alt="Cartaz de procurado"
    class="cartaz"
    (click)="openDialogNewgate(arrayCards)"
  />
  <img
    src="../../../assets/Cartazes/yonkous/bigMom.jpg"
    alt="Cartaz de procurado"
    class="cartaz"
    (click)="openDialogBigmom(arrayCards)"
  />
  <img
    src="../../../assets/Cartazes/yonkous/kaido.jpg"
    alt="Cartaz de procurado"
    class="cartaz"
    (click)="openDialogKaido(arrayCards)"
  />
</div>

<div class="titulos">
  <div class="titulo-bando">
    <img
      src="../../../assets/perfis/chapeus/caveira.png"
      class="caveira"
      alt="Caveira Chapeus de Palha"
    />
    <h2 class="nome-bando">ATUAIS YONKOUS</h2>
    <img
      src="../../../assets/perfis/chapeus/caveira.png"
      class="caveira"
      alt="Caveira Chapeus de Palha"
    />
  </div>
</div>
<div class="bando">
  <img
    src="../../../assets/Cartazes/yonkous/shanks.jpg"
    alt="Cartaz de procurado"
    class="cartaz"
    (click)="openDialogShanks1(arrayCards)"
  />
  <img
    src="../../../assets/Cartazes/yonkous/luffy2.jpg"
    alt="Cartaz de procurado"
    class="cartaz"
    (click)="openDialogLuffyYonkou(arrayCards)"
  />
  <img
    src="../../../assets/Cartazes/yonkous/teach.jpg"
    alt="Cartaz de procurado"
    class="cartaz"
    (click)="openDialogTeach(arrayCards)"
  />
  <img
    src="../../../assets/Cartazes/yonkous/buggy.jpg"
    alt="Cartaz de procurado"
    class="cartaz"
    (click)="openDialogBuggy(arrayCards)"
  />
</div>
