<h2>Antigos Yonkous</h2>
<div class="bando">
  <img
    src="../../../assets/Cartazes/yonkous/shanks.jpg"
    alt="Cartaz de procurado"
    class="cartaz"
    (click)="openDialogShanks(arrayCards)"
  />
  <img
    src="../../../assets/Cartazes/yonkous/newgate.jpg"
    alt="Cartaz de procurado"
    class="cartaz"
    (click)="openDialogNewgate(arrayCards)"
  />
  <img
    src="../../../assets/Cartazes/yonkous/bigMom.jpg"
    alt="Cartaz de procurado"
    class="cartaz"
    (click)="openDialogBigmom(arrayCards)"
  />
  <img
    src="../../../assets/Cartazes/yonkous/kaido.jpg"
    alt="Cartaz de procurado"
    class="cartaz"
    (click)="openDialogKaido(arrayCards)"
  />
</div>

<h2>Atuais Yonkous</h2>
<div class="bando">
  <img
    src="../../../assets/Cartazes/yonkous/shanks.jpg"
    alt="Cartaz de procurado"
    class="cartaz"
    (click)="openDialogShanks(arrayCards)"
  />
  <img
    src="../../../assets/Cartazes/yonkous/luffy2.jpg"
    alt="Cartaz de procurado"
    class="cartaz"
    (click)="openDialogLuffyYonkou(arrayCards)"
  />
  <img
    src="../../../assets/Cartazes/yonkous/teach.jpg"
    alt="Cartaz de procurado"
    class="cartaz"
    (click)="openDialogTeach(arrayCards)"
  />
  <img
    src="../../../assets/Cartazes/yonkous/buggy.jpg"
    alt="Cartaz de procurado"
    class="cartaz"
    (click)="openDialogBuggy(arrayCards)"
  />
</div>
