<div class="container">
  <article>
    <h1>Sengoku - O Buda</h1>
    <img
      src="../../../../assets/perfis/almirante/sengoku.gif"
      alt="gif Kuma"
      class="img-gif"
      loading="eager"
    />
    <p>
      Sengoku, também conhecido como "Sengoku o Buda", é um dos personagens mais
      respeitados e poderosos do universo de One Piece. Ele foi o Almirante de
      Frota da Marinha até a conclusão da Guerra de Marineford, após a qual se
      aposentou e passou o cargo para Akainu (Sakazuki). Mesmo aposentado,
      Sengoku ainda serve como Inspetor Geral da Marinha, aconselhando e
      supervisionando as operações da organização.
    </p>
    <p>
      Sengoku é introduzido pela primeira vez na série durante o arco de
      Marineford, embora seja mencionado anteriormente. Sua aparência distinta,
      com cabelos brancos, uma barba em forma de cabra e seus óculos, junto com
      seu uniforme militar adornado com medalhas, o torna facilmente
      reconhecível.
    </p>
    <p>
      Como Almirante de Frota, Sengoku foi o principal estrategista e comandante
      durante a Guerra de Marineford, um dos eventos mais importantes e
      destrutivos na história de One Piece. Ele organizou a defesa da Marinha
      contra os Piratas do Barba Branca e seus aliados.
    </p>
    <p>
      Sengoku, junto com Garp, enfrentou e derrotou Shiki, o Leão Dourado, um
      dos piratas mais temidos de sua época.
    </p>
    <p>
      Conhecido por sua inteligência e habilidades estratégicas, Sengoku foi
      fundamental na implementação de várias estratégias contra piratas e outras
      ameaças. Sua mente analítica o tornou um dos líderes mais respeitados e
      temidos na Marinha.
    </p>

    <h2>Hito Hito no Mi, Modelo: Daibutsu</h2>
    <img
      src="../../../../assets/dados/Frutos/Hito_Hito_no_Mi_Sengoku.jpg"
      alt="Hito Hito no Mi, Modelo: Daibutsu"
      class="img-fruto"
    />
    <p>
      Hito Hito no Mi, Modelo: Daibutsu, uma Akuma no Mi do tipo Zoan Mítica,
      quando ativada permite que Sengoku se transforme em um Buda gigante
      coberto por uma aura dourada. Nesta forma, ele ganha um aumento
      significativo em força e resistência, além de um tamanho gigantesco que
      lhe permite lutar contra adversários maiores.
    </p>
    <p>
      <strong>Palm Thrusts</strong>: Em sua forma de Daibutsu, Sengoku pode
      criar ondas de choque poderosas com suas palmas. Esses ataques são capazes
      de causar destruição em larga escala e abalar os oponentes com tremendas
      forças de impacto.
    </p>
    <p>
      <strong>Golden Shockwave</strong>: As ondas de choque emitidas por Sengoku
      em sua forma de Buda são de cor dourada e têm poder destrutivo suficiente
      para derrubar múltiplos inimigos de uma só vez.
    </p>
    <p>
      <strong>Força Descomunal</strong>: A transformação em Daibutsu amplifica a
      força de Sengoku a níveis extraordinários, permitindo-lhe realizar feitos
      de força devastadores.
    </p>
    <p>
      <strong>Durabilidade</strong>: A forma de Buda aumenta significativamente
      a durabilidade de Sengoku, tornando-o capaz de resistir a ataques
      poderosos sem sofrer danos graves.
    </p>
  </article>
</div>
