<div class="container">
  <article>
    <h1>Vice-Almirante Momonga</h1>
    <img
      src="../../../../assets/perfis/marinha/momonga.gif"
      alt="gif Momonga"
      class="img-gif"
      loading="eager"
    />

    <section class="historia">
      <p>
        Vice-Almirante Momonga é um oficial da Marinha e Comandante da Base da
        Marinha G-1. Ele foi um dos cinco vice-almirantes que lideraram o Buster
        Call em Enies Lobby.
      </p>
      <p>
        Momonga é muito sério. Ele é severo e decidido a completar todas as suas
        missões. Por enquanto, não é certo que tipo de "Justiça" ele segue,
        embora pareça estar sinceramente preocupado com o bem-estar de seus
        subordinados. No entanto, ele às vezes se irrita facilmente com a
        incompetência deles, como pode ser visto quando eles caíram rapidamente
        nos encantos de Hancock. Ele é aparentemente instintivo, sendo que ele
        descobriu uma maneira de bloquear os efeitos do feixe Mero Mero Mellow
        de Boa Hancock em meros segundos. Embora ele não seja completamente
        imune à beleza dela, ele é pelo menos resistente o suficiente para não
        ser completamente cativado por seus encantos.
      </p>
      <p>
        Momonga também parece valorizar a etiqueta e a civilidade, já que
        rapidamente ficou enojado com o comportamento atroz de muitos detentos
        desprezíveis do Nível 6 em Impel Down, quando um grande número deles
        começou a gritar e gritar ao ver Boa Hancock e dizer coisas nojentas
        para Magellan, que ele achou altamente indigno e vulgar.
      </p>
      <p>
        Momonga tem uma força incrível, pois foi capaz de matar facilmente um
        Rei dos Mares, que é forte o suficiente para resistir a tiros e balas de
        canhão sem sofrer nenhum ferimento. Momonga também é extremamente ágil,
        pois logo após mergulhar no estômago do Rei dos Mares pela boca, ele
        rapidamente o matou. Ele tem uma forte tolerância à dor, pois ele
        prontamente esfaqueou sua própria mão para resistir aos efeitos dos
        poderes de petrificação de Hancock.
      </p>
    </section>
  </article>
</div>
