<div class="container">
  <article>
    <h1>Portgas D. Ace</h1>
    <img
      src="../../../../assets/perfis/yonkous/barbaBranca/ace.gif"
      alt="gif Ace"
      class="img-gif"
      loading="eager"
    />
    <p>
      Portgas D. Ace, irmão adotivo de Luffy e filho de Gol D. Roger, é um
      personagem central em "One Piece." Usuário da Mera Mera no Mi, uma Akuma
      no Mi do tipo Logia que lhe permite controlar e se transformar em fogo,
      Ace se tornou um dos piratas mais poderosos e respeitados. Ele começou
      como capitão dos Piratas Spade antes de se juntar aos Piratas do Barba
      Branca, onde se tornou o Comandante da Segunda Divisão.
    </p>
    <p>
      Ace é conhecido por sua coragem, lealdade e forte senso de justiça. Sua
      captura pela Marinha desencadeou a Guerra de Marineford, um evento
      significativo na série, onde muitos tentaram resgatá-lo. Apesar dos
      esforços, Ace foi executado, deixando um impacto profundo em Luffy e no
      mundo dos piratas. Sua morte marcou um ponto crucial na história,
      solidificando seu legado como um personagem querido e influente.
    </p>

    <h2>Mera Mera no Mi</h2>
    <img
      src="../../../../assets/dados/Frutos/Mera_Mera_no_Mi_Ace.jpg"
      alt="Mera Mera no mi"
      class="img-fruto"
    />
    <p>
      A Mera Mera no Mi é uma Akuma no Mi do tipo Logia que concede ao usuário a
      habilidade de criar, controlar e se transformar em fogo. Isso permite ao
      usuário lançar ataques de fogo devastadores e se tornar intangível,
      evitando danos físicos ao se transformar em chamas. O poder da fruta
      permite técnicas impressionantes como o "Hiken" (Punho de Fogo) e a "Dai
      Enkai: Entei" (Grande Anel de Fogo: Imperador do Sol). A Mera Mera no Mi é
      uma das frutas mais poderosas, tornando seu usuário uma ameaça formidável
      no mundo de "One Piece."
    </p>
  </article>
</div>
