<div class="container">
  <article>
    <h1>Karasu</h1>
    <img
      src="../../../../assets/perfis/revolucionarios/karasu.gif"
      alt="gif Karasu"
      class="img-gif"
      loading="eager"
    />

    <section class="historia">
      <p>
        Karasu é um executivo do Exército Revolucionário, servindo como
        Comandante do Exército do Norte.
      </p>
      <p>
        Karasu é um homem muito quieto que geralmente fala através de resmungos
        inaudíveis e precisa de sua máscara de alto-falante para ser ouvido
        pelos outros. Ele não parece ter gentileza com as pessoas que reagem
        negativamente a seus resmungos, enquanto as veias incham na testa de
        raiva quando Barba Rosa o confronta. No entanto, ele também tende a ser
        esquecido, por vezes, como ele se esqueceu de ligar o alto-falante,
        resultando em sua murmuração.
      </p>
      <p>
        Como executivo do Exército Revolucionário, Karasu ocupa uma posição
        poderosa dentro da organização. Como comandante do Exército do Norte,
        ele tem controle total sobre todos os soldados nele.
      </p>
    </section>
    <section class="poder">
      <h2>Susu Susu no Mi</h2>
      <img
        src="../../../../assets/dados/Frutos/Susu_Susu_no_Mi_Karasu.jpg"
        alt="Susu Susu no mi"
        class="img-fruto"
      />
      <p>
        A Susu Susu no Mi é uma Akuma no Mi do tipo Logia que permite ao usuário
        criar, controlar e se transformar em fuligem à vontade.
      </p>
      <p>
        A principal força dessa fruta é criar, controlar e se tornar o elemento
        natural da fuligem: finas partículas pretas consistindo principalmente
        de carbono e criadas pela combustão (ou seja, madeira queimada, carvão
        ou outra matéria orgânica). Quando transformado nesta substância em pó,
        o usuário se torna intangível como a maioria dos usuários de Logia e
        invulnerável a meios físicos de ataque como tiros, enquanto ao mesmo
        tempo é capaz de flutuar no ar graças à leveza da fuligem. Ao condensar
        a fuligem que compõe seu corpo (ou que ele cria adicionalmente) em um
        estado semi-sólido, o usuário pode dar a ela qualquer forma que desejar.
      </p>
      <p>
        O método preferido de Karasu para usar seus poderes é dividir seu corpo
        em um bando de corvos feitos de fuligem comprimida. Nesse estado
        dividido, ele pode voar em alta velocidade, retransmitir informações
        (por exemplo, entregando jornais) ou geralmente se comunicar falando por
        meio de corvos individuais, bem como transportar aliados com ele pelo
        ar, com um único corvo sendo capaz de carregar um humano de tamanho
        médio nas costas.
      </p>
    </section>
    <section class="curiosidade">
      <h2>Jiron</h2>
      <img
        src="../../../../assets/dados/revolucionarios/giron.jpg"
        alt="Jiron"
        class="img-info"
      />
      <p>
        Jiron é o comandante auxiliar do Exército Norte do Exército
        Revolucionário, e o assistente de Karasu.
      </p>
      <p>
        Como membro do Exército Revolucionário, Jiron não tem receio de desafiar
        o Governo Mundial, especialmente por ser um oficial. Jiron é um pouco
        trapaceiro e gosta de participar de apostas. Ele parece respeitar Sabo,
        referindo-se a ele com o honorífico "Sabo-san", algo que a maioria de
        seus compatriotas não faz.
      </p>
      <p>
        Como comandante auxiliar do Exército Revolucionário, Jiron tem um certo
        grau de comando sobre os revolucionários de escalão inferior,
        especialmente os do Exército Norte, onde sua autoridade só perde para a
        de seu superior direto, Karasu.
      </p>
      <p>
        Jiron é capaz de comer objetos não comestíveis, sem sofrer nenhum tipo
        de consequência. Não se sabe se isso se deve a uma habilidade de Akuma
        no Mi ou não.
      </p>
    </section>
  </article>
</div>
