<div class="container">
  <article>
    <h1>Imu</h1>
    <img
      src="../../../../assets/perfis/governo/Imu.gif"
      alt="gif Imu"
      class="img-gif"
      loading="eager"
    />
    <p>
      Imu é a figura mais enigmática e poderosa de One Piece, com um controle
      absoluto sobre o Governo Mundial e um poder devastador capaz de destruir
      nações inteiras. Sua história e origem são envoltas em mistério, e sua
      autoridade é reconhecida apenas pelos mais altos membros do Governo
      Mundial. Embora seus poderes específicos, incluindo uma possível Fruta do
      Diabo, permaneçam desconhecidos, os feitos observados indicam que Imu
      possui habilidades ou recursos de um poder inimaginável. Imu representa a
      ameaça final e o verdadeiro arquiteto das maiores conspirações e
      manipulações no mundo de One Piece, tornando-se um personagem central para
      o desdobramento futuro da série.
    </p>
  </article>
</div>
