<div class="container">
  <article>
    <h1>Nico Robin</h1>
    <img
      src="../../../../assets/perfis/chapeus/robin/robin.gif"
      alt="gif Robin"
      class="img-gif"
      loading="eager"
    />

    <section class="historia">
      <p>
        Nico Robin, também conhecida como
        <strong>"Criança Demônio" e "Luz da Revolução"</strong>, é a arqueóloga
        dos Piratas do Chapéu de Palha. Ela é a única sobrevivente da ilha
        destruída de Ohara, localizada no West Blue. Como resultado, ela é
        atualmente a única pessoa no mundo com a capacidade de ler e decifrar
        Poneglyphs, uma habilidade que é considerada proibida e que ameaça o
        Governo Mundial.
      </p>
      <p>
        Ela foi introduzida pela primeira vez como o vice-presidente da Baroque
        Works e antagonista secundária da Saga Alabasta, conhecida como
        <strong>Miss All Sunday</strong>, antes de se juntar aos Chapéus de
        Palha. Ela é a sétima integrante da tripulação, a sexta a se unir e,
        como Nami, é a segunda a reentrar, chegando perto do final do Arco Enies
        Lobby. Robin também é o primeiro membro a ter sido um antagonista. Seu
        sonho é encontrar o Rio Poneglyph, que conta a verdadeira história. Ela
        detém atualmente uma recompensa de 930.000.000 de berrys.
      </p>
      <p>
        Como forma de herança da ilha de estudiosos, Robin é uma arqueóloga e
        historiadora que procura o conforto e a liberdade de estudar os
        mistérios do mundo. Ela é tranquila, e a membra da tripulação mais
        reservada, raramente tendo explosões de emoções. Ela ainda parece calma
        ao falar ameaçadoramente em torno de seus colegas de tripulação. Ela tem
        um "charme adulto" sobre ela, como afirmado pelo Sanji. Sendo descrito
        como a "mãe" por Oda ela mostrou uma espécie de cuidado materno para
        outros como Chopper e Momonosuke.
      </p>
    </section>

    <section class="poder">
      <h2>Hana Hana no Mi</h2>
      <img
        src="../../../../assets/dados/Frutos/Hana_Hana_no_Mi_Robin.jpg"
        alt="Hana Hana no mi"
        class="img-fruto"
      />
      <p>
        A Hana Hana no Mi é uma Akuma no Mi tipo Paramecia que permite ao
        usuário replicar e brotar pedaços de seu corpo a partir da superfície de
        qualquer objeto ou coisa viva. "Hana" é a palavra japonesa para
        "Floração" e "Flor", e reflete a natureza do poder do usuário a brotar
        suas partes do corpo como uma flor que floresce. Como mais uma alusão a
        este, as partículas de pétalas rosadas-brancas surgem e em seguida,
        formam-se a rodar, de onde as partes germinam e desaparecem, bem como em
        torno do próprio utilizador.
      </p>
      <p>
        Antes do timeskip, Robin foi capaz de brotar até cem braços ao mesmo
        tempo. Neste ápice do poder, ela poderia usar cada mão criada para
        apoiar uns aos outros e se fundirem, assim, permitindo-lhe criar mãos
        maiores para enfrentar os inimigos mais poderosos e maiores. Este
        aspecto também faz dela muito mais versátil, pois permite a ela para
        formar padrões mais intricados com seus membros brotando como "Cien
        Fleur: Wing" e "Big Tree". O único padrão para mostrar qualquer limite
        de tempo foi visto com o "Cien Fleur: Wing", em que exigia um grande
        esforço para manter a altitude, resistindo a gravidade e ganhando a sua
        dinâmica.
      </p>
      <p>
        Após o timeskip, a capacidade de duplicação de Robin tem crescido ao
        ponto de ser capaz de germinar até mil partes do corpo de uma só vez,
        que foram vistos a fundir-se com membros gigantescos. Ela também ganhou
        a habilidade de criar um clone de corpo inteiro de si mesma. Ao
        contrário do resto de suas habilidades, seu clone também é capaz de
        gerar a roupa, embora esta seja uma discrepância intencional comum a
        todas as frutas do diabo, por razões óbvias.
      </p>
    </section>

    <section class="curiosidade">
      <h2>Tragédia em Ohara</h2>
      <img
        src="../../../../assets/perfis/chapeus/robin/ohara.gif"
        alt="gif ilha Ohara"
        class="img-gif"
      />
      <p>
        Nico Robin nasceu na ilha de Ohara, e veio de uma família de
        arqueólogos. Sua mãe, Nico Olvia, saiu para o mar para encontrar a
        verdadeira história quando Robin tinha dois anos de idade, deixando-a ao
        cuidado do irmão de Olvia e sua esposa, Roji. O pai de Robin nunca foi
        revelado, Olvia afirmou que ela vai honrar o sonho do marido, ela então
        deixou de estudar os põlglifos. Robin mais tarde vagou para a Árvore do
        Conhecimento e foi autorizada a ler os livros mantidos dentro do convite
        de Clover.
      </p>
      <p>
        Com apenas oito anos de idade, cursou um exame de arqueologia e foi
        oficialmente admitida como bolsista. No entanto, quando ela anunciou que
        ela, como sua mãe, queria descobrir a história verdadeira, não
        registrada do mundo, ela foi repreendida por Clover, que lhe disse que
        ela seria banida da biblioteca se ela continuasse a espionar os outros
        estudiosos.
      </p>
      <p>
        O Governo Mundial, temendo que as descobertas dos arqueólogos revelassem
        segredos perigosos, ordenou um "Buster Call" em Ohara. Um Buster Call é
        uma ordem de destruição total, executada pela Marinha com a mobilização
        de dez navios de guerra e cinco vice-almirantes. A ilha foi
        completamente destruída, resultando na morte de quase todos os
        habitantes. Os arqueólogos, incluindo o Professor Clover, foram mortos.
        Apenas uma pessoa conhecida sobreviveu ao incidente, Nico Robin.
      </p>
      <p>
        A única sobrevivente de Ohara, tornou-se uma criminosa procurada com uma
        recompensa alta desde criança, devido à sua habilidade de ler os
        Poneglyphs. O evento reforçou o controle do Governo Mundial sobre a
        disseminação de informações históricas, tornando o estudo dos Poneglyphs
        e do Século Perdido uma atividade extremamente perigosa.
      </p>

      <h2>Enies Lobby</h2>
      <img
        src="../../../../assets/perfis/chapeus/robin/robin_enies.gif"
        alt="gif Robin"
        class="img-gif"
      />
      <p>
        Robin é capturada pela CP9, uma unidade de elite do Governo Mundial, e
        levada para Enies Lobby, uma ilha-fortaleza conhecida como "a porta da
        Justiça". O Governo Mundial quer obter informações de Robin sobre os
        Poneglyphs e o Século Perdido. Além disso, ela se entrega
        voluntariamente para proteger seus amigos, acreditando que sua presença
        coloca todos em perigo.
      </p>
      <p>
        Luffy e sua tripulação decidem resgatar Robin a todo custo. Eles
        declaram guerra ao Governo Mundial ao queimar a bandeira da instituição,
        simbolizando seu rompimento total com as autoridades corruptas. Cada
        membro dos Chapéus de Palha enfrenta um dos agentes da CP9 em batalhas
        épicas, demonstrando seu crescimento e determinação.
      </p>
      <p>
        Em um dos momentos mais emocionantes do arco, Robin finalmente revela
        seus verdadeiros sentimentos. Após anos de acreditar que não merecia
        viver e que seu conhecimento era uma maldição, ela grita para seus
        companheiros:
        <strong>"Eu quero viver!"</strong>. Essa declaração é um ponto de
        virada, mostrando que Robin encontrou um motivo para lutar e viver,
        graças ao apoio inabalável de seus amigos.
      </p>
    </section>
  </article>
</div>
