<div class="container">
  <article>
    <img
      src="../../../../assets/perfis/chapeus/robin.gif"
      alt="gif Robin"
      class="img-gif"
    />
    <h2>Nico Robin</h2>
    <p>
      Nico Robin é uma arqueóloga e a única sobrevivente do clã Ohara em One
      Piece, conhecida por seu conhecimento sobre os Poneglyphs. Seu sonho é
      descobrir a verdade por trás da história antiga do mundo, preservada nos
      Poneglyphs. Inicialmente uma inimiga dos Chapéus de Palha, Robin se juntou
      à tripulação após ser salva por eles, buscando proteção contra o Governo
      Mundial. Desde então, ela se tornou uma peça fundamental na busca pelo One
      Piece, compartilhando seu conhecimento e habilidades para desvendar os
      segredos do mundo.
    </p>

    <h2>Hana Hana no Mi</h2>
    <img
      src="../../../../assets/frutos/Hana_Hana.jpg"
      alt="Hana Hana no mi"
      class="img-fruto"
    />
    <p>
      É uma Fruta do Diabo do tipo Paramecia, a Hana Hana no Mi concede ao
      usuário a capacidade de gerar e controlar flores de sua própria vontade em
      qualquer superfície, incluindo seus próprios membros e o corpo de outras
      pessoas. Isso permite que o usuário crie múltiplas cópias de partes do
      corpo, como mãos, em qualquer lugar que desejar.
    </p>
  </article>
</div>
