<div class="titulos">
  <div class="titulo-bando marinha">
    <img
      src="../../../assets/perfis/almirante/marinha.png"
      class="caveira"
      alt="Simbolo Marinha"
    />
    <h2 class="nome-bando">MARINHA</h2>
    <img
      src="../../../assets/perfis/almirante/marinha.png"
      class="caveira"
      alt="Simbolo Marinha"
    />
  </div>
</div>
<div class="bando">
  <img
    src="../../../assets/Cartazes/marinha/garp.jpg"
    alt="Imagem Sengoku"
    class="cartaz"
    (click)="openDialogGarp(arrayCards)"
  />
  <img
    src="../../../assets/Cartazes/marinha/tsuru.jpg"
    alt="Imagem Aokiji"
    class="cartaz"
    (click)="openDialogTsuru(arrayCards)"
  />
  <img
    src="../../../assets/Cartazes/marinha/smoker.jpg"
    alt="Imagem Sengoku"
    class="cartaz"
    (click)="openDialogSmoker(arrayCards)"
  />
  <img
    src="../../../assets/Cartazes/marinha/giant.jpg"
    alt="Imagem Aokiji"
    class="cartaz"
    (click)="openDialogGiant(arrayCards)"
  />
  <img
    src="../../../assets/Cartazes/marinha/dalmatian.jpg"
    alt="Imagem Sengoku"
    class="cartaz"
    (click)="openDialogDalmatian(arrayCards)"
  />
  <img
    src="../../../assets/Cartazes/marinha/doberman.jpg"
    alt="Imagem Aokiji"
    class="cartaz"
    (click)="openDialogDoberman(arrayCards)"
  />
  <img
    src="../../../assets/Cartazes/marinha/momonga.jpg"
    alt="Imagem Sengoku"
    class="cartaz"
    (click)="openDialogMomonga(arrayCards)"
  />
  <img
    src="../../../assets/Cartazes/marinha/onigumo.jpg"
    alt="Imagem Aokiji"
    class="cartaz"
    (click)="openDialogOnigumo(arrayCards)"
  />
  <img
    src="../../../assets/Cartazes/marinha/strawberri.jpg"
    alt="Imagem Sengoku"
    class="cartaz"
    (click)="openDialogStrawberri(arrayCards)"
  />
  <img
    src="../../../assets/Cartazes/marinha/yamakaji.jpg"
    alt="Imagem Aokiji"
    class="cartaz"
    (click)="openDialogYamakaji(arrayCards)"
  />
</div>
