<div class="container">
  <article>
    <h1>Perospero</h1>
    <img
      src="../../../../assets/perfis/yonkous/bigMom/perospero.gif"
      alt="gif Perospero"
      class="img-gif"
      loading="eager"
    />

    <p>
      Charlotte Perospero é o filho mais velho da Imperatriz Big Mom e um membro
      influente da Família Charlotte em "One Piece". Ele desempenha um papel
      crucial na tripulação dos Piratas da Big Mom, frequentemente servindo como
      estrategista e conselheiro.
    </p>
    <p>
      Perospero é usuário da <strong>Pero Pero no Mi</strong>, uma Akuma no Mi
      do tipo Paramecia que lhe permite criar, controlar e transformar seu corpo
      em doces, especificamente caramelo ou açúcar. Com essa habilidade, ele
      pode moldar o caramelo em diversas formas, como armas, armadilhas e
      estruturas complexas. Ele pode até aprisionar seus oponentes em caramelo
      endurecido, imobilizando-os.
    </p>
    <p>
      Além de suas habilidades relacionadas ao caramelo, Perospero é engenhoso e
      criativo, utilizando suas habilidades de maneiras inovadoras tanto para
      ataque quanto para defesa. Sua maestria na utilização da Pero Pero no Mi o
      torna um adversário formidável.
    </p>
    <p>
      A combinação de sua inteligência estratégica e suas habilidades de fruta
      do diabo faz de Perospero um membro vital dos Piratas da Big Mom, capaz de
      enfrentar desafios complexos e liderar suas forças com eficácia.
    </p>
  </article>
</div>
