<div class="container">
  <article>
    <h1>Sanjuan Wolf</h1>
    <img
      src="../../../../assets/perfis/yonkous/barbaNegra/wolf.gif"
      alt="gif Wolf"
      class="img-gif"
      loading="eager"
    />

    <p>
      Sanjuan Wolf é um enorme gigante, conhecido como
      <strong>"Navio de Batalha Colossal"</strong> por seu tamanho, e foi
      originalmente um dos criminosos lendários que foi condenado à prisão
      perpétua no Nível 6 de Impel Down, ele acabou sendo libertado da prisão
      por Marshall D. Teach, e desde então tornou-se membro dos Piratas do Barba
      Negra. Ele é atualmente um dos Dez Capitães Colossais, como
      <strong>capitão do Sétimo Navio.</strong>
    </p>
    <p>
      Embora seja conhecido por cometer crimes que fizeram com que sua
      existência fosse apagada da história, ele parece ter uma atitude
      divertida, como visto ao comentar que foi encontrado quando tentava se
      esconder atrás da sede da Marinha. Ele também é bastante tímido, pois age
      assustado quando as pessoas percebem quem ele é, e continuou se escondendo
      enquanto o resto da equipe lutava com Barba Branca.
    </p>
    <p>
      Wolf comeu a Deka Deka no Mi, uma Akuma no Mi do tipo Paramecia que o
      permite aumentar seu tamanho além de gigantes normais. Apesar de ser fraco
      contra a água, ele é alto o suficiente para ficar em pé no oceano, com
      apenas metade do corpo submerso.
    </p>
  </article>
</div>
