<div class="container">
  <article>
    <h1>Borsalino Kizaru</h1>
    <img
      src="../../../../assets/perfis/almirante/kizaru.gif"
      alt="gif Kizaru"
      class="img-gif"
      loading="eager"
    />
    <p>
      Borsalino, mais conhecido pelo seu nome de código Kizaru, é um dos
      Almirantes da Marinha no mundo de One Piece. Ele é conhecido por sua
      personalidade peculiar, força impressionante e papel crucial na manutenção
      da ordem e da justiça sob o Governo Mundial.
    </p>
    <p>
      Kizaru é conhecido por sua atitude despreocupada e calma, muitas vezes
      parecendo lento ou indiferente, mesmo em situações de alta tensão. Ele
      fala de maneira arrastada e pausada, o que contribui para a impressão de
      que ele não leva as coisas muito a sério.
    </p>
    <p>
      Embora ele seja um defensor da justiça, Kizaru parece ter uma visão mais
      flexível em comparação com outros Almirantes como Akainu. Ele segue ordens
      e combate piratas, mas sua moralidade e lealdade à causa da justiça podem
      parecer mais pragmáticas. Sua atitude relaxada e humor peculiar tornam
      Kizaru um personagem imprevisível. Ele pode agir de maneira casual durante
      combates intensos, o que muitas vezes confunde seus oponentes.
    </p>

    <h2>Pika Pika no Mi</h2>
    <img
      src="../../../../assets/dados/Frutos/Pika_Pika_no_Mi_Kizaru.jpg"
      alt="Pika Pika no Mi"
      class="img-fruto"
    />
    <p>
      A Pika Pika no Mi é uma Fruta do Diabo do tipo Logia, esta fruta lhe
      concede a habilidade de criar, controlar e transformar seu corpo em luz,
      permitindo-lhe realizar uma variedade de ataques devastadores e se mover a
      velocidades incríveis. Kizaru pode evitar danos físicos tradicionais
      transformando-se em luz, o que também lhe dá a capacidade de viajar em
      velocidades extremas, praticamente à velocidade da luz.
    </p>
    <p>
      <strong>Yata no Kagami</strong>: Kizaru pode viajar grandes distâncias
      instantaneamente refletindo a luz em superfícies. Ele cria um feixe de luz
      que viaja até o destino desejado, e ele se move através desse feixe,
      permitindo-lhe aparecer em qualquer lugar que a luz possa alcançar. Este
      poder permite que Kizaru reaja rapidamente em combate, movendo-se mais
      rápido do que o olho humano pode acompanhar e tornando-o extremamente
      difícil de acertar.
    </p>
    <p>
      <strong>Yasakani no Magatama</strong>: Kizaru dispara múltiplos projéteis
      de luz em alta velocidade. Esses projéteis são extremamente destrutivos e
      podem causar grandes explosões ao impacto, perfurando e destruindo tudo em
      seu caminho.
    </p>
    <p>
      <strong>Amaterasu</strong>: Um poderoso ataque em que Kizaru lança um
      feixe concentrado de luz de seu dedo. Este feixe é capaz de perfurar e
      cortar através de quase qualquer material, e pode ser usado com precisão
      letal.
    </p>
    <p>
      <strong>Espada de Luz</strong>: Ele pode criar uma espada feita
      inteiramente de luz para combate corpo a corpo. Esta lâmina é extremamente
      afiada e pode cortar através de quase qualquer coisa.
    </p>
  </article>
</div>
