<div class="container">
  <article>
    <h1>São Marcus Mars</h1>
    <img
      src="../../../../assets/perfis/governo/mars.gif"
      alt="gif Mars"
      class="img-gif"
      loading="eager"
    />
    <p>
      São Marcus Mars é um dos Cinco Anciões que lideram publicamente o Governo
      Mundial, detentor do título de
      <strong>Deus Guerreiro do Meio Ambiente.</strong>
    </p>
    <p>
      Como os outros Anciões, Mars se preocupa com o equilíbrio do mundo mantido
      pelos Três Grandes Poderes e deseja mantê-lo. Isso também inclui preservar
      a imagem do Governo Mundial, deixando os eventos do Século Perdido em
      segredo, e ele e os outros Anciões destruirão imediatamente qualquer um
      que esteja estudando-o.
    </p>
    <p>
      Durante o Incidente de Ohara, ele foi cortês com Clover, reconhecendo as
      conquistas do arqueólogo e justificando o perigo de reviver as Armas
      Antigas. No momento de ordenar a morte dos estudiosos, Mars ficou
      descontente quando deu a ordem.
    </p>
    <p>
      Mars parece ver a rejeição da Família Nefertari à vida em Mary Geoise de
      modo severo, já que ele afirmou que tal ação os torna traidores. Ele
      obedecerá a qualquer ordem dada por Imu sem questionar, pois o vê como um
      "criador" que sozinho tem o poder de moldar o curso do mundo.
    </p>
    <p>
      Mars mostrou-se extremamente insensível, pois não teve nenhum problema em
      aniquilar um país altamente populoso e justificou isso porque seus
      habitantes começaram a mostrar sinais de rebelião.
    </p>

    <h2>Itsumade</h2>
    <img
      src="../../../../assets/dados/governo/mars_transformacao.jpg"
      alt="Transformação Mars"
      class="img-formas"
    />
    <p>
      <strong>
        Mars pode se transformar em um Itsumade: um pássaro yōkai monstruoso que
        é parte cobra.
      </strong>
    </p>
    <p>
      Um grande pássaro com dentes afiados, um pescoço longo e uma cauda muito
      longa em relação a seu corpo, além da imensamente útil capacidade de voo.
      <br />
      <br />
      Ele tem grandes garras afiadas, e um bico comprido, grande tamanho e uma
      cauda exessa e forte.
    </p>
    <p>
      <strong>De acordo com o Folclore</strong>, uma vila sofreu com uma
      epidemia que assolou grande parte dela, todo dia um pássaro gigante voava
      até o alto das montanhas e gritava "Até Quando", que em japonês é
      <strong>"Itsumade"</strong>.
    </p>
  </article>
</div>
