<div class="container">
  <article>
    <h1>Lindbergh</h1>
    <img
      src="../../../../assets/perfis/revolucionarios/lindbergh.gif"
      alt="gif Lindbergh"
      class="img-gif"
      loading="eager"
    />

    <section class="historia">
      <p>
        Lindbergh, ou "Lind", é um gato mink e um executivo do Exército
        Revolucionário, servindo como Comandante do Exército do Sul.
      </p>
      <p>
        Lindbergh parece gostar muito de combate, já que estava animado em ouvir
        sobre a próxima luta do Exército Revolucionário seria contra os Nobres
        Mundiais. Ele gosta de testar suas novas armas em batalha e ficou
        irritado quando Morley começou a atacar primeiro.
      </p>
      <p>
        Como executivo do Exército Revolucionário, Lindbergh ocupa uma posição
        muito poderosa na organização e, como comandante do Exército do Sul, ele
        controla todos os seus soldados.
      </p>
      <p>
        Como um membro da Tribo Mink, Lindbergh é um guerreiro natural e é capaz
        de usar o Electro, embora ele não tenha sido visto usando-o. Ele também
        é capaz de se transformar em sua forma Sulong quando vê a lua cheia,
        embora não se saiba se ele pode controlá-la.
      </p>
      <p>
        Lindbergh é um inventor altamente qualificado e talentoso, tendo criado
        armas e aparelhos de tecnologia avançada que ele usa para o combate.
        Lindbergh tem uma mochila a jato que lhe permite voar.
      </p>
    </section>
    <section class="curiosidade">
      <h2>Gyanbo</h2>
      <img
        src="../../../../assets/dados/revolucionarios/gyanbo.jpg"
        alt="Gyanbo"
        class="img-info"
      />
      <p>
        Gyanbo é o vice-comandante do Exército Sul no Exército Revolucionário e
        o assistente de Lindbergh.
      </p>
      <p>
        Como membro do Exército Revolucionário, Gyanbo não tem escrúpulos em
        desafiar o Governo Mundial, especialmente com seu status de oficial. Ele
        gosta de apostas e aproveitará qualquer oportunidade para iniciar uma.
      </p>
      <p>
        Como um vice-comandante do Exército Revolucionário, Gyanbo tem algum
        grau de comando sobre os revolucionários de baixo escalão, especialmente
        aqueles do Exército Sul, onde sua autoridade perde apenas para seu
        superior direto, Lindbergh.
      </p>
    </section>
  </article>
</div>
