<div class="container">
  <article>
    <h1>Vice-Almirante Tsuru</h1>
    <img
      src="../../../../assets/perfis/marinha/tsuru.gif"
      alt="gif Tsuru"
      class="img-gif"
      loading="eager"
    />

    <section class="historia">
      <p>
        Tsuru <strong>"Grande Oficial de Estado Maior"</strong> é uma
        vice-almirante da Marinheira extremamente famosa e poderosa, bem como a
        avó de Kujaku. Tsuru é uma das figuras principais, junto com Kong,
        Sengoku, Shiki, Silvers Rayleigh, Monkey D. Garp e o Barba Branca, da
        época em que Gol D. Roger, o "Rei dos Piratas", ainda estava vivo.
      </p>
      <p>
        Tsuru é uma mulher magra e idosa com cabelo grisalho preso em um coque.
        Seu traje parece ser menos formal do que os outros oficiais de alta
        patente, que consiste em uma camisa deixado pendurado para fora, com as
        mangas arregaçadas e gravata em volta do pescoço.
      </p>
      <p>
        Tsuru é uma fuzileira naval que está bem qualificado em táticas, sendo
        capaz de formular o próximo passo certo no local, ganhando o apelido de
        "Great Staff".
      </p>
      <p>
        Foi afirmado que todos os vice-almirantes possuem Haki, assim Tsuru
        também pode usar a habilidade. No entanto, ela ainda não foi mostrada
        usando. Em sua juventude, ela é vista com um rifle de pederneira. Como
        ela é proficiente em usá-lo é desconhecida.
      </p>
      <p>
        Tsuru comeu o Woshu Woshu no Mi, uma Akuma classe Paramecia que lhe
        permite literalmente "lavar e pendurar para secar" pessoas e objetos
        como se fossem roupas, transformando-os em plano e maleável como
        roupas.Isso desativa os adversários, tornando-os incapazes de se mover.
        Isso também pode "limpar" uma quantidade limitada de mal fora das
        vítimas, que é considerado uma habilidade perigosa contra os piratas.
      </p>
    </section>
  </article>
</div>
