<div class="container">
  <article>
    <img
      src="../../../../assets/perfis/yonkous/kaido.gif"
      alt="gif Kaido"
      class="img-gif"
    />
    <h2>Kaido das Cem Feras</h2>
    <p>
      Kaido, conhecido como "Kaido das Cem Feras", era um dos Yonkou, os quatro
      imperadores mais poderosos dos mares em One Piece. Seu sonho é iniciar uma
      grande guerra que traga o caos e a destruição ao mundo. Ele é líder do clã
      das bestas e possui uma enorme força física, sendo considerado
      indestrutível. Kaido é conhecido por sua busca incessante pela "guerra
      final", onde deseja encontrar um oponente capaz de derrotá-lo. Ele é
      derrotado pelo Luffy na Ilha de Wano.
    </p>

    <h2>Uo Uo no Mi modelo: Seiryu</h2>
    <img
      src="../../../../assets/frutos/Uo_Uo.jpg"
      alt="Uo Uo no mi"
      class="img-fruto"
    />
    <p>
      É uma Fruta do Diabo do tipo Zoan Mítica, permite ao usuário
      transformar-se em um híbrido ou em uma versão completa de Dragão Azul a
      vontade. O usuário pode usar habilidades e técnicas associadas a dragões,
      como voar, respirar fogo, criar tempestades e outros poderes, as escamas
      do fruto são tão duras que lhe garantem proteção
    </p>
  </article>
</div>
