<div class="container">
  <article>
    <h1>Jinbe</h1>
    <img
      src="../../../../assets/perfis/shishibukais/jinbe.gif"
      alt="gif Jinbe"
      class="img-gif"
      loading="eager"
    />
    <p>
      Jinbe, também conhecido como "O Cavaleiro do Mar," é um tritão da espécie
      tubarão-baleia, ele é reconhecido por sua força, sabedoria e liderança.
      Jinbe foi um dos Shichibukai, um grupo de sete piratas poderosos que
      trabalham para o Governo Mundial em troca de certas imunidades e
      privilégios. Ele aceitou a posição de Shichibukai para proteger sua terra
      natal, a Ilha dos Tritões, e promover a coexistência pacífica entre
      humanos e tritões.
    </p>

    <h2>Piratas do Sol</h2>
    <img
      src="../../../../assets/bandeiras/Jinbe.jpg"
      alt="Bandeira Piratas do Sol"
      class="img-bandeira"
    />
    <p>
      Os Piratas do Sol foram formados por Fisher Tiger, um tritão heróico que,
      após escapar da escravidão em Mariejois, dedicou sua vida a libertar
      outros escravos humanos e tritões. Após a morte de Fisher Tiger, Jinbe
      assumiu a liderança do bando. Os Piratas do Sol são conhecidos por sua
      forte oposição à escravidão e sua missão de proteger os tritões e lutar
      pela coexistência pacífica com os humanos. O símbolo dos Piratas do Sol é
      uma marca de sol, que muitos dos seus membros tatuam sobre suas marcas de
      escravidão para cobri-las.
    </p>
    <p>
      <strong>Fisher Tiger</strong>, fundador e primeiro capitão, é um tritão
      poderoso e carismático que iniciou a revolta contra a escravidão ao
      escalar a Red Line e libertar escravos de Mariejois. Sua ideologia de
      igualdade e liberdade é o fundamento dos Piratas do Sol. Era extremamente
      forte e habilidoso em combate, mas o que realmente o distinguia era seu
      carisma e liderança.
    </p>
    <p>
      <strong>Jinbe</strong>, segundo capitão, mestre em Karate dos Homens-Peixe
      e Jujutsu dos Homens-Peixe, além de ser um usuário competente de Haki.
      Jinbe é conhecido por sua força física e habilidades de combate no mar.
    </p>
    <p>
      <strong>Arlong</strong> é um tritão tubarão-serra e foi um dos membros
      mais notórios dos Piratas do Sol antes de formar sua própria tripulação,
      os Piratas Arlong, e aterrorizar o East Blue. Possui grande força física e
      habilidades em combate subaquático. É também o principal antagonista do
      arco de Arlong Park.
    </p>
    <p>
      <strong>Aladine</strong> é um tritão homem-baleia e o vice-capitão dos
      Piratas do Sol. Ele é um personagem leal e dedicado à causa dos Piratas do
      Sol. Forte e habilidoso em combate, Aladine também é um curandeiro
      competente, sendo casado com a sereia Praline.
    </p>
    <p>
      <strong>Macro</strong> é um tritão da espécie camarão e um dos comandantes
      dos Piratas do Sol. Posteriormente, ele forma sua própria tripulação, os
      Piratas Macro.
    </p>
  </article>
</div>
