<div class="container">
  <article>
    <h1>X-Drake</h1>
    <img
      src="../../../../assets/perfis/yonkous/feras/drake.gif"
      alt="gif X-Drake"
      class="img-gif"
      loading="eager"
    />

    <p>
      X-Drake é um personagem importante em "One Piece", sendo um dos Tobiroppo
      dos Piratas das Feras liderados por Kaido. Antes de se juntar à tripulação
      de Kaido, ele era um contra-almirante da Marinha e o capitão dos Piratas
      Drake.
    </p>
    <p>
      Como membro dos Tobiroppo, X Drake ocupa uma posição de destaque dentro
      dos Piratas das Feras, sendo diretamente subordinado a Kaido. Apesar de
      sua lealdade aparente, ele mantém suas próprias motivações e objetivos,
      que são revelados ao longo da história.
    </p>
    <p>
      X Drake é usuário da <strong>Ryu Ryu no Mi, Modelo: Allosaurus</strong>,
      uma Akuma no Mi do tipo Zoan Antiga. Esta fruta do diabo permite que ele
      se transforme em um dinossauro alossauro, uma criatura pré-histórica,
      concedendo-lhe uma enorme força física e durabilidade.
    </p>
    <p>
      Drake pode se transformar parcial ou totalmente em um alossauro,
      aumentando significativamente sua força, resistência e capacidades de
      combate. Em sua forma híbrida ou completa de dinossauro, ele possui
      mandíbulas poderosas e garras afiadas, tornando-se uma ameaça física
      formidável.
    </p>
  </article>
</div>
