<div class="container">
  <article>
    <h1>Benn Beckman</h1>
    <img
      src="../../../../assets/perfis/yonkous/ruivos/beckman.gif"
      alt="gif Benn Beckman"
      class="img-gif"
      loading="eager"
    />

    <p>
      Benn Beckman é o braço direito e vice-capitão dos Piratas Ruivos,
      liderados por Shanks, em "One Piece". Ele é conhecido por sua inteligência
      excepcional, habilidades de combate formidáveis e presença respeitável.
    </p>
    <p>
      <strong>Características Principais:</strong>
    </p>
    <p>
      <strong>Inteligência Estratégica:</strong> Beckman é reconhecido por sua
      mente astuta e habilidades táticas, frequentemente servindo como
      conselheiro de Shanks em situações difíceis.
    </p>
    <p>
      <strong>Poder de Combate:</strong> Sua reputação como um dos piratas mais
      poderosos do mundo é bem estabelecida, e ele é temido por inimigos e
      admirado por aliados por sua habilidade em combate.
    </p>
    <p>
      <strong>Presença Respeitável:</strong> Beckman é retratado como calmo e
      confiante, transmitindo uma aura de autoridade e liderança que inspira
      respeito entre os membros da tripulação.
    </p>
  </article>
</div>
