<div class="container">
  <article>
    <h1>Kuzan</h1>
    <img
      src="../../../../assets/perfis/yonkous/barbaNegra/kuzan.gif"
      alt="gif Daifuku"
      class="img-gif"
      loading="eager"
    />

    <p>
      Kuzan, mais conhecido por seu antigo pseudônimo Aokiji, é um dos Dez
      Capitães Colossais dos Piratas do Barba Negra, como o
      <strong>capitão do Décimo Navio</strong>. Antes de se juntar à tripulação
      do Barba Negra, ele serviu como um Almirante na Marinha, tendo sido
      ensinado por Monkey D. Garp. Ele foi nomeado por Sengoku para o cargo de
      Almirante de Frota, no entanto, depois de lutar contra Sakazuki pela
      posição e perder, Kuzan renunciou à Marinha.
    </p>
    <p>
      Depois de seu duelo em Punk Hazard, Kuzan recebeu várias cicatrizes de
      queimaduras que vão desde o lado direito do pescoço em seu ombro direito e
      em seu torso. Sua mão direita também é fortemente marcada e mais
      notadamente ele perdeu parte de sua perna esquerda, para a qual ele agora
      usa uma prótese feita de gelo formado a partir de sua capacidade Akuma.
    </p>
    <p>
      Tendo deixado os fuzileiros navais e percebendo o quão corrupto o Governo
      Mundial se tornou após o timeskip, Kuzan se tornou um andarilho. Ele ainda
      cuida de seus amigos, resgatando Smoker da fúria de Donquixote Doflamingo
      durante uma visita a Punk Hazard. No entanto, Kuzan parece estar agora
      envolvido em negócios obscuros com piratas, tendo unido forças com os
      Piratas do Barba Negra por razões desconhecidas.
    </p>
    <p>
      Doflamingo estava convencido de que Kuzan tinha algo planejado enquanto
      Smoker pensava o mesmo, pois estava ciente do envolvimento de Kuzan no
      Submundo. Kuzan assegurou a Smoker que ele não havia mudado nada,
      afirmando enigmaticamente que ele ainda poderia realizar as coisas como um
      observador independente.
    </p>
  </article>
</div>
