<div class="container">
  <article>
    <img
      src="../../../../assets/perfis/chapeus/brook.gif"
      alt="gif Brook"
      class="img-gif"
    />
    <h2>Brook Soul King</h2>
    <p>
      Brook é um esqueleto músico e espadachim dos Chapéus de Palha em One
      Piece, conhecido por seu senso de humor e devoção à música. Seu sonho é
      encontrar o lendário "Rio da Todos os Sonhos", onde espera reencontrar sua
      antiga tripulação. Brook foi originalmente um humano, mas após a morte,
      seu espírito retornou ao seu corpo esquelético graças à sua fruta do
      diabo, a Yomi Yomi no Mi. Desde então, ele se uniu aos Chapéus de Palha,
      contribuindo com sua música e habilidades em combate, enquanto continua
      sua busca pelo Rio da Todos os Sonhos.
    </p>

    <h2>Yomi Yomi no Mi</h2>
    <img
      src="../../../../assets/frutos/Yomi_Yomi.jpg"
      alt="Yomi Yomi no mi"
      class="img-fruto"
    />
    <p>
      É uma Fruta do Diabo do tipo Paramecia, a Yomi Yomi no Mi é conhecida como
      a "Fruta da Ressurreição". Ela concede ao usuário a habilidade de
      ressuscitar uma vez após a morte, retornando à vida como um ser vivo mesmo
      após ter morrido, Brook comeu a fruta após sua morte e posteriormente
      retornou à vida como um esqueleto animado.
    </p>
  </article>
</div>
