<div class="container">
  <article>
    <h1>Brook Soul King</h1>
    <img
      src="../../../../assets/perfis/chapeus/brook/brook.gif"
      alt="gif Brook"
      class="img-gif"
      loading="eager"
    />
    
    <section class="historia">
      <p>
        Brook é o Músico dos Piratas do Chapéu de Palha. Ele é um esqueleto que
        os Chapéus de Palha encontraram a bordo de um navio fantasma depois de
        entrarem no Triângulo Florian. Ele é um usuário de Akuma no Mi que comeu
        a Yomi Yomi no Mi, o que o torna um pseudo-imortal por causa de seus
        poderes.
      </p>
      <p>
        Ele é o nono membro do Bando do Chapéu de Palha, e o oitavo a se juntar
        à tripulação de Luffy. Ele é também um dos dois Espadachins a bordo de
        seu atual navio, o outro sendo Zoro. Ele preenche o cargo do tão
        esperado músico que Luffy queria para sua tripulação desde que sua
        jornada começou. Brook foi nomeado pela marinha como um dos comandantes
        de Luffy, Sua recompensa atual é de 383.000.000 de berrys.
      </p>
      <p>
        Brook é um personagem excêntrico com uma personalidade distinta assim
        como todos os outros Piratas do Chapéu de Palha. Enquanto ele parece ser
        um cavalheiro, ele possui modos vulgares e pervertidos, como pedir para
        ver as calcinhas das mulheres (embora no caso de uma sereia ele pergunte
        se elas podem emprestar-lhe algum dinheiro - no entanto, ele fez essa
        pergunta para a Princesa Sereia de qualquer maneira), gritando com
        impaciência por comida (um traço compartilhado com seu capitão) e,
        ocasionalmente, arrotando e peidando de forma visível (e cômica). Apesar
        deste comportamento, ele ainda continua muito educado geralmente se
        referindo as pessoas como "-san" e sempre fala com todos os inimigos de
        maneira muito cortês.
      </p>
    </section>

    <section class="poder">
      <h2>Yomi Yomi no Mi</h2>
      <img
        src="../../../../assets/dados/Frutos/Yomi_Yomi_no_Mi_Brook.jpg"
        alt="Yomi Yomi no mi"
        class="img-fruto"
      />
      <p>
        A Yomi Yomi no Mi é uma Akuma no Mi tipo Paramecia, que permite ao
        usuário voltar à vida depois de morrer. O nome é derivado de Yomigaeru,
        que significa "Ressurreição", ou, propriamente dito, Yomi, é o nome do
        submundo japonês.
      </p>
      <p>
        A principal vantagem da fruta, como demonstrado por Brook, é que ela
        oferece a seus usuário uma outra vida depois de ser morto. Após a morte,
        o usuário continua a existir em qualquer estado que foi revivido e pode
        até mesmo ir tão longe a ponto de conceder uma forma de "imortalidade"
        que dura até que o usuário morra de afogamento, e seu corpo permaneça na
        água.
      </p>
      <p>
        No entanto, como o principal atributo do fruto é a ressurreição, o poder
        da Yomi Yomi no Mi permanecerá inativo até o momento em que o consumidor
        sofra a sua primeira morte. Como resultado, até que o usuário sofra a
        sua primeira morte, os únicos aspectos que o fruto dão em cima de sua
        alma são os pontos fracos típicos de uma Akuma no Mi.
      </p>
      <p>
        Enquanto a fruta pode fazer o usuário ser um morto-vivo de sorte, que no
        entanto concede ao usuário a capacidade de ainda sentir dor como prova
        de que têm sido verdadeiramente ressuscitado à vida, independentemente
        da condição física de terem sido revividos. Esta é uma nota digna porque
        isso separa o poder da Yomi Yomi no Mi dos zumbis criados pela Kage Kage
        no Mi, porque embora ambos os poderes trabalham para fazer os mortos
        sejam vivos novamente, a Kage Kage no Mi não "revive" eles
        verdadeiramente em tudo. Fora isso, o usuário continua a ser afetado
        pela fragilidade padrão das Akuma no Mi.
      </p>
    </section>

    <section class="curiosidade">
      <h2>Laboon</h2>
      <img
        src="../../../../assets/perfis/chapeus/brook/laboon.gif"
        alt="gif Baleia Laboon"
        class="img-gif"
      />
      <p>
        Cinquenta e dois anos atrás, Brook fazia parte da tripulação pirata de
        Yorki, a Rumbar Pirates, sendo um dos vários músicos que compunham
        grande parte da tripulação. Enquanto ele e o resto da tripulação ainda
        estavam no West Blue, seu navio um dia foi seguido por uma baleia bebê
        que havia se perdido. Vendo que a baleia estava realmente chateada,
        Brook sugeriu a seu capitão que eles deveriam tocar um pouco de música
        para animar a baleia. Juntamente com o resto da tripulação, Brook tocou
        uma música bonita que resolveu o problema.
      </p>
      <p>
        No dia seguinte, Brook e o resto da tripulação descobriram que a baleia
        tinha continuado a segui-los. Apesar disso, Brook e o resto da
        tripulação permitiram que a baleia os seguisse e até mesmo deram a
        baleia um nome, Laboon. Desde então, Brook e o resto da tripulação deram
        a volta aventurar com Laboon marcação junto. Juntos, eles passaram por
        um monte durante todo o tempo cantando canções alegres juntos. Como eles
        viajaram juntos com Laboon, muitos dos companheiros de tripulação de
        Brook notou que ele era o único que estava mais próximo de Laboon.
      </p>
      <p>
        Quando Brook e o resto dos Piratas Rumbar estavam prestes a entrar na
        Grand Line, de repente, enfrentou um dilema então. Desde Laboon ainda
        era um bebê, eles temiam que o Grand Line foi lugar muito perigoso para
        um jovem baleia tal. O resto dos piratas Rumbar tentou convencer Laboon
        para permanecer no West Blue, mas não conseguiu, portanto, Brook foi
        pedido para dizer Laboon para ficar pessoalmente. Brook tentou convencer
        Laboon mas igualmente falhou. Incapaz de fazer qualquer outra coisa,
        Brook e os outros piratas Rumbar tentou ignorar Laboon na esperança de
        que a baleia seria dissuadido de segui-los e sair. O plano deles
        aparentemente funcionou e Laboon não foi avistado por algum tempo.
      </p>
      <p>
        No entanto, quando Brook eo resto dos Piratas Rumbar entrou no Grand
        Line, eles foram surpreendidos que Laboon os tinha seguido para o Grand
        Line através da Montanha Reversa. Vendo que seu navio tinha alguns
        reparos a ser feitos de qualquer maneira, Brook e do resto da tripulação
        continuou a cantar junto com a baleia enquanto o navio estava a ser
        corrigido. Após três meses de fixação do seu navio, Brook e no resto dos
        Piratas Rumbar decidiu deixar Laboon sob os cuidados de Crokus. Eles
        prometeram Laboon, então, que eles voltariam para a baleia depois de ir
        ao redor do mundo. Até então Laboon teria se tornado muito grande e,
        portanto, eles também prometeu levar Laboon junto com eles em suas
        aventuras.
      </p>

      <h2>Morte dos piratas Rumbar</h2>
      <img
        src="../../../../assets/perfis/chapeus/brook/brook_morte.gif"
        alt="gif Piratas Rumbar"
        class="img-gif"
      />
      <p>
        Como Brook e o resto dos Piratas Rumbar viajou por todo o Grand Line,
        eles experimentaram todos os desafios que o mar tinha para oferecer.
        Apesar das dificuldades, eles simplesmente cantavam juntos enquanto
        continua a navegar. No entanto, o capitão Yorki, e vários outros tinham
        apanhado uma doença incurável enquanto desembarcando em uma floresta.
        Para que a doença não se espalhe para o resto da tripulação que não
        estavam infectadas, Yorki decidiu tomar a si mesmo e os infectados em um
        navio e tentar escapar da Grand Line, passando pelo Calm Belt. Com isso,
        Brook e os restantes dos piratas foram divididos de Yorki.
      </p>
      <p>
        Apesar de ter perdido metade da tripulação, Brook e os restantes piratas
        Rumbar continuaram navegando através do Grand Line em um novo navio. Ele
        foi nomeado para ser o seu novo capitão e enquanto viajavam pelo mar,
        Brook ganhou uma recompensa para si mesmo. As coisas correram bem para
        Brook e os restantes Piratas Rumbar no início, no entanto ao entrar no
        Triângulo Florian, Brook e seus colegas de tripulação restantes foram
        atacados por alguns piratas inimigos. Brook e alguns de seus colegas de
        tripulação foram capazes de sobreviver ao assalto, no entanto, uma vez
        que o inimigo tinha contaminado suas armas com veneno e que o médico dos
        piratas Rumbar foi morto no ataque, Brook e os sobreviventes foram
        lentamente perdendo. Sabendo que ele tinha comido o Yomi Yomi no Mi,
        Brook sugeriu uma última coisa a seus colegas de tripulação.
      </p>
      <p>
        Ele sugeriu que eles deveriam tocar uma última canção que seria gravado
        em um Dial de discagem que tinham anteriormente comprado de um
        comerciante e que após a morte, Brook tomaria esta Dial e tocaria para
        Laboon ouvir. Radiante com a proposta de Brook, o restante Piratas
        Rumbar reuniu o pouco que tinham força e começaram a cantar a sua música
        favorita pela última vez. Apesar de trazer alegria a gravar a sua
        canção, o restante Piratas Rumbar lentamente sucumbiu ao veneno e morreu
        um após o outro. Cada um deles caiu com sorrisos em seus rostos, até que
        apenas Brook foi deixado. Com o coração pesado e lembrando a promessa
        que fez a Laboon, Brook continuou tocando sozinho até que ele finalmente
        sucumbiu ao veneno e morreu.
      </p>
    </section>
  </article>
</div>
