<div class="container">
  <article>
    <h1>Monkey D. Garp</h1>
    <img
      src="../../../../assets/perfis/marinha/garp.gif"
      alt="gif Garp"
      class="img-gif"
      loading="eager"
    />

    <section class="historia">
      <p>
        Monkey D. Garp, também conhecido como
        <strong>"Garp, o Punho",</strong> é um Vice-Almirante da Marinha
        extremamente famoso e poderoso. Ele é o pai de Monkey D. Dragon, o avô
        paterno de Monkey D. Luffy, e o avô adotivo de Portgas D. Ace. Ele foi
        responsável por supervisionar o nascimento de Ace e criar o jovem Luffy,
        antes de confiar os dois à Família Dadan.
      </p>
      <p>
        Garp é uma figura importante, ao lado de Kong, Sengoku, Shiki, Silvers
        Rayleigh, Tsuru e Barba Branca, da época em que Gol D. Roger, o "Rei dos
        Piratas", ainda estava vivo. Seus feitos como soldado da Marinha lhe
        renderam imensa notoriedade e prestígio, e suas ações durante o
        Incidente de God Valley, em particular, lhe conferiram o título de
        <strong>"Herói da Marinha"</strong>. Notavelmente, Garp recebeu a oferta
        do posto de Almirante várias vezes ao longo de sua carreira, mas recusou
        a promoção devido ao seu profundo ódio e desprezo pelos Nobres Mundiais.
        Ele também é o antigo mentor de Kuzan.
      </p>
      <p>
        Garp foi apresentado pela primeira vez durante a história de capa Diário
        de Koby-Meppo, na qual ele se encarregou do treinamento de Koby e
        Helmeppo. Após a guerra e a morte de Ace, ele se tornou instrutor da
        Marinha para treinar novos recrutas, embora ainda mantivesse o posto de
        vice-almirante, que não é conhecido pelo público e parece que ele se
        aposentou. Durante sua missão de resgatar Koby dos Piratas do Barba
        Negra, Garp foi gravemente ferido e forçado a ser deixado para trás e,
        como resultado, foi declarado que ele "desapareceu em combate".
      </p>
      <p>
        Devido às suas ações, ele pode ser considerado o principal antagonista
        do Arco Pós-Enies Lobby. Ele também é um antagonista secundário no Arco
        Marineford.
      </p>
    </section>
  </article>
</div>
