<div class="container">
  <article>
    <img
      src="../../../../assets/perfis/yonkous/shanks.gif"
      alt="gif Shanks"
      class="img-gif"
    />
    <h2>Shanks - Ruivo</h2>
    <p>
      Shanks é um dos Yonkou em One Piece, conhecido por sua calma e grande
      carisma. Seu sonho é um mistério, mas ele valoriza a liberdade e a
      amizade. Shanks é o responsável por inspirar Monkey D. Luffy a se tornar
      um pirata e deu a ele o chapéu de palha que se tornou seu símbolo. Até o
      momento atual, ele continua a ser uma figura influente nos mares, mantendo
      relações diplomáticas com outras potências e exercendo sua influência para
      manter a paz.
    </p>

    <h2>Chapéu de Palha</h2>
    <img
      src="../../../../assets/frutos/shanks.jpg"
      alt="Herança do chapeu de palha"
      class="img-fruto"
    />
    <p>
      O Chapéu de Palha foi inicialmente usado por Gol D. Roger, o lendário Rei
      dos Piratas, que é uma figura de grande importância na história de "One
      Piece". Após sua execução, o chapéu foi mantido por seu antigo
      companheiro, Shanks, que o considera um símbolo do espírito livre e da
      jornada épica de Roger. Como um gesto de confiança e reconhecimento do
      potencial de Luffy, Shanks passa o Chapéu de Palha para ele quando se
      despedem. Esse ato é um símbolo de herança, amizade e inspiração. Luffy
      aceita o chapéu com gratidão e determinação, assumindo a responsabilidade
      de realizar seus sonhos e honrar a promessa que fez a Shanks.
    </p>
  </article>
</div>
