<div class="container">
  <article>
    <h1>São Topman Warcury</h1>
    <img
      src="../../../../assets/perfis/governo/warcury.gif"
      alt="gif Akainu"
      class="img-gif"
      loading="eager"
    />

    <p>
      São Topman Warcury é um dos Cinco Anciões que lideram publicamente o
      Governo Mundial,[1] detentor do título de
      <strong>Deus Guerreiro da Justiça.</strong>
    </p>
    <p>
      Como os outros Anciões, Warcury se preocupa com o equilíbrio do mundo
      mantido pelas Três Grandes Potências e deseja mantê-lo. Ele parece ser
      paciente, já que se contentou em observar as ações potencialmente
      ameaçadoras de Shanks e não se apressou em intervir. No entanto, ele
      amaldiçoou Crocodile e Luffy por ameaçar o equilíbrio quando o último
      removeu o primeiro dos Shishibukais, dizendo que Luffy não poderia ser
      perdoado.
    </p>
    <p>
      Ele parece levar a sério as posições de autoridade, pois desaprovava que o
      almirante Aokiji saísse sozinho sem contar a ninguém. Como os outros
      Anciões, ele tem pouca tolerância para pessoas de escalão inferior que
      desafiam sua autoridade, como mostrado durante a reunião dos Anciões com o
      Almirante da Frota da Marinha Sakazuki .
    </p>
    <p>
      Warcury foi especialmente abrasivo com Sakazuki, lembrando-o de seu lugar
      e falhas ao mencionar como Aokiji uniu forças com Barba Negra. Ele leva a
      rebelião muito a sério e disse que a aniquilação do Reino Lulusia poderia
      servir de exemplo para outros governos instáveis.
    </p>
    <p>
      Comparado aos outros Anciãos, Warcury parece mostrar fragmentos de
      consciência em relação à vida de seus súditos. Quando Imu ordenou que o
      reino de Lulusia fosse aniquilado, Warcury mencionou o fato de que o reino
      era densamente povoado, no entanto, ele não teve escrúpulos em prosseguir
      com isso, uma vez que Imu reafirmou a decisão. Ele também parece valorizar
      a harmonia racial, pois ficou descontente ao saber da renúncia de Jinbe
      dos Shishibukais, que mantinham laços entre humanos e homens-peixe.
    </p>

    <h2>Fengxi</h2>
    <img
      src="../../../../assets/dados/governo/warcury_transformacao.jpg"
      alt="Transformação Warcury"
      class="img-formas"
    />
    <p>
      <strong>
        Warcury pode se transformar em um Fengxi: um yāoguài javali monstruoso,
        com quatro presas.
      </strong>
    </p>
    <p>
      Um Javali costuma ser associado a um porco, e é uma criatura muito
      relacionada a divindades no Japão. Warcury é rápido, forte na investida e
      suas presas são incrívelmente afiadas, agilidade é um grande forte desse
      porco poderoso. Não por falta de motivos alguns animais nem tentam
      preda-lo.
    </p>
    <p>
      <strong>Presas Afiadas.</strong> Um rugido extremamente poderoso utilizado
      junto a Haki do Rei. Além disso sua cabeça é dura o suficiente para
      machucar a mão de Luffy.
    </p>
  </article>
</div>
