<div class="container">
  <article>
    <h1>King O Incêndio</h1>
    <img
      src="../../../../assets/perfis/yonkous/feras/king.gif"
      alt="gif King"
      class="img-gif"
      loading="eager"
    />

    <p>
      King é um dos personagens mais poderosos e imponentes em "One Piece",
      servindo como o braço direito de Kaido e um dos líderes mais respeitados
      dos Piratas das Feras. Ele é reconhecido por suas habilidades de combate
      formidáveis, sua aparência intimidante e seu papel crucial na tripulação
      de Kaido. Ele sempre é visto usando uma máscara negra que cobre seu rosto,
      além de um uniforme preto com detalhes em vermelho e um par de asas negras
      que indicam sua origem racial.
    </p>
    <p>
      King é um guerreiro calmo, mas feroz, que mantém uma postura autoritária e
      intimidadora. Ele é extremamente leal a Kaido e acredita firmemente na
      visão de seu capitão. King é conhecido por sua disciplina e sua capacidade
      de manter a ordem entre os membros dos Piratas das Feras. Ele raramente
      demonstra emoções, mas é implacável em combate, mostrando pouca
      misericórdia aos seus inimigos.
    </p>
    <p>
      King é um espadachim habilidoso, usando uma longa espada com grande
      destreza e força. Ele combina suas habilidades de espada com sua
      capacidade de voo para executar ataques mortais. King é capaz de produzir
      e manipular fogo, uma habilidade que lhe deu o apelido de "King, o
      Incêndio". Ele pode envolver seu corpo em chamas e lançar ataques
      incendiários devastadores.
    </p>
    <p>
      <strong>Guardião de Onigashima:</strong> Durante os eventos em Wano, King
      desempenha um papel crucial na defesa de Onigashima, combatendo as forças
      aliadas aos Samurais e aos Piratas do Chapéu de Palha. Sua presença é uma
      garantia da força defensiva da fortaleza de Kaido.
    </p>

    <h2>Ryu Ryu no Mi - Modelo: Pteranodonte</h2>
    <img
      src="../../../../assets/dados/Frutos/Ryu_Ryu_no_Mi_King.jpg"
      alt="Ryu Ryu no Mi"
      class="img-fruto"
    />
    <p>
      A Ryu Ryu no Mi, Modelo: Pteranodon, permite que King se transforme em um
      pteranodonte, uma criatura pré-histórica voadora, ou em uma forma híbrida
      entre humano e pteranodonte. Esta fruta concede-lhe habilidades únicas e
      impressionantes no campo de batalha.
    </p>
    <p>
      Na forma de pteranodonte, ele possui força física significativa,
      permitindo ataques poderosos e esmagadores do ar. King pode voar a altas
      velocidades, dando-lhe uma mobilidade excepcional e a capacidade de atacar
      a partir de diversas direções.
    </p>
    <p>
      Na forma híbrida, King mantém a força e a capacidade de voo do
      pteranodonte, juntamente com a habilidade de usar armas e lutar com
      técnicas humanas. Utiliza sua forma híbrida para realizar ataques
      combinados de força bruta e manobras aéreas ágeis.
    </p>
    <p>
      Como um Zoan Antigo, King possui uma durabilidade excepcional,
      permitindo-lhe suportar danos massivos e continuar a lutar. Sua
      resistência é complementada por sua habilidade de regeneração aprimorada.
    </p>
  </article>
</div>
