<h2>Pior Geração</h2>
<div class="bando">
  <img
    src="../../../assets/Cartazes/piorGeracao/apoo.jpg"
    alt="Cartaz de procurado"
    class="cartaz"
  />
  <img
    src="../../../assets/Cartazes/piorGeracao/bonney.jpg"
    alt="Cartaz de procurado"
    class="cartaz"
  />
  <img
    src="../../../assets/Cartazes/piorGeracao/capone.jpg"
    alt="Cartaz de procurado"
    class="cartaz"
  />
  <img
    src="../../../assets/Cartazes/piorGeracao/drake.jpg"
    alt="Cartaz de procurado"
    class="cartaz"
  />
  <img
    src="../../../assets/Cartazes/piorGeracao/hawkins.jpg"
    alt="Cartaz de procurado"
    class="cartaz"
  />
  <img
    src="../../../assets/Cartazes/piorGeracao/kid.jpg"
    alt="Cartaz de procurado"
    class="cartaz"
  />
  <img
    src="../../../assets/Cartazes/piorGeracao/law.jpg"
    alt="Cartaz de procurado"
    class="cartaz"
  />
  <img
    src="../../../assets/Cartazes/piorGeracao/urouge.jpg"
    alt="Cartaz de procurado"
    class="cartaz"
  />
</div>
