<div class="container">
  <article>
    <h1>Vice-Almirante John Giant</h1>
    <img
      src="../../../../assets/perfis/marinha/giant.gif"
      alt="gif John Giant"
      class="img-gif"
      loading="eager"
    />

    <section class="historia">
      <p>
        O vice-almirante John Giant é um dos oficiais da marinha do Quartel
        General da Marinha. Ele é o primeiro gigante a ser revelado na série,
        apesar de sua raça ser revelada mais tarde do que a sua primeira
        aparição.
      </p>
      <p>
        John Giant sendo um gigante ,isso lhe concede força e resistência que é
        várias vezes maior do que a de um super-humano médio. Ele é um
        espadachim com uma katana que se encaixa o seu tamanho.
      </p>
      <p>
        No entanto, suas habilidades não pode ser claramente determinada como
        ele lutou contra o poderoso Barba Branca, mas foi rapidamente derrotado.
      </p>
      <p>
        Afirmou-se que todos os vice-almirantes possuem Haki, portanto, John
        também pode usar a habilidade. No entanto, ele ainda não foi mostrado
        usando.
      </p>
    </section>
  </article>
</div>
