<div class="container">
  <article>
    <h1>Vista da Rosa</h1>
    <img
      src="../../../../assets/perfis/yonkous/barbaBranca/vista.gif"
      alt="gif Vista"
      class="img-gif"
    />
    <p>
      Vista, também conhecido como "Vista da Rosa," é o Comandante da Quinta
      Divisão dos Piratas do Barba Branca em "One Piece." Ele é reconhecido como
      um dos maiores espadachins do mundo.
    </p>
    <p>
      <strong>Características Principais:</strong>
    </p>
    <p>
      <strong>Habilidades de Combate:</strong> Vista é um mestre espadachim,
      utilizando duas espadas em combate com grande habilidade e destreza. Sua
      técnica é elegante e poderosa, o que lhe permite enfrentar adversários de
      alto nível.
    </p>
    <p>
      <strong>Lealdade:</strong> Ele é extremamente leal a Barba Branca e seus
      companheiros de tripulação, lutando ferozmente para proteger seus aliados
      e territórios.
    </p>
    <p>
      <strong>Aparência:</strong> Vista tem uma aparência distinta com seu
      grande bigode, cabelos longos e uma rosa presa em seu chapéu, o que lhe dá
      o apelido "Vista da Rosa." Vista é conhecido por sua força, habilidade com
      espadas e lealdade, sendo um membro crucial dos Piratas do Barba Branca.
    </p>
  </article>
</div>
