<div class="container">
  <article>
    <h1>Page One</h1>
    <img
      src="../../../../assets/perfis/yonkous/feras/pageOne.gif"
      alt="gif Page One"
      class="img-gif"
      loading="eager"
    />

    <p>
      Page One é um membro dos Piratas das Feras, destacando-se por suas
      habilidades como usuário da fruta do diabo Ryu Ryu no Mi, Modelo:
      Spinosaurus. Esta Akuma no Mi concede-lhe a capacidade de se transformar
      em um espinossauro, uma espécie de dinossauro pré-histórico.
    </p>
    <p>
      Quando assume sua forma completa de espinossauro, Page One ganha uma força
      física imensa e mandíbulas poderosas, capazes de causar danos devastadores
      em seus oponentes. Sua resistência é notável, permitindo-lhe suportar
      ataques poderosos.
    </p>
    <p>
      Page One também pode adotar uma forma híbrida, combinando características
      humanas com a força e agilidade do espinossauro. Essa forma lhe confere
      versatilidade em combate, permitindo-lhe atacar com eficiência em
      diferentes situações.
    </p>
  </article>
</div>
