<div class="container">
  <article>
    <h1>Issho Fujitora</h1>
    <img
      src="../../../../assets/perfis/almirante/fujitora.gif"
      alt="gif Fujitora"
      class="img-gif"
      loading="eager"
    />
    <p>
      Fujitora, cujo nome verdadeiro é Issho, é um Almirante da Marinha no mundo
      de One Piece. Ele é um personagem introduzido após o salto temporal de
      dois anos e faz sua primeira aparição durante o Arco de Dressrosa. Antes
      de se juntar à Marinha, Fujitora era um espadachim errante que se cegou
      intencionalmente para não ver as atrocidades do mundo. Apesar de sua
      cegueira, ele desenvolveu um poderoso senso de justiça e um forte desejo
      de proteger os inocentes.
    </p>
    <p>
      Fujitora é um defensor da abolição do sistema Shichibukai e apresenta essa
      proposta durante a Reverie. Sua iniciativa é um passo significativo para
      mudar a estrutura de poder do mundo. Seu apoio aberto à abolição do
      Shichibukai coloca Fujitora em desacordo com os Gorosei e outras figuras
      de poder dentro do Governo Mundial.
    </p>
    <p>
      Atualmente ele ocupa a posição de Almirante, um dos cargos mais altos e
      respeitados dentro da Marinha. Ele foi recrutado através do "Draft
      Mundial" da Marinha, uma seleção de novos almirantes realizada após os
      eventos de Marineford.
    </p>
    <p>
      Fujitora é um espadachim extremamente talentoso. Ele usa uma katana que
      pode manipular com precisão e força devastadora. Apesar de ser cego,
      Fujitora possui um Kenbunshoku Haki (Haki da Observação) altamente
      desenvolvido, permitindo-lhe sentir e reagir a presenças ao seu redor com
      grande precisão.
    </p>

    <h2>Zushi Zushi no Mi</h2>
    <img
      src="../../../../assets/dados/Frutos/Zushi_Zushi_no_Mi_Fujitora.jpg"
      alt="Zushi Zushi no Mi"
      class="img-fruto"
    />
    <p>
      A Zushi Zushi no Mi é uma Fruta do Diabo do tipo Paramecia consumida por
      Fujitora. Esta fruta lhe concede a habilidade de manipular a gravidade ao
      seu redor, permitindo-lhe realizar uma variedade de feitos impressionantes
      e devastadores. Ele pode aumentar ou diminuir a força gravitacional em uma
      área específica ou direcionar a gravidade para atacar ou defender. Ele
      pode criar campos de gravidade que afetam tudo dentro de uma determinada
      área, fazendo com que objetos e pessoas sejam puxados para baixo com uma
      força esmagadora.
    </p>
    <p>
      <strong>Gravitational Slash</strong>: Fujitora pode imbuir sua espada com
      energia gravitacional, criando poderosos cortes que liberam ondas de
      gravidade que esmagam o que quer que toquem.
    </p>
    <p>
      <strong>Gravitational Pull</strong>: Ele pode puxar objetos, pessoas e até
      mesmo grandes estruturas em sua direção com força esmagadora, usando a
      gravidade para controlar o campo de batalha.
    </p>
    <p>
      <strong>Meteor Shower</strong>: Uma das habilidades mais devastadoras de
      Fujitora é sua capacidade de atrair meteoros do espaço e lançá-los contra
      seus inimigos. Esses meteoros causam destruição em larga escala ao
      impacto, criando crateras e explodindo tudo ao seu redor. Fujitora pode
      controlar a trajetória dos meteoros, garantindo que eles atinjam seus
      alvos com precisão e causando danos máximos.
    </p>
    <p>
      <strong>Escudo Gravitacional</strong>: Fujitora pode criar campos
      gravitacionais defensivos que desviam ou bloqueiam ataques inimigos. Esses
      campos podem ser usados para proteger a si mesmo e a outros de danos
      significativos.
    </p>
    <p>
      <strong>Barreira de Gravidade</strong>: Ele pode criar barreiras
      gravitacionais que impedem a aproximação de inimigos, mantendo-os a uma
      distância segura.
    </p>
    <p>
      <strong>Levitación</strong>: Fujitora pode usar sua habilidade de
      gravidade para levitar e voar, controlando a direção e a velocidade do seu
      movimento no ar. Ele pode diminuir o peso de objetos e pessoas, permitindo
      que eles se movam com mais facilidade ou até mesmo flutuem.
    </p>
  </article>
</div>
